<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content">
	<head>
		<meta charset="UTF-8">
		<title>이조텍스SCM</title>
	</head>
	<body>
		<h3 class="fs-3 fw-bold">| 입고 문서 관리</h3>
		<div class="card card-body mt-3">
			<div class="row">
				<div class="col-5 card card-body m-2"
					style="background-color: #d3d3d3;">
					<p class="fs-5 fw-bolder">주문 정보</p>
					<table class="table mt-3">
						<tbody>
							<!-- 첫 번째 줄 -->
							<tr>
								<!-- 							<td class="col-auto"><label class="col-form-label">주문코드</label>
									<input type="text" id="productOrderCode" class="form-control"
									readonly></td> -->
								<td class="col-auto"><label class="col-form-label">제품코드</label>
								 <input type="text" id="charger" class="form-control"></td>
								<td class="col-auto"><label class="col-form-label">제품명</label>
									<input type="text" id="empCode" class="form-control" readonly></td>
							</tr>
							<!-- 두 번째 줄 -->
							<tr>
								<td class="col-auto"><label class="col-form-label">대분류</label>
								<select class="form-control">
									<option value="null">전체</option>
								</select></td>
								<td class="col-auto"><label class="col-form-label">소분류</label>
								<select class="form-control">
									<option value="null">전체</option>
								</select></td>
							</tr>
						</tbody>
					</table>
					<div class="d-flex justify-content-center gap-2">
						<button class="btn btn-secondary mag-glass-btn btn-sm"><i class="fa-solid fa-magnifying-glass icon-left-sm" style="color: #646464;"></i></button>
						<button class="btn btn-warning mag-glass-btn btn-sm"><i class="fa-solid fa-repeat icon-left-sm" style="color: #ffffff;"></i></button>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class=row>
			<div class="col-5 card card-body m-2">
				<p class="fs-5 fw-bolder mt-2">창고 목록</p>
					<div class="d-flex justify-content-end gap-2">
						<button class="btn btn-warning" style="width:150px; margin-bottom: 20px;">PDF내보내기</button>
					</div>
					<div id="docManagement"></div>
			</div>
		</div>
		
		
		
		<script>
			const dataSource = {
					api: {
						readData: { url: 'http://localhost:80/store/DomList', method: 'GET' },
					},
					contentType: 'application/json',
			};
			
			
			const domListGrid = new Grid({
				el: document.getElementById('docManagement'),
				rowHeaders: ['rowNum', 'checkbox'],
				pageOptions:{
					useClient: false,
					perPage: 10
				},
				columns: [
					{ header: "공급코드", name: "supplyPlanCode", align: "center" },
					{ header: "제품코드", name: "productCode", align: "center" },
					{ header: "색상", name: "productColor", align: "center" },
					{ header: "사이즈", name: "productSize", align: "center" },
					{ header: "공급량", name: "supplyQy", align: "center" },
					{ header: "공급일", name: "supplyDate", align: "center" },
				],
				data: dataSource,
			})
			
			
			
			
			
			
		</script>
		
		
	</body>
</html>