<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content">
	<head>
		<meta charset="UTF-8">
		<title>이조텍스SCM</title>
	</head>
	<body>
		<h3 class="fs-3 fw-bold">| 입고 문서 관리</h3>
		<div class="card card-body mt-3">
			<div class="row ps-2">
	  <div class="col-12 card card-body m-2" style="background-color: #d3d3d3;">
	    <p class="fs-5 fw-bolder">제품 정보</p>
	
			    <div class="row ps-2">
							
						<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">공급코드</label>
						<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
							<input type="text" class="form-control pointer bg-white" id="searchReturnCode" placeholder="찾기" >
						</div>
						<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">제품코드</label>
						<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
							<input type="text" class="form-control pointer bg-white" id="requestor" placeholder="찾기" >
						</div>
						<label  class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">색상</label>
						<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
							<select class="form-control" id="se">
								<option value="null">제품/자재</option>
								<option value="PT02">제품</option>
								<option value="PT01">자재</option>
							</select>
						</div>
						<label  class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">사이즈</label>
						<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
							<select class="form-control" id="se">
								<option value="null">제품/자재</option>
								<option value="PT02">제품</option>
								<option value="PT01">자재</option>
							</select>
						</div>
						
						<label class="col-3 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">반품 요청일</label>
						<div class="col-8 col-sm-3 col-lg-2 d-flex mb-2" style="margin-right: 50px;">
							<input type="date" class="form-control text-end" id="startRequestDate" style="margin-right: 10px;"> ~ 
							<input type="date" class="form-control text-end" id="endRequestDate" style="margin-left: 10px;">
						</div>
						
						<label class="col-3 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">반품 요청일</label>
						<div class="col-8 col-sm-3 col-lg-2 d-flex mb-2" style="margin-right: 50px;">
							<input type="date" class="form-control text-end" id="startRequestDate" style="margin-right: 10px;"> ~ 
							<input type="date" class="form-control text-end" id="endRequestDate" style="margin-left: 10px;">
						</div>
						
						
						<!-- <label  class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">구분</label>
						<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
							<select class="form-control" id="se">
								<option value="null">제품/자재</option>
								<option value="PT02">제품</option>
								<option value="PT01">자재</option>
							</select>
						</div> -->
					</div>
			
			    <!-- 버튼 -->
			    <div class="d-flex justify-content-center mt-2">
		           <button type="button" id="planSearchBtn" class="btn btn-secondary mag-glass-btn me-2" onclick="searchReturnList()"><i class="fa-solid fa-magnifying-glass icon-left" style="color: #646464;"></i></button>
		           <button type="reset" class="btn btn-warning mag-glass-btn"><i class="fa-solid fa-repeat icon-left" style="color: #ffffff;"></i></button>
		         </div>
			  </div>
			</div>
		</div>
		
		
		<div class=row>
			<div class="col-5 card card-body m-2">
				<p class="fs-5 fw-bolder mt-2">창고 목록</p>
					<div class="d-flex justify-content-end gap-2">
						<button class="btn btn-warning" style="width:150px; margin-bottom: 20px;">PDF내보내기</button>
					</div>
					<div id="docManagement"></div>
			</div>
		</div>
		
		
		
		<script>
			const dataSource = {
					api: {
						readData: { url: 'http://localhost:80/store/DomList', method: 'GET' },
					},
					contentType: 'application/json',
			};
			
			
			const domListGrid = new Grid({
				el: document.getElementById('docManagement'),
				rowHeaders: ['rowNum', 'checkbox'],
				pageOptions:{
					useClient: false,
					perPage: 10
				},
				columns: [
					{ header: "공급코드", name: "supplyPlanCode", align: "center" },
					{ header: "제품코드", name: "productCode", align: "center" },
					{ header: "색상", name: "productColor", align: "center" },
					{ header: "사이즈", name: "productSize", align: "center" },
					{ header: "공급량", name: "supplyQy", align: "center" },
					{ header: "공급일", name: "supplyDate", align: "center" },
				],
				data: dataSource,
			})
			
			
			
			
			
			
		</script>
		
		
	</body>
</html>