<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content">
	<head>
		<meta charset="UTF-8">
		<title>이조텍스SCM</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	</head>
	<body>
		<div class="d-flex align-items-center">
		<h3 class="fs-3 fw-bold">| 불량 제품 조회</h3>
		<!-- <button class="btn btn-secondary" style="margin: 10px;">자재 입고</button>
		<button class="btn btn-secondary" style="margin: 10px;">제품 입고</button> -->
	</div>
	
	
	<div class="modal fade" id="modifyMOdal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="height: 20px;">
					<h5 class="modal-title" id="exampleModalLabel"
						style="font-size: 15px;">수정 확인</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body"
					style="text-align: center; padding: 44px; padding-bottom: 10px;">
					<div>
						<img src="/images/modal/modify.png" alt="등록확인이미지"
							style="width: 84px; height: 84px;">
					</div>
					<div>
						<p style="margin-top: 12px; font-size: 21px; font-weight: bold;">경고</p>
						<p id="warning"></p>
					</div>
				</div>
				<div class="modal-footer modify"
					style="display: flex; justify-content: center; border-top: none; padding-bottom: 45px;">
					<!---->
					<button type="button" class="btn btn-outline-warning checkBtn"
						data-bs-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row ps-2">
	  <div class="col-12 card card-body m-2  bg-secondary">
	    <p class="fs-5 fw-bolder">검색</p>
	
	    <div class="row ps-2">
					
				<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">제품코드</label>
				<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control pointer bg-white storeSearch" id="searchProductCode" placeholder="찾기" >
				</div>
				<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">제품명</label>
				<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control storeSearch" id="searchProductName">
				</div>
				<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">색상</label>
				<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control storeSearch" id="searchColor">
				</div>
				<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">사이즈</label>
				<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control storeSearch" id="searchSize">
				</div>
				<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">LOT</label>
				<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control storeSearch" id="searchLot">
				</div>
				<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">처리담당자</label>
				<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control storeSearch" id="requestor">
				</div>
				
				<label class="col-3 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">불량 처리일</label>
				<div class="col-8 col-sm-3 col-lg-2 d-flex mb-2" style="margin-right: 50px;">
					<input type="date" class="form-control text-end storeSearch" id="startErrorDate" style="margin-right: 10px;"> ~ 
					<input type="date" class="form-control text-end storeSearch" id="endErrorDate" style="margin-left: 10px;">
				</div>
			</div>
		
	    <!-- 버튼 -->
	    <div class="d-flex justify-content-center mt-2">
           <button type="button" id="planSearchBtn" class="btn btn-warning mag-glass-btn me-2" onclick="searchErrorProductList()"><i class="fa-solid fa-magnifying-glass icon-left" style="color: #ffffff;"></i></button>
           <button id="inputReset" type="reset" class="btn btn-secondary mag-glass-btn"><i class="fa-solid fa-repeat icon-left" style="color: #ffffff;"></i></button>
         </div>
	  </div>
	</div>
	
	
	<div class="row">
		<div class="col-5 card card-body m-2">
			<div class="d-flex justify-content-between align-items-center mt-2 mb-2">
				<p class="fs-5 fw-bolder m-0">불량 제품 목록</p>
				<button id="xlsx" class="btn btn-dark btn-sm">EXCEL 내보내기</button>
			</div>
			<div id="grid"></div>
		</div>
	</div>
	
	
	
	<!-- <div class="card-body">
       <div class="d-sm-flex justify-content-between align-items-start">
         <div>
           <h3 class="card-title card-title-dash">불량률</h3>
         </div>
       </div>
       <div class="d-sm-flex align-items-center mt-1 justify-content-between">
         <div class="me-3"><div id="marketing-overview-legend"><div class="chartjs-legend"><ul><li class="text-muted text-small"><span style="background-color:#52CDFF"></span>Last week</li><li class="text-muted text-small"><span style="background-color:#1F3BB3"></span>This week</li></ul></div></div></div>
       </div>
       <div class="chartjs-bar-wrapper mt-3"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
         <canvas id="errorChart" width="511" height="150" style="display: block; width: 511px; height: 150px;" class="chartjs-render-monitor"></canvas>
       </div>
     </div> -->
	 
	
	<script>
	
	/* const errorChartOptions = {
		    responsive: true,
		    maintainAspectRatio: false,
		    scales: {
		        yAxes: [{
		            id: 'y-axis-1',
		            position: 'left',
		            ticks: {
		                beginAtZero: true,
		                fontSize: 10,
		                color: "#6B778C",
		                callback: function(value) {
		                    return value.toLocaleString();  // 숫자를 천 단위로 구분
		                }
		            },
		            scaleLabel: {
		                display: true,
		                labelString: '수량'
		            }
		        }],
		        xAxes: [{
		            stacked: true,
		            barPercentage: 0.35,
		            gridLines: {
		                display: false,
		                drawBorder: false,
		            },
		            ticks: {
		                beginAtZero: false,
		                autoSkip: true,
		                maxTicksLimit: 12,
		                fontSize: 10,
		                color: "#6B778C"
		            }
		        }]
		    },
		    legend: {
		        display: true  // 범례를 표시
		    },
		    tooltips: {
		        backgroundColor: 'rgba(31, 59, 179, 1)',
		    }
		};

		// 차트 객체 생성
		const errorChart = new Chart(document.getElementById('errorChart').getContext('2d'), {
		    type: 'bar',
		    data: {}, 
		    options: errorChartOptions
		}); */

		// fetch로 데이터를 받아서 차트에 넣기
		/* fetch(`/store/totalError`)
		    .then(rep => rep.json())
		    .then(data => {
		        console.log(data); 

		        let labels = data.map(item => item.productCode); 
		        let errorData = data.map(item => item.totalErrorQy); 

		        // 차트 데이터 업데이트
		        errorChart.data = {
		            labels: labels,
		            datasets: [{
		                label: '불량률',
		                data: errorData,
		                borderColor: '#52CDFF',  // 바 색상
		                backgroundColor: '#52CDFF',  // 바 색상
		                borderWidth: 1
		            }]
		        };
		        errorChart.update();
		    }) */



		
	
		document.querySelectorAll('.storeSearch').forEach((ev) => {
			ev.addEventListener('keydown', (ev) => {
				if(window.event.keyCode == 13){
					searchErrorProductList();
				}
			})
		})
	
	
		document.getElementById('xlsx').addEventListener('click', () => {
		    const allRows = errorGrid.getData(); // 그리드 전체 데이터 가져오기
		    if (allRows.length === 0) {
		        let modifyMOdal = new bootstrap.Modal(document.getElementById('modifyMOdal'));
		        document.querySelector("#warning").innerText = "내보낼 데이터가 없습니다.";
		        modifyMOdal.show();
		        return; // 데이터가 없으면 미동작
		    }
		
		    // 전체 데이터 내보내기
		    errorGrid.export('xlsx', {
		        useFormattedValue: true,
		        fileName: '불량재고' + '_' + dateFormatter().replaceAll('-', ''),
		        rows: allRows // 전체 데이터 내보내기
		    });
		});

		
		inputReset.addEventListener('click', function(){
			document.querySelector("#searchProductCode").value = '';
			document.querySelector("#searchProductName").value = '';
			document.querySelector("#searchColor").value = '';
			document.querySelector("#searchSize").value = '';
			document.querySelector("#searchLot").value = '';
			document.querySelector("#requestor").value = '';
			document.querySelector("#startErrorDate").value = '';
			document.querySelector("#endErrorDate").value = '';
			searchErrorProductList();
		})
	
			function searchErrorProductList(){
				errorGrid.readData(1,{
					productCode: document.querySelector("#searchProductCode").value,
					productName: document.querySelector("#searchProductName").value,
					color: document.querySelector("#searchColor").value,
					sizeCode: document.querySelector("#searchSize").value,
					searchLot: document.querySelector("#searchLot").value,
					requestor: document.querySelector("#requestor").value,
					startErrorDate: document.querySelector("#startErrorDate").value,
					endErrorDate: document.querySelector("#endErrorDate").value,
				}, false)
			}
	
			const dataSource = {
		      api: {
		          readData: { url: '/store/errorProductList', method: 'GET' },
		        },
		      contentType: 'application/json',
		    };  
		    
		    const errorGrid = new Grid({
		      el: document.getElementById('grid'), // 컨테이너 엘리먼트
		      rowHeaders: ['rowNum'],
		      columnOptions: {
		          resizable: true
		      },
		      pageOptions:{
		          useClient: false,
		          perPage: 10
		        },
		      bodyHeight: 417,
		      columns: [ 
		        { header: "제품코드", name: "productCode", align: "center", sortable: true},
		        { header: "제품명", name: "productName", sortable: true, width: 200, renderer: {
	                styles: {
	                    fontWeight: 'bold',
	                  }
	                }
		        },
		        { header: "색상", name: "productColor", sortable: true},
		        { header: "사이즈", name: "productSize", sortable: true},
		        { header: "LOT번호", name: "lot", align: "center", sortable: true, renderer: {
	                styles: {
	                    fontWeight: 'bold',
	                  }
	                }
		        },
		        { header: "처리일", name: "processDate", sortable: true, formatter: (row) => dateFormatterNull(row.value)},
		        { header: "처리담당자", name: "errorCharger", align: "center", sortable: true},
		        { header: "불량사유", name: "errorInfo", sortable: true, renderer: {
	                styles: {
	                    fontWeight: 'bold',
	                  }
	                }
		        },
		        { header: "불량수량", name: "errorQy", sortable: true, align: 'right', formatter: (row) => numberFormatter(row.value)},
		        
		      ],
		      data: dataSource,
		      showDummyRows: true
		    });
		    
		    
		    
		    
		    function getSelectedRows() {
		        const checkedRows = errorGrid.getCheckedRows();
		        return checkedRows.map(row => row.productCode);
		    }

		    
		    function exportSelectedToPDF(){
		    	let data = getSelectedRows();
		    	window.open(`/store/ErrorPdfview`, '_blank', 'width=1000', 'scrollbars=yes');
		    }
		    
		    
	</script>
	
	</body>
</html>