<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}" layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>이조텍스SCM</title>
<style type="text/css">
#modalGrid {
	width: 100%;
	height: 400px; /* 또는 원하는 높이 설정 */
	overflow-y: scroll;
}
</style>
</head>
<body>

	<!-- 창고모달 -->
	<div class="modal fade" id="exampleModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header"></div>
				<div class="card">
					<div class="card-body">
						<div class="mb-3 row">
							<label for="inputPassword" class="col-sm-2 col-form-label">검색조건1</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputPassword"
									style="width: 200px;">
							</div>
						</div>
						<div class="mb-3 row">
							<label for="inputPassword" class="col-sm-2 col-form-label">검색조건2</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputPassword"
									style="width: 200px;">
							</div>
						</div>

						<div id="modalGrid"></div>
					</div>
				</div>
				<div style="text-align: center; margin: 20px;">
					<button type="button" class="btn btn-outline-primary btn-fw">수정</button>
					<button type="button" class="btn btn-inverse-dark btn-fw"
						data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>



	<div class="d-flex align-items-center">
		<h3 class="fs-3 fw-bold">| 반품 입고 등록</h3>
		<!-- <button class="btn btn-secondary" style="margin: 10px;">자재 입고</button>
		<button class="btn btn-secondary" style="margin: 10px;">제품 입고</button> -->
	</div>
	<div class="card card-body mt-3">
	<div class="row ps-2">
	  <div class="col-12 card card-body m-2" style="background-color: #d3d3d3;">
	    <p class="fs-5 fw-bolder">제품 정보</p>
	
	    <div class="row ps-2">
					
				<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">반품코드</label>
				<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control pointer bg-white" id="searchReturnCode" placeholder="찾기" >
				</div>
				<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">담당자</label>
				<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control pointer bg-white" id="requestor" placeholder="찾기" >
				</div>
				
				<label class="col-3 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">반품 요청일</label>
				<div class="col-8 col-sm-3 col-lg-2 d-flex mb-2" style="margin-right: 50px;">
					<input type="date" class="form-control text-end" id="startRequestDate" style="margin-right: 10px;"> ~ 
					<input type="date" class="form-control text-end" id="endRequestDate" style="margin-left: 10px;">
				</div>
				
				
				<!-- <label  class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">구분</label>
				<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
					<select class="form-control" id="se">
						<option value="null">제품/자재</option>
						<option value="PT02">제품</option>
						<option value="PT01">자재</option>
					</select>
				</div> -->
			</div>
	
	    <!-- 버튼 -->
	    <div class="d-flex justify-content-center mt-2">
           <button type="button" id="planSearchBtn" class="btn btn-secondary mag-glass-btn me-2" onclick="searchReturnList()"><i class="fa-solid fa-magnifying-glass icon-left" style="color: #646464;"></i></button>
           <button type="reset" class="btn btn-warning mag-glass-btn"><i class="fa-solid fa-repeat icon-left" style="color: #ffffff;"></i></button>
         </div>
	  </div>
	</div>


		<div class="row">
			<div class="col-5 card card-body m-2">
				<p class="fs-5 fw-bolder mt-2">반품 목록</p>
				<div id="grid">
					<div id="pagination" class="tui-pagination"></div>
				</div>
			</div>

			<div class="col-5 card card-body m-2">
				<p class="fs-5 fw-bolder mt-2">입고 등록</p>
				<div id="grid2"></div>

				<p class="fs-5 fw-bolder mt-2">입고 수량 입력</p>
				<div id="grid3"></div>
				<!-- <button class="btn btn-danger" id="StoreDelete">불량 처리</button>

				<p class="fs-5 fw-bolder mt-2">불량 발생 내역</p>
				<div id="grid4"></div> -->

				<div class="d-flex justify-content-end mt-2">
					<button type="button" id="" class="btn btn-primary registBtn"
						data-bs-toggle="modal" data-bs-target="#registModal"
						style="height: 45px; margin-top: 10px;">등록</button>
					<button class="btn btn-secondary" style="margin: 10px;">초기화</button>
				</div>

			</div>
		</div>

	</div>


	<!-- 등록 버튼 클릭 -->

	<!-- 등록 모달 -->
	<div class="modal fade" id="registModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="height: 20px;">
					<h5 class="modal-title" id="exampleModalLabel"
						style="font-size: 15px;">등록 확인</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body"
					style="text-align: center; padding: 44px; padding-bottom: 10px;">
					<div>
						<img src="/images/modal/regist.png" alt="등록확인이미지"
							style="width: 84px; height: 84px;">
					</div>
					<div>
						<p style="margin-top: 12px; font-size: 21px; font-weight: bold;">알림</p>
						<p>내용을 등록하시겠습니까?</p>
					</div>
				</div>
				<div class="modal-footer regist"
					style="display: flex; justify-content: center; border-top: none; padding-bottom: 45px;">
					<!---->
					<button type="button" id="InsertTest"
						class="btn btn-outline-primary checkBtn" data-bs-dismiss="modal">등록</button>
					<button type="button" class="btn btn-secondary denyBtn"
						data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>



	<!-- Toast UI Grid 스크립트 -->
	<script>
	
		function searchReturnList() {
			storeGrid.readData(1, {
	    	    returnCode: document.querySelector('#searchReturnCode').value,
	    	    requestor: document.querySelector('#requestor').value,
	    	    startRequestDate: document.querySelector('#startRequestDate').value,
	    		endRequestDate: document.querySelector('#endRequestDate').value,
	    	}, false);	//안에 값 넣으면 됨 파라미터 세개 (1:몊번째 페이지 불러올 것인가, 2:검색조건, 3:true=기존데이터 초기화)
	    }
	
	
		// obj 배열에 변경된 사이즈 정보 저장
	    let obj = [];
	   
	    //const Grid = tui.Grid;
	    
	    // 반품코드 저장 변수
	    let returnCode = "";
	    // 납품코드 저장 변수
	    let deliveryCode = "";
	    // 불량 수량 저장 변수
	    let sum = 0;
	    // 제품명 저장 변수
	    let productName = "";
	    // 제품 색상 저장 변수
	    let productColor = "";
	    // 제품 코드 저장 변수
	    let productCode = "";
	    
	    // 상태변환을 위한 요청량,입고수량 비교 변수
	    let requestQy = 0;
	    let storeQy = 0;
	    let storeSum = 0;
	    
	    let err = [];
	    
	    let storageLocation = "";
	    // 각 제품에 대한 변경된 값을 저장할 객체
		let productChanges = {};
	    let productChangeError = {};
	    
	    
	    
	   
	   	/*
	   	*========================================================================
	   	* 입고 대기 리스트 출력 및 그리드
	   	*========================================================================
	   	*/
	    const dataSource = {
	      api: {
	          readData: { url: 'http://localhost:80/store/deliveryList', method: 'GET' },
	        },
	      contentType: 'application/json',
	    };  
	    
	    const storeGrid = new Grid({
	      el: document.getElementById('grid'), // 컨테이너 엘리먼트
	      rowHeaders: ['rowNum'],
	      columnOptions: {
	          resizable: true
	      },
	      pageOptions:{
	          useClient: false,
	          perPage: 10
	        },
	      columns: [ 
	        { header: "반품 코드", name: "returnCode", align: "center"},
	        { header: "제품 종류 수", name: "count", align: "center"},
	        { header: "반품 요청일", name: "requestDate", align: "center"},
	        { header: "반품담당자", name: "requestor", align: "center"},
	      ],
	      data: dataSource,
	    });
	    
	    /*
	   	*========================================================================
	   	* 입고 대기 리스트 출력 및 그리드 END!!
	   	*========================================================================
	   	*/
	    
	   	
	   	
	   	
	   	
	   	
	   	
	   	/*
	   	*========================================================================
	   	* 입고 대기 제품 상세조회 리스트 출력 및 그리드
	   	*========================================================================
	   	*/

	   	 
	    const storeGrid2 = new Grid({
		      el: document.getElementById('grid2'), // 컨테이너 엘리먼트
		      rowHeaders: ['rowNum'],
		      columns: [ 
			        { header: "제품 코드", name: "productCode", align: "center"},
			        { header: "제품명", name: "productName", align: "center"},
			        { header: "반품 요청 수량", name: "qy", align: "center"},
			        { header: "미처리 수량", name: "notStoreQy", align: "center"},
			        { header: "입고량 합계", name: "storeQy", align: "center"},
			        /* { header: "불량 합계", name: "errorTotalQy", align: "center"}, */
			        { header: "추천 위치", name: "dedt", align: "center"},
			        { header: "창고위치", name: "location", align: "center"},
			  ],
			  data: []
		    });
	    
	    // 클릭 이벤트 후 클릭 행 데이터 기반 상세조회
	    storeGrid.on('click', ev => {
	    	
	    	let data = storeGrid.getRow(ev.rowKey);
	    	// 납품코드 재정의
	    	returnCode = data.returnCode;
	    	deliveryCode = data.deliveryCode;
	    	
	    	productChanges = {};  // 변경된 제품 정보 초기화
		    obj = [];  // 입고 수량 관련 배열 초기화
		    err = [];
	    	
	    	console.log(productName);
	    	console.log(returnCode);
	    	fetch(`http://localhost:80/store/deliveryDetailsList?returnCode=${data.returnCode}`)
	    		.then(rep => rep.json())
	    		.then(data => {
	    				storeGrid2.resetData(data);
	    			})
	    		})
	    		
	    /*
	   	*========================================================================
	   	* 입고 대기 제품 상세조회 리스트 출력 및 그리드 END!!
	   	*========================================================================
	   	*/		
	    
	   	
	   	
	   	
	   	/*
	   	*========================================================================
	   	* 입고 대기 제품 옵션 리스트 출력 및 그리드
	   	*========================================================================
	   	*/
	  
	    const storeGrid3 = new Grid({
		      el: document.getElementById('grid3'), // 컨테이너 엘리먼트
		      data: {
		          api: {
		        	  readData: { url: '/store/productCodeList', method: 'GET' },
		              modifyData: { url: '/store/InsertTest', method: 'POST', headers }
		          },
		          contentType: 'application/json'
		      },
	            scrollY: true,
		        scrollX: true,
		        header: {
		        height: 80,
		            complexColumns: [
		              {
		                header: 'S',
		                name: 'stest',
		                childNames: ['sizeS', 's']
		              },
		              {
			             header: 'M',
			             name: 'mtest',
			             childNames: ['sizeM', 'm']
			          },
			          {
				         header: 'L',
				         name: 'ltest',
				         childNames: ['sizeL', 'l']
				      },
				      {
					      header: 'XL',
					      name: 'xltest',
					      childNames: ['sizeXL', 'xl']
					  }
		             ]},
		        columns: [
		            { header: "색상/사이즈", name: "productColor", align: "center" },
		            { header: "입고할수량", name: "sizeS", align: "center", editor: "text"},
		            { header: "요청수량", name: "s", align: "center" },
		            { header: "입고할수량", name: "sizeM", align: "center", editor: "text"},
		            { header: "요청수량", name: "m", align: "center" },
		            { header: "입고할수량", name: "sizeL", align: "center", editor: "text"},
		            { header: "요청수량", name: "l", align: "center" },
		            { header: "입고할수량", name: "sizeXL", align: "center", editor: "text"},
		            { header: "요청수량", name: "xl", align: "center" }
		        ],
		    });
	    
	    //저장
	     InsertTest.addEventListener("click", function () {
	    	
	    	 
	    	 let check = storeGrid2.getData();
			 console.log('check',check);
				if(check.length == 0){
					alert('선택된 제품이 없습니다.')
					return ;
				} 
	    	 
	    	 
	    	//storeGrid3.blur();
	    	//storeGrid3.request('modifyData');
	    	console.log('데이터확인', obj);
	    	// 변경 데이터 등록 처리
	    	fetch(`http://localhost:80/store/InsertTest`,{
	    		method: 'POST',
	    		headers: {...headers, 'Content-Type': 'application/json'},
	    		body: JSON.stringify(obj)
	    	}).then(rep => rep.json()) 
	    	  .then(result =>
	    	      {
	    	    		// 옵션 그리드 변경 데이터 수정 처리
	    		        fetch(`http://localhost:80/store/productCodeList?productCode=${productCode}&deliveryCode=${deliveryCode}`)
	    		            .then(rep => rep.json())
	    		            .then(data => {
	    		            	let size = []
			    				let color = [{ header: "색상/사이즈", name: "productColor", align: "center" }]
			    				
			    					console.log(data);
			    				data.optionList.forEach(data => {
			    					size.push(
			    					 {
						                header: data.productSizeInfo,
						                name: 'sz'+data.productSizeInfo+'test',
						                childNames: ['size'+data.productSizeInfo, 'SZ'+data.productSizeInfo.toLowerCase()]
						             },
			    					)
						             color.push({ header: "입고할수량", name: "size"+ data.productSizeInfo, align: "center", editor: "text"},
						 		                { header: "요청수량", name: "SZ"+data.productSizeInfo.toLowerCase() , align: "center" },
						 		                { header: "제품코드", name: "productCode" , hidden: true },
						 		                { header: "납품코드", name: deliveryCode , hidden: true },
						 		               { header: "창고위치코드", name: storageLocation , hidden: true })
			    				})
				    			storeGrid3.setHeader({complexColumns:size});
				    			storeGrid3.setColumns(color);
				    			
				    			
				    			// 데이터 처리 및 그리드에 반영
				                let rowData = [];
				                
				                data.qyList.forEach(pivotData => {
				                	
				                	console.log('pivotData : ',pivotData)
				                	
				                    let row = { productColor: pivotData.PRODUCT_COLOR }; // 색상 데이터
				                    
				                    // optionList에서 각 사이즈에 해당하는 수량을 pivotList에서 가져오기
				                    data.optionList.forEach(option => {
				                        let sizeKey = option.productSizeInfo.toLowerCase();
				                        // 수량 값이 없으면 0으로 설정
				                        console.log(pivotData['SZ'+sizeKey.toUpperCase()])
				                        row['SZ' + sizeKey.toLowerCase()] = pivotData['SZ'+sizeKey.toUpperCase()] || "0";
				                    });
				                    
				                    rowData.push(row);
				                });
				                
				                // 데이터 그리드에 설정
				                storeGrid3.resetData(rowData);
				                
	    		            });
	    	    		
	    		        fetch(dataSource.api.readData.url, {
	    		            method: 'GET',
	    		            headers: { 'Content-Type': 'application/json' }
	    		        })
	    		        .then(response => response.json())
	    		        .then(data => {
	    		        	console.log('첫번째 그리드 초기화 : ',data)
	    		            storeGrid.resetData(data);
	    		        });
	    	    }
	    	  )
	    })
	    
	    // 제품 상세보기 그리드 클릭 이벤트
	    
	   function handleStoreGrid2Click(ev) {
	    let data = storeGrid2.getRow(ev.rowKey);
	    //productName = data.productName;
	    
	     console.log("Clicked rowKey:", ev.rowKey);
         console.log("Data location:", data.location);
	    
	    if (!data) {
        	console.log("선택된 데이터가 없습니다.");
        	return; // 데이터가 없다면 함수 종료
    	}
	    
	    // 창고 위치 컬럼 클릭 시 모달 출력
	    if (ev.columnName === 'location') {
	        let modal = new bootstrap.Modal(document.getElementById('exampleModal'));
	        modal.show();
	
	        fetch(`http://localhost:80/store/storageInfoList`)
	            .then(rep => rep.json())
	            .then(data => {
	                modalGrid.resetData(data);
	            });
	
	    } else {
	        if (data.location == null) {
	            return;
	        }
	
	        // 선택한 제품코드 저장
	        productCode = data.productCode;
	        // 서버에서 해당 제품 코드에 대한 옵션 목록을 받아오기
	        fetch(`http://localhost:80/store/productCodeList?productCode=${productCode}&returnCode=${returnCode}`)
	            .then(rep => rep.json())
	            .then(data => {
	                let size = [];
	                let color = [{ header: "색상/사이즈", name: "productColor", align: "center" }];
	                console.log(data);
	
	                // 옵션 리스트에 대해 컬럼 동적 생성
	                data.optionList.forEach(option => {
	                    size.push({
	                        header: option.productSizeInfo,
	                        name: 'sz' + option.productSizeInfo + 'test',
	                        childNames: ['size' + option.productSizeInfo, 'SZ' + option.productSizeInfo.toLowerCase()]
	                    });
	                    color.push({
	                        header: "입고할수량", name: "size" + option.productSizeInfo, align: "center", editor: "text"
	                    }, {
	                        header: "요청수량", name: "SZ" + option.productSizeInfo.toLowerCase(), align: "center"
	                    }, {
	                        header: "제품코드", name: "productCode", hidden: true
	                    }, {
	                        header: "납품코드", name: deliveryCode, hidden: true
	                    });
	                });
	
	                // 그리드3에 동적 컬럼 설정
	                storeGrid3.setHeader({ complexColumns: size });
	                storeGrid3.setColumns(color);
	
	                // 피벗 데이터 생성
	                let rowData = [];
	                data.qyList.forEach(pivotData => {
	                    let row = { productColor: pivotData.PRODUCT_COLOR };
	
	                    // optionList에서 각 사이즈에 해당하는 수량을 pivotList에서 가져오기
	                    data.optionList.forEach(option => {
	                        let sizeKey = option.productSizeInfo.toLowerCase();
	                        row['SZ' + sizeKey] = pivotData['SZ' + sizeKey.toUpperCase()] || "0";
	                    });
	
	                    rowData.push(row);
	                });
	
	                // 기존에 변경된 값이 있으면 반영
	                if (productChanges[productCode]) {
	                    rowData = rowData.map(row => {
	                        const updatedData = productChanges[productCode].find(item => item.productColor === row.productColor);
	                        if (updatedData) {
	                            return { ...row, ...updatedData }; // 기존에 수정된 데이터를 덮어쓰지 않고 병합
	                        }
	                        return row;
	                    });
	                }
	
	                // 그리드3에 데이터 설정
	                storeGrid3.resetData(rowData);
	
	                // 변경된 데이터를 productChanges 객체에 저장
	                productChanges[productCode] = rowData;
	
	                let filed = Object.keys(rowData);
	                let arr = filed.filter(ele => ele.startsWith('size'));
	
	                for (let i = 0; i < arr.length; i++) {
	                    if (rowData[arr[i]] != null && rowData[arr[i]] != 0) {
	                        let sizeCode = arr[i].replace('size', '').toUpperCase();
	                        let objInfo = {
	                            productCode: productCode,
	                            sizeCode: getSizeCommonCode(sizeCode),
	                            productQy: newValue,
	                            color: rowData.productColor,
	                            deliveryCode: deliveryCode,
	                            storageLocation: storageLocation 
	                        };
	
	                        // 여기서 storageLocation 값이 다르게 들어가게 할 수 있도록 처리
	                        const existingObj = obj.find(item => item.productCode === productCode && item.storageLocation === storageLocation);
	                        if (!existingObj) {
	                            obj.push(objInfo);  // obj에 추가
	                        }
	                    }
	                    console.log("2번그리드 클릭시 obj : ",obj);
	                }
	            });
	    }
	}
		
		// 제품 상세보기 그리드 클릭 이벤트
		storeGrid2.on('click', ev => {
			let data = storeGrid2.getRow(ev.rowKey);
			storageLocation = data.location; // 창고 위치 값 가져오기
			 handleStoreGrid2Click(ev); // 분리한 함수를 호출
		});
		
	    
		// 제품 옵션 그리드 체인지 이벤트
		storeGrid3.on('afterChange', ev => {
		    console.log('선택 제품코드:', productCode);
		    if (!ev || !ev.changes) return; // 변경된 데이터가 없으면 종료
		
		    ev.changes.forEach(change => {
		        let rowData = storeGrid3.getRow(change.rowKey); // 변경된 행 데이터 가져오기
		        let columnName = change.columnName; // 변경된 컬럼명
		        let newValue = Number(change.value); // 변경된 값
		
		        let size = columnName.replace('size', '');
		        let columnQy = 'SZ' + size.toLowerCase();
		        let sizeCode = getSizeCommonCode(size);
		        console.log(rowData[columnName], sizeCode, rowData[columnQy]);
		 
		        // 해당 productCode의 변경된 데이터를 저장
		        if (!productChanges[productCode]) {
		            productChanges[productCode] = [];
		        }
		
		        // 현재 row 데이터를 변경된 데이터로 업데이트
		        let updatedRowData = productChanges[productCode].map(row => {
		            if (row.productColor === rowData.productColor) {
		                row[columnName] = newValue;
		            }
		            return row;
		        });
		        
		        
		        // 저장된 데이터 갱신
		        productChanges[productCode] = updatedRowData;
		
		     	// 사이즈에 대한 정보 처리
		        let filed = Object.keys(rowData);
		        let arr = filed.filter(ele => ele.startsWith('size'));

		        // productChanges에서 해당 productCode의 변경된 값만을 기반으로 obj 생성
		        if (productChanges[productCode]) {
		        	
		        	// 최종 입고 수량 (입고향 합계)을 저장할 변수
		            let totalStock = 0;
		        	
		            productChanges[productCode].forEach(item => {
		            	
		                arr.forEach(ele => {
		                	
		                    if (item[ele] != null && item[ele] != 0) {
		                    	
		                        let sizeCode = ele.replace('size', '').toUpperCase();
		                        
		                        let gridData = storeGrid2.getData();
		                        if (Array.isArray(gridData)) {
		                            // 배열에서 productCode에 맞는 행 찾기
		                            let productRow = gridData.find(row => row.productCode === productCode);
		                            
		                            // 해당 행이 존재하면 요청 수량과 입고된 수량 가져오기
		                            let requestQy = productRow ? productRow.qy || 0 : 0;  // 요청 수량
		                            let storeQy = productRow ? productRow.totalQy || 0 : 0;     // 기존 입고된 수량
		                            let errorQyInfo = productRow ? productRow.errorQy || 0 : 0
		                            
		                            console.log('requestQy:', requestQy);
		                            console.log('storeQy:', storeQy);
		                            console.log('errorQyInfo', errorQyInfo);
		                            
		                            // 새로 변경된 입고 수량
		                            let newStockQy = item[ele];
		                            let check = rowData[columnQy];
		                            
		                            if (newStockQy > check) {
		                                storeGrid3.setValue(change.rowKey, columnName, check);
		                            }
		                            
		                            

		                            // 합계 계산
		                            totalStock += newStockQy;  // 새로운 입고 수량을 계속 더함
		                            let sum = totalStock + storeQy;  // 최종 입고 수량 = 기존 입고 수량 + 새로 변경된 입고 수량

		                            console.log('최종 합계:', sum);
		                            
		                            let objInfo = {
		                            		returnCode: returnCode,
				                            productCode: productCode,
				                            sizeCode: getSizeCommonCode(sizeCode),
				                            productQy: item[ele], // 변경된 수량
				                            color: item.productColor,
				                            deliveryCode: deliveryCode,
				                            totalQy: sum,
				                            requestQy: requestQy,
				                            errorQy: errorQyInfo,
				                            storageLocation: storageLocation
				                        };

				                        // 동일한 productCode, sizeCode, color가 있으면 기존 항목을 제거하고 새 값 추가
				                        obj = obj.filter(existingItem => 
				                            !(existingItem.productCode === objInfo.productCode &&
				                              existingItem.sizeCode === objInfo.sizeCode &&
				                              existingItem.color === objInfo.color)
				                        );
				                        obj.push(objInfo);
		                            
		                        }
		                    }
		                    
		                });
		                
		            });
		            
		        }
		        console.log('변경된 사이즈 정보:', obj);
		    });
		});


		
	    
	    /*
	   	*========================================================================
	   	* 입고 대기 제품 옵션 리스트 출력 및 그리드 END!!
	   	*========================================================================
	   	*/	
	    
	   	
	   	
	   	
	   	
	   	
	   /* 	const storeGrid4 = new Grid({
			      el: document.getElementById('grid4'), // 컨테이너 엘리먼트
		            scrollY: true,
			        scrollX: false,
			      rowHeaders: ['rowNum'],
			      columns: [ 
			        { header: "제품 코드", name: "productCode", editor: "text"},
			        { header: "제품명", name: "productName", editor: "text"},
			        { header: "색상", name: "productColor", editor: "text"},
			        { header: "사이즈", name: "size", editor: "text"},
			        { header: "불량 수량", name: "errorQy", editor: "text"},
			        {
	                      header : '처리상태',
	                      name : 'status',
	                      align : 'center',
	                      editor: {
	                          type: 'select',
	                          options: {
	                              listItems: [
	                                  { text: '반품', value: '반품' },
	                                  { text: '교환', value: '교환' },
	                                  { text: '폐기', value: '폐기' }
	                              ]
	                          }
	                      }
			        },
			        { header: "사이즈코드", name: "sizeCode", hidden: true }
			      ],
			      data: [],
			    });
	   	
	   
	   	let info = []
	   	
	   	StoreDelete.addEventListener("click", function () {
	   		
	   		storeGrid4.resetData(err);
	   		obj.push(err);
	   		console.log('obj데이터 확인 : ', obj)
	   	}) */
	    
	    
	    
	    
	    
	    
	    
	    
	    
	    
	    
	    
	    
	    /*
	   	*========================================================================
	   	* 창고위치 모달 그리드
	   	*========================================================================
	   	*/	
	    const modalGrid = new Grid({
	    	el: document.getElementById('modalGrid'),
	    	rowHeaders: ['rowNum'],
	    	columns: [
	    		 { header: "창고코드", name: "storageCode" },
			     { header: "창고상세코드", name: "storageInfoCode" },
			     { header: "창고이름", name: "storageInfoName" },
	    	],
	    	data: []
	    })
	   	
	   	
	 // modalGrid 클릭 이벤트
	   	modalGrid.on('click', ev => {
		    let modalData = modalGrid.getRow(ev.rowKey); // 모달에서 클릭한 행의 데이터
		    let storageLocation = modalData.storageInfoCode; // 창고위치 값 추출
			
		    
		    // storeGrid2에서 현재 선택된 행(rowKey)을 가져옴
		    let selectedRowKey = storeGrid2.getFocusedCell()?.rowKey;
		
		    
		    if (selectedRowKey !== null && selectedRowKey !== undefined) {
		        // storeGrid2에서 선택된 행에 창고 위치 값 넣기
		        storeGrid2.setValue(selectedRowKey, 'location', storageLocation);
		
		        // 모달 닫기
		        let modalElement = document.getElementById('exampleModal');
		        let modalInstance = bootstrap.Modal.getInstance(modalElement); // 기존 모달 가져오기
		        if (modalInstance) {
		            modalInstance.hide(); // 모달 닫기
		        }
		
		    }
		});


	    
	    /*
	   	*========================================================================
	   	* 창고위치 모달 그리드 END!!
	   	*========================================================================
	   	*/
	    
	    // Bootstrap 모달 이벤트 리스너 추가
		const modalElement = document.getElementById('exampleModal');

		modalElement.addEventListener('show.bs.modal', function () {
		    modalElement.style.display = 'block'; // 모달을 블록으로 변경
		    modalElement.style.opacity = '0'; // 투명하게 숨김
		});
		
		modalElement.addEventListener('shown.bs.modal', function () {
			modalGrid.refreshLayout();  // 모달이 완전히 뜬 후 크기 조정
		    modalElement.style.opacity = '1'; // 투명도 복원
		}); 


	    
	    </script>

	<button type="button" class="btn btn-primary" data-bs-toggle="modal"
		data-bs-target="#exampleModal">ModalTest2</button>

</body>
</html>