<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}" layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>이조텍스SCM</title>
<!-- timePicker -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
<script
	src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>

<!-- datePicker -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

<!-- paging -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script
	src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>

<!-- toast grid -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<style type="text/css">
#modalGrid {
    width: 100%;
    height: 400px; 
    overflow-y: scroll;
    position: sticky;
    top: 0; 
    z-index: 10; 
}
.storage-location-cell {
  background-color: #DCEFFA;
  color: #0F5132;
}
</style>
</head>
<body>

		<!-- 창고모달 -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-xl">
		        <div class="modal-content">
		            <div class="modal-header"></div>
		            <div class="card">
		                <div class="card-body">
		                    <div class="col-12 card card-body m-2  bg-secondary">
		                        <!-- 입력 박스 3개를 한 줄로 배치 -->
		                        <div class="mb-3 row d-flex justify-content-between">
		                            <div class="col-sm-3 d-flex align-items-center">
		                                <label for="searchStorageCode" class="col-form-label" style="margin-right: 10px; white-space: nowrap;">창고 코드</label>
		                                <input type="text" class="form-control modalSearch" id="searchStorageCode" style="width: 150px;">
		                            </div>
		                            <div class="col-sm-3 d-flex align-items-center">
		                                <label for="searchStorageInfoCode" class="col-form-label" style="margin-right: 10px; white-space: nowrap;">창고 상세 코드</label>
		                                <input type="text" class="form-control modalSearch" id="searchStorageInfoCode" style="width: 150px;">
		                            </div>
		                            <div class="col-sm-3 d-flex align-items-center">
		                                <label for="searchStorageInfoName" class="col-form-label" style="margin-right: 10px; white-space: nowrap;">창고 이름</label>
		                                <input type="text" class="form-control modalSearch" id="searchStorageInfoName" style="width: 150px;">
		                            </div>
		                        </div>
		
		                        <!-- 버튼들을 한 줄로 중앙에 배치 -->
		                        <div class="d-flex justify-content-center mb-3">
		                            <button type="button" class="btn btn-warning mag-glass-btn me-2" onclick="searchLocation()">
		                                <i class="fa-solid fa-magnifying-glass icon-left" style="color: #ffffff;"></i>
		                            </button>
		                            <button type="reset" class="btn btn-secondary mag-glass-btn" onclick="searchLocationReset()">
		                                <i class="fa-solid fa-repeat icon-left" style="color:#ffffff;"></i>
		                            </button>
		                        </div>
		                    </div>
		                    <!-- 그리드 영역 -->
		                    <div id="modalGrid"></div>
		                </div>
		            </div>
		            <div style="text-align: center; margin: 20px;">
		                <button type="button" class="btn btn-inverse-dark btn-fw" data-bs-dismiss="modal">취소</button>
		            </div>
		        </div>
		    </div>
		</div>









	<div class="d-flex align-items-center">
		<h3 class="fs-3 fw-bold">| 제품 입고 등록</h3>
		<!-- <button class="btn btn-secondary" style="margin: 10px;">자재 입고</button>
		<button class="btn btn-secondary" style="margin: 10px;">제품 입고</button> -->
	</div>
	
	
	
	
	<div class="row ps-2">
	  <div class="col-12 card card-body m-2  bg-secondary">
	    <p class="fs-5 fw-bolder">검색</p>
	
	    <div class="row ps-2">
					
				<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">제품코드</label>
				<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control pointer bg-white storeSearch" id="searchProductCode" placeholder="찾기" >
				</div>
				<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">제품명</label>
				<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control storeSearch" id="searchProductName">
				</div>
				
				<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">단가</label>
				<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control text-end" id="startUnitPrice" style="margin-right: 10px;"> ~ 
					<input type="text" class="form-control text-end" id="endUnitPrice" style="margin-left: 10px;">
				</div>
			</div>
	
	    <!-- 버튼 -->
	    <div class="d-flex justify-content-center mt-2">
           <button type="button" id="planSearchBtn" class="btn btn-warning mag-glass-btn mag-glass-btn me-2" onclick="searchProductList()"><i class="fa-solid fa-magnifying-glass icon-left" style="color: #ffffff;"></i></button>
           <button id="inputReset" type="reset" class="btn btn-secondary mag-glass-btn"><i class="fa-solid fa-repeat icon-left" style="color: #ffffff;"></i></button>
         </div>
	  </div>
	</div>


		
		
		
		
		
		
		<div class="row">
			<div class="col-5 card card-body m-2">
				<p class="fs-5 fw-bolder mt-2">제품 목록</p>
				<div id="grid">
				</div>
			</div>

			<div class="col-5 card card-body m-2">
				<div id="grid2"></div>

			<div class="col">
				<p class="fs-5 fw-bolder mb-3 me-3">선택한 제품</p>
					<div class="row">
						<label class="col-4 col-lg-2 d-flex mb-2 align-items-center justify-content-center wbreak">제품코드</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<input type="search" class="form-control" id="productCode" readonly>
						</div>
						<label class="col-4 col-lg-2 d-flex mb-2 align-items-center justify-content-center wbreak">제품명</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<input type="search" class="form-control" id="productName" readonly>
						</div>
						
						<label for="color" class="col-4 col-lg-2 d-flex mb-2 align-items-center justify-content-center wbreak">색상</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<select class="form-control" id="color" name="color">
								<option value="null">전체</option>
							</select>
						</div>
						<label for="size" class="col-4 col-lg-2 d-flex mb-2 align-items-center justify-content-center wbreak">사이즈</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<select class="form-control" id="size" name="size">
								<option value="null">전체</option>
							</select>
						</div>
						<div class="d-flex justify-content-end mt-2">
							<button type="button" id="addProduct" class="btn btn-primary registBtn" style="width:150px">제품추가</button>
						</div>
					</div>
					<hr style="height: 0.1px">
						<div id="storeProduct"></div>
						<div class="d-flex justify-content-end mt-2">
							<button id="productInsert" type="button" class="btn btn-primary"
								style="height: 45px; margin-top: 10px;">입고</button>
							<button class="btn btn-secondary" style="margin: 10px;" id="resetBtn" >초기화</button>
						</div>

			</div>


	</div>
	
	</div>


	<!-- 등록 버튼 클릭 -->

	<!-- 등록 모달 -->
	<div class="modal fade" id="registModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="height: 20px;">
					<h5 class="modal-title" id="exampleModalLabel"
						style="font-size: 15px;">등록 확인</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body"
					style="text-align: center; padding: 44px; padding-bottom: 10px;">
					<div>
						<img src="/images/modal/regist.png" alt="등록확인이미지"
							style="width: 84px; height: 84px;">
					</div>
					<div>
						<p style="margin-top: 12px; font-size: 21px; font-weight: bold;">알림</p>
						<p>내용을 등록하시겠습니까?</p>
					</div>
				</div>
				<div class="modal-footer regist"
					style="display: flex; justify-content: center; border-top: none; padding-bottom: 45px;">
					<!---->
					<button type="button" id="InsertTest"
						class="btn btn-outline-primary checkBtn" data-bs-dismiss="modal">등록</button>
					<button type="button" class="btn btn-secondary denyBtn"
						data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>


	<!-- 경고 모달 -->
      <div class="modal fade" id="modifyMOdal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="height: 20px;">
              <h5 class="modal-title" id="exampleModalLabel" style="font-size: 15px;">수정 확인</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="text-align: center; padding: 44px; padding-bottom:10px;">
              <div>
                <img src="/images/modal/modify.png" alt="등록확인이미지" style="width: 84px; height:84px; ">
              </div>
              <div>
                <p style="margin-top: 12px;
                font-size: 21px;
                font-weight: bold;">알림</p>
                <p id="warning">내용을 수정하시겠습니까?</p>
              </div>
            </div>
            <div class="modal-footer modify" style="display: flex; justify-content: center; border-top: none; padding-bottom:45px;">
              <!---->
              <button type="button" class="btn btn-outline-warning checkBtn" data-bs-dismiss="modal">확인</button>
            </div>
          </div>
        </div>
      </div>



	<!-- Toast UI Grid 스크립트 -->
	<script>
	
		
		document.querySelectorAll(".storeSearch").forEach((ev) => {
			ev.addEventListener('keydown', (ev) => {
				if(window.event.keyCode == 13){
					searchProductList();
				}
			})
		})
	
	
	
		//초기화 화면 새로고침
		document.getElementById('resetBtn').addEventListener('click', function() {
		    window.location.reload();  // 페이지 새로 고침
		 });
	
		function searchProductList() {
	    	storeGrid.readData(1, {
        		productCode: document.querySelector('#searchProductCode').value,
        		productName: document.querySelector('#searchProductName').value,
        		startUnitPrice: document.querySelector('#startUnitPrice').value,
        		endUnitPrice: document.querySelector('#endUnitPrice').value,
        	}, false);	//안에 값 넣으면 됨 파라미터 세개 (1:몊번째 페이지 불러올 것인가, 2:검색조건, 3:true=기존데이터 초기화)
        }
	
	
		inputReset.addEventListener('click', function(){
			document.querySelector('#searchProductCode').value = '';
       		document.querySelector('#searchProductName').value = '';
       		document.querySelector('#startUnitPrice').value = '';
       		document.querySelector('#endUnitPrice').value = '';
       		searchProductList();
		})
		
		
		let productCode = "";
		let productColor = "";
		let productName = "";
	   	
		let obj = []
		
		/*
	   	*========================================================================
	   	* 제품 목록 그리드 
	   	*========================================================================
	   	*/
		
	    const dataSource = {
	      api: {
	          readData: { url: '/store/productInfoList', method: 'GET' },
	        },
	      contentType: 'application/json',
	    };  
	    
	    const storeGrid = new Grid({
	      el: document.getElementById('grid'), // 컨테이너 엘리먼트
	      rowHeaders: ['rowNum'],
	      columnOptions: {
	          resizable: true
	      },
	      pageOptions:{
	          useClient: false,
	          perPage: 10
	        },
	      bodyHeight: 417,
	      columns: [ 
	        { header: "제품코드", name: "productCode", align: "center", sortable: true},
	        { header: "제품명", name: "productName", sortable: true},
	        { header: "단가", name: "unitPrice", align: "center", sortable: true, align: 'right', formatter: (row) => numberFormatter(row.value)},
	      ],
	      data: dataSource,
	      showDummyRows: true
	    });
	    
	    /*
	   	*========================================================================
	   	* 제품 목록 그리드 END
	   	*========================================================================
	   	*/
	    
	   	
	   	/*
	   	*========================================================================
	   	* 제품 입고 그리드 
	   	*========================================================================
	   	*/
	   	const storeProduct = new Grid({
	   		el: document.getElementById('storeProduct'),
	   		rowHeaders: ['rowNum'],
	   		bodyHeight: 253,
	   		columns: [
	   			{ header: "제품코드", name: "productCode", align: "center" },
	   			{ header: "제품명", name: "productName", width: 200},
	   			{ header: "색상", name: "color" },
	   			{ header: "사이즈", name: "sizeCode"},
	   			{ header: "수량", name: "productQy", editor: "text", align: 'right', formatter: (row) => numberFormatter(row.value) },
	   			{ header: "창고위치", name: "locationName", className: 'storage-location-cell' },
	   			{ header: "창고위치", name: "location", className: 'storage-location-cell', hidden:true },
	   		],
	   		data: [],
	   		showDummyRows: true
	   	})
	   	
	    
	   	storeProduct.on('afterChange', ev => {
	   	    let changed = ev.changes[0];
	   	    let rowKey = changed.rowKey;
	   	    let row = storeProduct.getRow(rowKey);
	   	    let val = changed.value;
	   	 	let columnName = changed.columnName;
	   	    
	   	    if(columnName === 'productQy'){	   	    	
		   	    if(isNaN(val)){ // 입력값이 숫자가 아닌 경우
		   	        failToast('입력값은 문자가 들어갈 수 없습니다.');
	
		   	        // 이전 값이 있으면 이전 값으로, 없으면 0으로 출력하고 종료
		   	        row.productQy = changed.prevValue == null ? 0 : changed.prevValue;
		   	     	storeProduct.setRow(rowKey, row);
		   	       return;
		   	    } else if (val < 0){ // 음수면 양수로 전환 
		   	        val = val * -1;
		   	        row.productQy = val;
		   	        storeProduct.setRow(rowKey, row);
		   	        failToast('입력값은 음수가 될 수 없습니다.');
		   	    }
	   	    }

	   	}); 

	    
	    
	   	
	    const modalGrid = new Grid({
	    	el: document.getElementById('modalGrid'),
	    	rowHeaders: ['rowNum'],
	    	columns: [
	    		{ header: "창고코드", name: "storageCode", align: "center", sortable: true  },
	    		{ header: "창고상세코드", name: "storageInfoCode", sortable: true },
	    		{ header: "창고이름", name: "storageInfoName", sortable: true },
	    	],
	    	data: [],
	    })
	    
	    let locationData = [];
	    
	    
	    document.querySelectorAll('.modalSearch').forEach((ev) => {
	    	ev.addEventListener('keydown', (ev) => {
	    		if(window.event.keyCode == 13){
	    			searchLocation();
	    		}
	    	})
	    })
	    
	    
	   	function searchLocation() {
	   	    let storageCode = document.querySelector('#searchStorageCode').value;
	   	    let storageInfoCode = document.querySelector('#searchStorageInfoCode').value;
	   	    let storageInfoName = document.querySelector('#searchStorageInfoName').value;
	   	    
	   	    const filteredData = locationData.filter(item => {
	   	        return (!storageCode || String(item.storageCode).includes(storageCode)) &&
	   	               (!storageInfoCode || String(item.storageInfoCode).includes(storageInfoCode)) &&
	   	               (!storageInfoName || String(item.storageInfoName).includes(storageInfoName));
	   	    });

	   	    console.log(filteredData); // 필터링된 데이터 출력
	   	    modalGrid.resetData(filteredData); // 그리드에 반영
	   	}

	    function searchLocationReset(){
	    	modalGrid.resetData(locationData);
	    }
	   	
	   	
	   	/*
	   	*========================================================================
	   	* 제품 입고 그리드 END
	   	*========================================================================
	   	*/
	   	
	
	   	
	    
	    
	    /*
	   	*========================================================================
	   	* 1번 그리드 클릭시 해당 제품 색상 데이터 가져오기
	   	*========================================================================
	   	*/
	    
	   	let lastClicked = null;
	   	
	    storeGrid.on('click', ev => {

	    	let data = storeGrid.getRow(ev.rowKey);
	    	document.querySelector('#productCode').value = data.productCode;
	    	document.querySelector('#productName').value = data.productName;
	    	
	    	productCode = data.productCode;
	    	productName = data.productName;
	    	
	    	storeGrid.removeRowClassName(lastClicked, 'bg-blue');
	    	storeGrid.addRowClassName(ev.rowKey, 'bg-blue');
			lastClicked = ev.rowKey;
	    	
	    	 // 색상 옵션 가져오기
	        fetch(`/store/productColor?productCode=${data.productCode}`)
	            .then(response => response.json())
	            .then(colors => {
					
	            	productColor = colors.productColor
	            	
	                let colorSelect = document.querySelector('#color');
	                colorSelect.innerHTML = '<option value="null">전체</option>'; // 기존 옵션 초기화
	                
	                let sizeSelect = document.querySelector('#size');
			    	sizeSelect.innerHTML = '<option value="null">전체</option>';

	                colors.forEach(color => {
	                    colorSelect.insertAdjacentHTML(
	                        'beforeend',
	                        `<option value="${color.productColor}">${color.productColor}</option>`
	                    );
	                });
	            })
	    	
	    })
	    
	    
	    /*
	   	*========================================================================
	   	* 1번 그리드 클릭시 해당 제품 색상 데이터 가져오기 END
	   	*========================================================================
	   	*/
	    
	   
	   	
	   	
	   	
	   	
	   	/*
	   	*========================================================================
	   	* 색상선택시 색상 사이즈 데이터 가져오기 
	   	*========================================================================
	   	*/
	   	
	    color.addEventListener('change', function () {
	    	productColor = this.value;
	    	productCode = document.querySelector('#productCode').value;
	    	
			fetch(`/store/productSize?productCode=${productCode}&productColor=${productColor}`)
			     .then(req => req.json())
			     .then(data => {
			    	let sizeSelect = document.querySelector('#size');
			    	sizeSelect.innerHTML = '<option value="null">전체</option>';
			    	
			    	data.forEach(sizeItem => {
			    		let sizeInfo = getSizeCommonCode(sizeItem.productSize)
			    		productSize = sizeItem.productSize;
			    		sizeSelect.insertAdjacentHTML(
			    			'beforeend',
			    			`<option value="${sizeInfo}">${sizeItem.productSize}</option>`
			    		)
			    	})
			    	
			    	
			     })
	   	});

	    
	    
	    /*
	   	*========================================================================
	   	* 색상선택시 색상 사이즈 데이터 가져오기 END!! 
	   	*========================================================================
	   	*/
	    
	   	
	   	size.addEventListener('click', function(){
	   		productSize = this.options[this.selectedIndex].text;
	   	})
	   	
	   	
	   	
	    
	   	/*
	   	*========================================================================
	   	* 제품추가 버튼 클릭 이벤트 
	   	*========================================================================
	   	*/

		// 제품 추가 버튼 클릭 시
		addProduct.addEventListener('click', function () {
			
		    productCode = document.querySelector('#productCode').value;
		    
		    if (productCode == null || productCode == "") {
		    	let modifyMOdal = new bootstrap.Modal(document.getElementById('modifyMOdal'));
		    	document.querySelector("#warning").innerText = "제품을 선택하세요";
		    	modifyMOdal.show();
		    } else {
		        // 이미 3번 그리드에 있는지 확인
		        let isProductExist = false;
		
		        // storeProduct의 데이터를 순회하여 이미 추가된 제품이 있는지 확인
		        storeProduct.getData().forEach(item => {
		            if (item.productCode === productCode && item.color === productColor && item.sizeCode === productSize) {
		                isProductExist = true; // 이미 있는 제품
		            }
		        });
		
		        if (isProductExist) {
		        	let modifyMOdal = new bootstrap.Modal(document.getElementById('modifyMOdal'));
			    	document.querySelector("#warning").innerText = "이미 등록된 제품입니다.";
			    	modifyMOdal.show();
		        } else {
		            // 새로운 제품 추가
		            let objInfo = {
		                productCode: productCode,
		                productName: productName,
		                color: productColor,
		                sizeCode: productSize,
		                productQy: "" ,// 초기 수량은 빈 문자열로 설정
		                //storageLocation : location
		            };
		
		            // 기존 데이터에 추가
		            let currentData = storeProduct.getData();  // 현재 데이터 가져오기
		            currentData.push(objInfo);  // 새로운 제품을 추가
		
		            // storeProduct의 데이터를 갱신 (기존 데이터 + 새 데이터)
		            storeProduct.resetData(currentData);
		
		            console.log('제품이 추가되었습니다.');
		        }
		    }
		});






	   	
	   	/*
	   	*========================================================================
	   	* 제품추가 버튼 클릭 이벤트 END!!
	   	*========================================================================
	   	*/
	   	
	   	productInsert.addEventListener('click', function(){
			let check = storeProduct.getData();
	   		
	   		if(check.length == 0){
	   			let modifyMOdal = new bootstrap.Modal(document.getElementById('modifyMOdal'));
		    	document.querySelector("#warning").innerText = "선택된 제품이 없습니다. 제품을 추가해주세요.";
		    	modifyMOdal.show();
	   			return ;
	   		}
	   		
	   		for (let i = 0; i < check.length; i++) {
	   	        if (!check[i].productQy || check[i].productQy.trim() === "") {
	   	            alert(`제품 ${check[i].productName} 의 수량을 입력해주세요.`);
	   	            return; 
	   	        }
	   	     	if(!check[i].location || check[i].location.trim() === "") {
	   	            alert(`창고위치를 선택하세요 .`);
	   	            return; 
	   	        }
	   	    }
	   		let modal = new bootstrap.Modal(document.getElementById('registModal'));
	        modal.show();
	   	})
	   	
	   	
	   	
	   	/*
	   	*========================================================================
	   	* 제품등록 처리
	   	*========================================================================
	   	*/
	   	
	   	InsertTest.addEventListener('click', function(){
	   		
	   	   let check = storeProduct.getData();
	   		
	   		// 데이터에서 사이즈 값 변환
	   	   let transformedData = check.map(item => {
	   	     // 사이즈 값 변환
	   	     item.sizeCode = getSizeCommonCode(item.sizeCode);
	   	        
	   	     console.log(item.sizeCode);
	   	        
	   	        return item;
	   	    });
	   		
	   		console.log("서버 통신 데이터 : ", transformedData);
	   		fetch(`/store/InsertProduct`,{
	   			method: 'POST',
	   			headers: {...headers, 'Content-Type': 'application/json'},
	    		body: JSON.stringify(transformedData)
	   		}).then(rep => rep.json())
	   		  .then(result => {
	   			 storeProduct.resetData([]);
	   		  })
	   		
	   	})
	   	
	   	
	    
	   	
	   	/*
	   	*========================================================================
	   	* 제품등록 처리 END!!
	   	*========================================================================
	   	*/
	   	
	   	
	   	
	   	
	   	
	   	
	   	/*
	   	*========================================================================
	   	* 창고위치 모달 그리드 데이터
	   	*========================================================================
	   	*/
	   	
	   	storeProduct.on('click', ev => {
	   		
	   		if(ev.columnName == "locationName"){
	   			let modal = new bootstrap.Modal(document.getElementById('exampleModal'));
		        modal.show();
		        
	   			fetch(`/store/storageInfoList`)
	   			    .then(rep => rep.json())
	   			    .then(data => {
	   			    	locationData = data;
	   			    	modalGrid.resetData(data);
	   			    })
	   		}
	   	})
	   	
	    /*
	   	*========================================================================
	   	* 창고위치 모달 그리드 데이터 END!!
	   	*========================================================================
	   	*/
	   	
	   	
	   	modalGrid.on('click', ev => {
	   	    let data = modalGrid.getRow(ev.rowKey);
	   	    console.log("선택한 창고 데이터:", data);
	   	    
	   	    let selectedRowKey = storeProduct.getFocusedCell()?.rowKey; // 현재 선택된 storeProduct 행 가져오기
	   	    
	   	    if (selectedRowKey !== null && selectedRowKey !== undefined) {
	   	        storeProduct.setValue(selectedRowKey, 'location', data.storageInfoCode);
	   	     	storeProduct.setValue(selectedRowKey, 'locationName', data.storageInfoName);
	   	    }

	   	    // 기존 모달 인스턴스 가져와서 닫기
	   	    let modalElement = document.getElementById('exampleModal');
	   	    let modalInstance = bootstrap.Modal.getInstance(modalElement); // 기존 모달 가져오기

	   	    if (modalInstance) {
	   	        modalInstance.hide(); // 모달 닫기
	   	    }
	   	});

	   	
	   	
	   	
	   	
	   	
	   	
	   	
	    
	    // Bootstrap 모달 이벤트 리스너 추가
		const modalElement = document.getElementById('exampleModal');

		modalElement.addEventListener('show.bs.modal', function () {
		    modalElement.style.display = 'block'; // 모달을 블록으로 변경
		    modalElement.style.opacity = '0'; // 투명하게 숨김
		});
		
		modalElement.addEventListener('shown.bs.modal', function () {
			modalGrid.refreshLayout();  // 모달이 완전히 뜬 후 크기 조정
		    modalElement.style.opacity = '1'; // 투명도 복원
		}); 


	    
	    </script>

</body>
</html>