<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}" layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>이조텍스SCM</title>
<!-- timePicker -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
<script
	src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>

<!-- datePicker -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

<!-- paging -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script
	src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>

<!-- toast grid -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>


<style type="text/css">
.custom-dropdown-container {
	position: relative;
	width: 100%;
}

.custom-dropdown-input {
	width: 100%;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.custom-dropdown-list {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	max-height: 150px;
	overflow-y: auto;
	background: white;
	border: 1px solid #ccc;
	border-top: none;
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
	z-index: 1000;
}

.custom-dropdown-item {
	padding: 8px;
	cursor: pointer;
}

.custom-dropdown-item:hover {
	background: #f0f0f0;
}
.storage-location-cell {
  background-color: #DCEFFA; /* 연한 초록 */
  color: #0F5132;
}

#modalGrid2 {
	width: 100%;
	height: 400px; /* 또는 원하는 높이 설정 */
	overflow-y: scroll;
}
.custom-input {
        height: 35px;
        padding: 5px 10px;
        font-size: 14px;
    }
</style>


</head>
<body>


	<!-- 경고 모달 -->
	<button type="button" class="btn btn-warning registBtn"
		data-bs-toggle="modal" data-bs-target="#modifyMOdal" hidden="true">
		수정</button>
	
	
	<!-- 창고모달 -->
		<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog modal-xl">
		        <div class="modal-content">
		            <div class="modal-header"></div>
		            <div class="card">
		                <div class="card-body">
		                    <div class="col-12 card card-body m-2  bg-secondary">
		                        <!-- 입력 박스 3개를 한 줄로 배치 -->
		                        <div class="mb-3 row d-flex justify-content-between">
		                            <div class="col-sm-3 d-flex align-items-center">
		                                <label for="searchStorageCode" class="col-form-label" style="margin-right: 10px; white-space: nowrap;">창고 코드</label>
		                                <input type="text" class="form-control" id="searchStorageCode" style="width: 150px;">
		                            </div>
		                            <div class="col-sm-3 d-flex align-items-center">
		                                <label for="searchStorageInfoCode" class="col-form-label" style="margin-right: 10px; white-space: nowrap;">창고 상세 코드</label>
		                                <input type="text" class="form-control" id="searchStorageInfoCode" style="width: 150px;">
		                            </div>
		                            <div class="col-sm-3 d-flex align-items-center">
		                                <label for="searchStorageInfoName" class="col-form-label" style="margin-right: 10px; white-space: nowrap;">창고 이름</label>
		                                <input type="text" class="form-control" id="searchStorageInfoName" style="width: 150px;">
		                            </div>
		                        </div>
		
		                        <!-- 버튼들을 한 줄로 중앙에 배치 -->
		                        <div class="d-flex justify-content-center mb-3">
		                            <button type="button" class="btn btn-warning mag-glass-btn me-2" onclick="searchLocation()">
		                                <i class="fa-solid fa-magnifying-glass icon-left" style="color: #ffffff;"></i>
		                            </button>
		                            <button type="reset" class="btn btn-secondary mag-glass-btn" onclick="searchLocationReset()">
		                                <i class="fa-solid fa-repeat icon-left" style="color: #ffffff;"></i>
		                            </button>
		                        </div>
		                    </div>
		                    <!-- 그리드 영역 -->
		                    <div id="modalGrid2"></div>
		                </div>
		            </div>
		            <div style="text-align: center; margin: 20px;">
		                <button type="button" class="btn btn-inverse-dark btn-fw" data-bs-dismiss="modal">취소</button>
		            </div>
		        </div>
		    </div>
		</div>
	


	<div class="modal fade" id="modifyMOdal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="height: 20px;">
					<h5 class="modal-title" id="exampleModalLabel"
						style="font-size: 15px;">수정 확인</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body"
					style="text-align: center; padding: 44px; padding-bottom: 10px;">
					<div>
						<img src="/images/modal/modify.png" alt="등록확인이미지"
							style="width: 84px; height: 84px;">
					</div>
					<div>
						<p style="margin-top: 12px; font-size: 21px; font-weight: bold;">경고</p>
						<p id="modalText"></p>
					</div>
				</div>
				<div class="modal-footer modify"
					style="display: flex; justify-content: center; border-top: none; padding-bottom: 45px;">
					<!---->
					<button type="button" class="btn btn-outline-warning checkBtn"
						data-bs-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 경고 모달 END -->

	<!-- 위치이동 모달 -->
	<div class="modal fade" id="exampleModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header"></div>
				<div class="card">
					<div class="card-body">
						
						<div class="mb-3 row">
							<h3 class="fs-3 fw-bold">이동할 재고</h3>
						</div>
						<div id="modalGrid"></div>
					</div>
				</div>
				<div style="text-align: center; margin: 20px;">
					<button type="button" id="locationUpdate" class="btn btn-outline-primary btn-fw">위치이동</button>
					<button type="button" class="btn btn-inverse-dark btn-fw"
						data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 위치이동 모달 END -->
	
	
	
	<!-- 등록 모달 -->
	<div class="modal fade" id="registModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="height: 20px;">
					<h5 class="modal-title" id="exampleModalLabel"
						style="font-size: 15px;">등록 확인</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body"
					style="text-align: center; padding: 44px; padding-bottom: 10px;">
					<div>
						<img src="/images/modal/regist.png" alt="등록확인이미지"
							style="width: 84px; height: 84px;">
					</div>
					<div>
						<p style="margin-top: 12px; font-size: 21px; font-weight: bold;">알림</p>
						<p id="addText">내용을 등록하시겠습니까?</p>
					</div>
				</div>
				<div class="modal-footer regist"
					style="display: flex; justify-content: center; border-top: none; padding-bottom: 45px;">
					<!---->
					<button type="button" id="InsertTest"
						class="btn btn-outline-primary checkBtn" data-bs-dismiss="modal">등록</button>
					<button type="button" class="btn btn-secondary denyBtn"
						data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>



	<h3 class="fs-3 fw-bold">| 재고 조정</h3>
				<div class="row ps-2">
	  <div class="col-12 card card-body m-2  bg-secondary">
	    <p class="fs-5 fw-bolder">제품 정보</p>
	
			    <div class="row ps-2">
							
						<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">제품코드</label>
						<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
							<input type="text" class="form-control pointer bg-white" id="searchProductCode" placeholder="찾기" >
						</div>
						<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">제품명</label>
						<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
							<input type="text" class="form-control pointer bg-white" id="searchProductName" placeholder="찾기" >
						</div>
						<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">LOT</label>
						<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
							<input type="text" class="form-control pointer bg-white" id="searchLot" placeholder="찾기" >
						</div>
						<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">창고위치</label>
						<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
							<input type="text" class="form-control pointer bg-white" id="location" placeholder="찾기" >
						</div>
						<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">색상</label>
						<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
							<input type="text" class="form-control pointer bg-white" id="searchColor" placeholder="찾기" >
						</div>
						<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">사이즈</label>
						<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
							<input type="text" class="form-control pointer bg-white" id="sizeCode" placeholder="찾기" >
						</div>
						
						<!-- <label  class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">사이즈</label>
						<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
							<select class="form-control" id="sizeCode">
								<option value="null">사이즈</option>
							</select>
						</div> -->
						
						<label class="col-3 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">입고일</label>
						<div class="col-8 col-sm-3 col-lg-2 d-flex mb-2" style="margin-right: 50px;">
							<input type="date" class="form-control text-end" id="startStoreDate" style="margin-right: 10px;"> ~ 
							<input type="date" class="form-control text-end" id="endStoreDate" style="margin-left: 10px;">
						</div>
					</div>
			
			    <!-- 버튼 -->
			    <div class="d-flex justify-content-center mt-2">
		           <button type="button" id="planSearchBtn" class="btn btn-warning mag-glass-btn me-2" onclick="searchProductManagementList()"><i class="fa-solid fa-magnifying-glass icon-left" style="color: #ffffff;"></i></button>
		           <button id="inputReset" type="reset" class="btn btn-secondary mag-glass-btn"><i class="fa-solid fa-repeat icon-left" style="color: #ffffff;"></i></button>
		         </div>
			  </div>
			</div>



	<div class="row">
		<div class="col-8 card card-body m-2">
			<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
			    <p class="fs-5 fw-bolder mt-2 mb-0">재고 현황</p>
			    <div class="modal-footer regist" style="display: flex; gap: 10px; border-top: none; padding: 0; margin: 0;">
			        <button class="btn btn-warning" id="productLocation" style="width: 110px;">위치이동</button>
			        <button class="btn btn-danger" id="productError" style="width: 110px;">불량선택</button>
			    </div>
			</div>

			<div id="Management"></div>
		</div>


		<div class="col-2 card card-body m-2" style="padding: 15px;">
		    <div class="form-group">
		        <p class="fs-5 fw-bolder mb-2">선택 재고</p>
		        <label style="font-weight: bold;">제품코드</label>
		        <input type="text" class="form-control custom-input" name="productCode" id="productCode" readonly>
		    </div>
		    <div class="form-group">
		        <label style="font-weight: bold;">제품명</label>
		        <input type="text" class="form-control custom-input" name="productName" id="productName" readonly>
		    </div>
		    <div class="form-group">
		        <label style="font-weight: bold;">LOT번호</label>
		        <input type="text" class="form-control custom-input" name="lot" id="lot" readonly>
		    </div>
		    <div class="form-group">
		        <label style="font-weight: bold;">제품수량</label>
		        <input type="text" class="form-control custom-input" name="productQy" id="productQy" readonly>
		    </div>
		    <div class="form-group">
		        <label style="font-weight: bold;">색상</label>
		        <input type="text" class="form-control custom-input" name="productColor" id="color" readonly>
		    </div>
		    <div class="form-group">
		        <label style="font-weight: bold;">사이즈</label>
		        <input type="text" class="form-control custom-input" name="productSize" id="size" readonly>
		    </div>
		
		    <!-- 불량처리 수량 + 사유 한 줄 배치 -->
		    <div class="d-flex align-items-center mt-3">
		    <label style="font-weight: bold;  margin-right: 8px; font-size: 12px;">불량처리 수량</label>
		    <input type="text" id="errorQy" class="form-control custom-input" name="errorQy" placeholder="" style="width: 100px; margin-right: 12px;">
		    
		    <label style="font-weight: bold; margin-right: 8px; font-size: 12px;">불량사유</label>
		    <select name="errorInfo" class="form-control custom-input" id="exampleFormControlSelect1" style="width: 120px;">
		        <option value="변색">변색</option>
		        <option value="찢어짐">찢어짐</option>
		    </select>
		</div>
		</div>
		
		<!-- 버튼 영역 -->
		<div class="modal-footer regist" style="display: flex; justify-content: flex-end; border-top: none;">
		    <button id="InsertError" class="btn btn-danger" style="width: 110px;">불량처리</button>
		    <button type="reset" class="btn btn-secondary" style="width: 110px;" id="resetBtn">초기화</button>
		</div>
	</div>

	<script>
		document.getElementById('errorQy').addEventListener('input', function(event) {
		    // 숫자가 아닌 문자일 경우 자동으로 제거
		    this.value = this.value.replace(/[^0-9]/g, '');  // 0-9 이외의 문자 제거
		});
	
		//초기화 화면 새로고침
		document.getElementById('resetBtn').addEventListener('click', function() {
		    window.location.reload();  // 페이지 새로 고침
		 });
	
	
		inputReset.addEventListener('click', function(){
			document.querySelector('#searchProductCode').value = '';
			document.querySelector('#searchProductName').value = '';
			document.querySelector('#searchLot').value = '';
			document.querySelector('#location').value = '';
			document.querySelector('#searchColor').value = '';
			document.querySelector('#sizeCode').value = '';
			document.querySelector('#startStoreDate').value = '';
			document.querySelector('#endStoreDate').value = '';
			searchProductManagementList();
		})
	
			function searchProductManagementList(){
				ManagementGrid.readData(1,{
					productCode: document.querySelector('#searchProductCode').value,
					productName: document.querySelector('#searchProductName').value,
					searchLot: document.querySelector('#searchLot').value,
					location: document.querySelector('#location').value,
					searchColor: document.querySelector('#searchColor').value,
					sizeCode: getSizeCommonCode(document.querySelector('#sizeCode').value.toUpperCase()),
					startStoreDate: document.querySelector('#startStoreDate').value,
					endStoreDate: document.querySelector('#endStoreDate').value,
				}, false)
			}
	
	
		
		
			const ManagementData = {
				api: {
						readData: { url: '/store/Management', method: 'GET'}
					 },
				contentType: 'application/json'
			}
			
			
			
			/*
		   	*========================================================================
		   	* 위치별 제품 재고 현황 그리드
		   	*========================================================================
		   	*/
			const ManagementGrid = new Grid({
				el: document.getElementById('Management'),
				rowHeaders: ['rowNum', 'checkbox'],
				pageOptions:{
					useClient: false,
					perPage: 10
				},
				bodyHeight: 417,
				columns: [
					{ header: "제품코드", name: "productCode", align: "center", sortable: true },
					{ header: "제품명", name: "productName", sortable: true, width: 250 },
					{ header: "색상", name: "productColor", sortable: true },
					{ header: "사이즈", name: "productSize", sortable: true },
					{ header: "LOT번호", name: "lot", align: "center" },
					{ header: "창고위치", name: "storageName", sortable: true },
					{ header: "입고일", name: "storeDate", sortable: true, formatter: (row) => dateFormatterNull(row.value) },
					{ header: "재고수량", name: "inventoryQy", sortable: true, align: 'right', formatter: (row) => numberFormatter(row.value) },
					/* { header: 'checkbox', name: 'checkbox', editor: 'checkbox'}, */ 
				],
				data: ManagementData,
				showDummyRows: true
			})
			
			
			
			const modalGrid2 = new Grid({
		    	el: document.getElementById('modalGrid2'),
		    	rowHeaders: ['rowNum'],
		    	columns: [
		    		{ header: "창고코드", name: "storageCode", align: "center", sortable: true  },
		    		{ header: "창고상세코드", name: "storageInfoCode", sortable: true },
		    		{ header: "창고이름", name: "storageInfoName", sortable: true },
		    	],
		    	data: [],
		    })
			
			
		
			
			
			/*
		   	*========================================================================
		   	* 위치 이동 모달 그리드
		   	*========================================================================
		   	*/
			const modalGrid = new Grid({
				el: document.getElementById('modalGrid'),
				rowHeaders: ['rowNum'],
				columns: [
					{ header: "제품코드", name: "productCode", align: "center" },
					{ header: "제품명", name: "productName"},
					{ header: "색상", name: "productColor"},
					{ header: "사이즈", name: "productSize"},
					{ header: "LOT번호", name: "lot", align: "center" },
					{ header: "입고일", name: "storeDate", sortable: true, formatter: (row) => dateFormatterNull(row.value) },
					{ header: "이동가능수량", name: "inventoryQy", sortable: true, align: 'right', formatter: (row) => numberFormatter(row.value) },
					{ header: "창고위치", name: "storageName", className: 'storage-location-cell' },
					{ header: "창고위치", name: "storageLocation", align: "center", className: 'storage-location-cell', hidden:true },
					/* { header: "이동수량", name: "qy", align: "center", editor: 'text' } */
				],
				data: [],
				      
			})
			
			
			
			/*
		   	*========================================================================
		   	* 위치 이동 모달 그리드 END
		   	*========================================================================
		   	*/
		   	
			
		   	/*
		   	*========================================================================
		   	* 위치 이동 모달 그리드 이벤트 처리
		   	*========================================================================
		   	*/
		   	
		   	let locationData = [];
		    
		   	function searchLocation() {
		   	    let storageCode = document.querySelector('#searchStorageCode').value;
		   	    let storageInfoCode = document.querySelector('#searchStorageInfoCode').value;
		   	    let storageInfoName = document.querySelector('#searchStorageInfoName').value;
		   	    
		   	    const filteredData = locationData.filter(item => {
		   	        return (!storageCode || String(item.storageCode).includes(storageCode)) &&
		   	               (!storageInfoCode || String(item.storageInfoCode).includes(storageInfoCode)) &&
		   	               (!storageInfoName || String(item.storageInfoName).includes(storageInfoName));
		   	    });

		   	    console.log(filteredData); // 필터링된 데이터 출력
		   	    modalGrid2.resetData(filteredData); // 그리드에 반영
		   	}

		    function searchLocationReset(){
		    	modalGrid2.resetData(locationData);
		    }
		   	
		   	// 체인지 이벤트 데이터 저장 처리
			modalGrid.on('click', ev => {
			    if (ev.columnName == "storageName") {
			    	
			        let modal1 = new bootstrap.Modal(document.getElementById('exampleModal'));
			        modal1.hide();
			
			        let modal2 = new bootstrap.Modal(document.getElementById('exampleModal2'));
			
			        document.getElementById('exampleModal2').style.zIndex = '1060';
			
			        document.getElementById('exampleModal').style.zIndex = '1050';
			
			        modal2.show();
			        
			        
			        fetch(`/store/storageInfoList`)
	   			    .then(rep => rep.json())
	   			    .then(data => {
	   			    	locationData = data;
	   			    	modalGrid2.resetData(data);
	   			    })
			        
			
			    }
			});

		   modalGrid2.on('click', ev => {
		   	    let data = modalGrid2.getRow(ev.rowKey);
		   	    console.log("선택한 창고 데이터:", data);
		   	    
		   	    let selectedRowKey = modalGrid.getFocusedCell()?.rowKey; // 현재 선택된 storeProduct 행 가져오기
		   	    
		   	    if (selectedRowKey !== null && selectedRowKey !== undefined) {
		   	    	modalGrid.setValue(selectedRowKey, 'storageLocation', data.storageInfoCode); // location 값 업데이트
		   	    	modalGrid.setValue(selectedRowKey, 'storageName', data.storageInfoName); // location 값 업데이트
		   	    }

		   	    // 기존 모달 인스턴스 가져와서 닫기
		   	    let modalElement = document.getElementById('exampleModal2');
		   	    let modalInstance = bootstrap.Modal.getInstance(modalElement); // 기존 모달 가져오기

		   	    if (modalInstance) {
		   	        modalInstance.hide(); // 모달 닫기
		   	    }
		   	});

		   let changedRows = []; // 변경된 데이터를 담을 배열

		   modalGrid.on("afterChange", ev => {
		       console.log('변경확인');
		       if (!ev || !ev.changes) return;

		       ev.changes.forEach(change => {
		           let rowData = modalGrid.getRow(change.rowKey);
		           console.log("rowData", rowData);
                   if(rowData.inventoryQy < rowData.qy){
                	   modalGrid.setValue(change.rowKey, 'qy', rowData.inventoryQy)
                   }
                   
		           let objInfo = {
		               lot: rowData.lot,
		               storageLocation: rowData.storageLocation,
		               qy: rowData.qy
		           };

		           let existingRowIndex = changedRows.findIndex(row => row.lot === objInfo.lot && row.storageLocation === objInfo.storageLocation);
		           if (existingRowIndex === -1) {
		               changedRows.push(objInfo);
		           } else {
		               changedRows[existingRowIndex] = objInfo;
		           }
		       });
		       changedRows = removeDuplicates(changedRows);
		   });

		   // 중복값을 제거하는 함수
		   function removeDuplicates(arr) {
		       return arr.filter((value, index, self) =>
		           index === self.findIndex((t) => (
		               t.lot === value.lot && t.storageLocation === value.storageLocation
		           ))
		       );
		   }

		   // 클릭 이벤트 처리
		   
		   registModal.addEventListener("click", function(){
			   let emptyQyRows = changedRows.filter(row => row.storageLocation && (!row.qy || row.qy === '' || row.qy === null));

		       fetch(`/store/locationUpdate`, {
		    	   method: 'POST',
				   headers: {...headers, 'Content-Type': 'application/json'},
				   body: JSON.stringify(emptyQyRows)
		       }).then(rep => rep.json())
		         .then(result => {
		        	 
		        	// 모달 인스턴스 생성
		        	 let modifyModalElement = document.getElementById('exampleModal');
		             let modifyModal = new bootstrap.Modal(modifyModalElement);
		             

		             modifyModal.hide();
		             
		             modifyModalElement.style.display = 'none';  // 모달을 숨기기
		             modifyModalElement.classList.remove('show'); // 'show' 클래스 제거.
		             
		             let backdrop = document.querySelector('.modal-backdrop');
		             if (backdrop) {
		                 backdrop.classList.remove('show');  // 배경을 숨김
		                 backdrop.remove();  // 배경 요소를 DOM에서 제거
		             }
		             
		         })
		   })
		   
		   
		   
		   locationUpdate.addEventListener("click", function() {
			   let modal = new bootstrap.Modal(document.getElementById('registModal'));
			   document.querySelector("#addText").innerText = "위치를 이동하시겠습니까?";
		        modal.show();
		   });



		   	
		   	
		   	/*
		   	*========================================================================
		   	* 위치 이동 모달 그리드 이벤트 처리 END
		   	*========================================================================
		   	*/
		   	
		   	
		   	
			
			/*
		   	*========================================================================
		   	* 불량처리 이벤트(실처리 하기 위한 체크 이벤트)
		   	*========================================================================
		   	*/
			productError.addEventListener("click", function (){
				let check = ManagementGrid.getCheckedRows();
				console.log(check)
				if(check.length == 1){
					document.querySelector('#productCode').value = check[0].productCode;
					document.querySelector('#productName').value = check[0].productName;
					document.querySelector('#lot').value = check[0].lot;
					document.querySelector('#productQy').value = check[0].inventoryQy;
					document.querySelector('#color').value = check[0].productColor;
					document.querySelector('#size').value = check[0].productSize;
				}else if(check.length > 1){
					modalText.innerHTML = '하나의 제품만 선택해 주세요	';
			        let modifyModal = new bootstrap.Modal(document.getElementById('modifyMOdal'));
			        modifyModal.show();
				}else{
					modalText.innerHTML = '하나 이상의 제품을 선택해 주세요	';
					let modifyModal = new bootstrap.Modal(document.getElementById('modifyMOdal'));
					modifyModal.show();
				}
			})
			/*
		   	*========================================================================
		   	* 불량처리 이벤트(실처리 하기 위한 체크 이벤트) END
		   	*========================================================================
		   	*/
		   	
		   	
		   	
		   	
		   	/*
		   	*========================================================================
		   	* 위치이동 이벤트(모달)
		   	*========================================================================
		   	*/
			productLocation.addEventListener("click", function (){
				let check = ManagementGrid.getCheckedRows();
				let data = []
			    let listItems = [];

				
			    // 서버에서 데이터 가져오기
			    fetch(`/store/storageInfoList`, {
			        method: 'GET',
			    })
			    .then(req => req.json())
			    .then(result => {
			       listItems = result.map(data => ({
			            text: data.storageInfoCode,
			            value: data.storageInfoCode
			        }));
			        console.log('listItems', listItems);
			        modalGrid.setColumns("storageName", {
			            editor: {
			                type: SearchableSelectEditor,
			                options: { listItems }  // 업데이트된 listItems 적용
			            }
			        });
			        
			    })
				
   

				if(check.length > 0){
					for(let i = 0; i < check.length; i++){
						data.push(check[i]);
					}
					let modal = new bootstrap.Modal(document.getElementById('exampleModal'));
					modal.show();
					modalGrid.resetData(data);
				}else{
					modalText.innerHTML = '하나 이상의 제품을 선택해 주세요	';
					let modifyModal = new bootstrap.Modal(document.getElementById('modifyMOdal'));
					modifyModal.show();
				}
		   })
		  /*
		   *========================================================================
		   * 위치이동 이벤트(모달) END
		   *========================================================================
		   */
		
		// 사이즈 저장 변수
		let productSize = "" ; 
			
			
	  /*
	   *========================================================================
	   * 불량수량 처리 이벤트
	   *========================================================================
	   */   
		errorQy.addEventListener('change', function(){
			let productQy = Number(document.querySelector('#productQy').value);
			let errorQy = Number(document.querySelector('#errorQy').value);
			let productCode = document.querySelector('#productCode').value;
			let modal = new bootstrap.Modal(document.getElementById('modifyMOdal'));
			
			let size = document.querySelector('#size').value;
			
			productSize = getSizeCommonCode(size);
			
			
			console.log(errorQy)
			console.log(productQy)
			
			if(errorQy > productQy){
				modalText.innerHTML = '수량을 초과하였습니다.'
				modal.show();				
				document.querySelector('#errorQy').value = '';
			}
			if(errorQy <= 0){
				modalText.innerHTML = '처리할 수량을 확인해주세요.'
				modal.show();				
				document.querySelector('#errorQy').value = '';
			}
			
		})
		
	  /*
	   *========================================================================
	   * 불량수량 처리 이벤트 END
	   *========================================================================
	   */ 
		  
	   
		// 서버로 전송할 데이터 가져오기
	    let obj = {}
	  
	  /*
	   *========================================================================
	   * 등록 처리 이벤트
	   *========================================================================
	   */ 
	    InsertError.addEventListener('click', function(){
	    	
	    	let modal = new bootstrap.Modal(document.getElementById('registModal'));
	    	
	    	
	    	obj = {
	    			productCode: document.querySelector("#productCode").value,
	    	        errorInfo: document.querySelector("#exampleFormControlSelect1").value,
	    	        lot: document.querySelector("#lot").value,
	    	        productQy: document.querySelector("#productQy").value,
	    	        productColor: document.querySelector("#color").value,
	    	        productSize: productSize,
	    	        errorQy: document.querySelector("#errorQy").value
	    	}
	    	
	    	let productCode = document.querySelector("#productCode").value;
	    	let productQy = document.querySelector("#productQy").value;
	    	let errorQy = document.querySelector("#errorQy").value;
	    	
	    	if(productCode == null || errorQy == null){
	    		modalText.innerHTML = '하나 이상의 제품을 선택해 주세요	';
				let modifyModal = new bootstrap.Modal(document.getElementById('modifyMOdal'));
				modifyModal.show();
	    	}else if(errorQy == 0 || errorQy == null){
	    		modalText.innerHTML = '수량을 입력하세요';
				let modifyModal = new bootstrap.Modal(document.getElementById('modifyMOdal'));
				modifyModal.show();
	    	}else{
	    		document.querySelector("#addText").innerText = "불량처리를 하시겠습니까?";
	    		modal.show();
	    	}
	    	
	    });
	  
		/*
	   *========================================================================
	   * 등록 처리 이벤트 END
	   *========================================================================
	   */ 
	   InsertTest.addEventListener('click', function(){
		   fetch(`/store/InsertProductError`, {
				method: 'POST',
				headers: {...headers, 'Content-Type': 'application/json'},
	   		body: JSON.stringify(obj)
			}).then(req => req.json())
			  .then(result => {
				  
				  document.querySelector("#productQy").value = productQy - errorQy
				  let check = document.querySelector("#productQy").value = productQy - errorQy
				  
				  
				  if(check == 0 || check == null || check == NaN){
					  document.querySelector("#productCode").value = '';
					  document.querySelector("#productName").value = '';
					  document.querySelector("#lot").value = '';
					  document.querySelector("#productQy").value = '';
					  document.querySelector("#color").value = '';
					  document.querySelector("#size").value = '';
					  document.querySelector("#errorQy").value = '';
				  }
				  
				  
				  ManagementGrid.readData({
	   	          url: 'http://localhost:80/store/Management',
	   	          method: 'GET',
				    })
			  })
	   })	
	   
			
	   let modalElement = document.getElementById('exampleModal');
	   modalElement.addEventListener('show.bs.modal', function () {
	       modalElement.style.display = 'block';
	       modalElement.style.opacity = '0';
	   });

	   modalElement.addEventListener('shown.bs.modal', function () {
	       modalGrid.refreshLayout(); 
	       modalElement.style.opacity = '1'; 
	   });

	   let modalElement2 = document.getElementById('exampleModal2');
	   modalElement2.addEventListener('show.bs.modal', function () {
	       modalElement2.style.display = 'block';
	       modalElement2.style.opacity = '0';
	   });

	   modalElement2.addEventListener('shown.bs.modal', function () {
	       modalGrid2.refreshLayout();
	       modalElement2.style.opacity = '1';
	   });


			
			
		</script>
</body>
</html>