<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}" layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>이조텍스SCM</title>
<!-- timePicker -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
<script
	src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>

<!-- datePicker -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

<!-- paging -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script
	src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>

<!-- toast grid -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<style type="text/css">
	#productLot {
	   	    height: 400px; /* 높이를 고정하여 스크롤을 활성화 */
	   	    overflow-y: scroll;
	}
</style>
</head>
<body>
	<div class="d-flex align-items-center">
		<h3 class="fs-3 fw-bold">| 재고 조회</h3>
	</div>

	<div class="row ps-2">
	  <div class="col-12 card card-body m-2  bg-secondary">
	    <p class="fs-5 fw-bolder">제품 정보</p>
	
	    <div class="row ps-2">
					
				<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">제품코드</label>
				<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control pointer bg-white" id="searchProductCode" placeholder="찾기" >
				</div>
				<label class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">제품</label>
				<div class="col-8 col-sm-4 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control pointer bg-white" id="searchProductName" placeholder="찾기" >
				</div>
			</div>
	
	    <!-- 버튼 -->
	    <div class="d-flex justify-content-center mt-2">
           <button type="button" id="planSearchBtn" class="btn btn-warning mag-glass-btn me-2" onclick="searchProductList()"><i class="fa-solid fa-magnifying-glass icon-left" style="color:#ffffff;"></i></button>
           <button id="inputReset" type="reset" class="btn btn-secondary mag-glass-btn"><i class="fa-solid fa-repeat icon-left" style="color: #ffffff;"></i></button>
         </div>
	  </div>
	</div>


		<div class="row">
			<div class="col-4 card card-body m-2">
			<p class="fs-5 fw-bolder">제품 정보</p>
				<div id="productGrid"></div>
			</div>

			<div class="col-6 card card-body m-2">
				<div style="margin-bottom: 10px; display: flex; align-items: center; gap: 10px;">
				    <p class="fs-5 fw-bolder mt-2 mb-0">선택된 제품</p>
				    <input type="text" class="form-control" id="prdCode" style="width: 200px;">
				    <input type="text" class="form-control" id="prdName" style="width: 250px;">
				</div>

				<div id="productGrid2"></div>
				<p class="fs-5 fw-bolder mt-2">LOT별 재고 현황</p>
				<div id="productLot">
					<!-- <div id="pagination" class="tui-pagination"></div> -->
				</div>



			</div>
		</div>


	<!-- Toast UI Grid 스크립트 -->
	<script>
		
	
		inputReset.addEventListener('click', function(){
			document.querySelector('#searchProductCode').value = '';
			document.querySelector('#searchProductName').value = '';
			searchProductList();
		})
	
	
		function searchProductList(){
			productListGrid.readData(1, {
				productCode: document.querySelector('#searchProductCode').value,
				productName: document.querySelector('#searchProductName').value,
			}, false);
		}
	
	
		let productCode = "";
		let productName = "";

	   	/*
	   	*========================================================================
	   	* 입고 완료 제품 목록 그리드
	   	*========================================================================
	   	*/
	   	const productData = {
	   		    api: {
	   		        readData: { url: '/store/productQyList', method: 'GET' }
	   		    },
	   		    contentType: 'application/json'
	   		};

	   	const productListGrid = new Grid({
	   		   el: document.getElementById('productGrid'),
	   		   rowHeaders: ['rowNum'],
		   	   pageOptions:{
			   useClient: false,
				 perPage: 10
			   },
			   bodyHeight: 417,
	   		   columnOptions: { resizable: true },
	   		   columns: [
	   		        { header: "제품 코드", name: "productCode", align: "center" },
	   		        { header: "제품명", name: "productName", sortable: true },
	   		        { header: "총 제품 수량", name: "inventoryQy", sortable: true, align: 'right', formatter: (row) => numberFormatter(row.value)}
	   		   ],
	   		   data: productData,
	   		   showDummyRows: true
	   		});
	   	
	   	/*
	   	*========================================================================
	   	* 입고 완료 제품 목록 그리드 END!!
	   	*========================================================================
	   	*/
	   	
	   	
	   	/*
	   	*========================================================================
	   	* 입고 완료 제품상세 목록 그리드
	   	*========================================================================
	   	*/
	   	
	   	const productGrid2 = new Grid({
		      el: document.getElementById('productGrid2'), // 컨테이너 엘리먼트
		      bodyHeight: 177,
		      width: 930,
		      columns: [ 
			        { header: "색상/사이즈", name: "productColor", width:80},
			        { header: "S", name: "s",  align: 'right', formatter: (row) => numberFormatter(row.value)},
			        { header: "M", name: "m",  align: 'right', formatter: (row) => numberFormatter(row.value)},
			        { header: "L", name: "l",  align: 'right', formatter: (row) => numberFormatter(row.value)},
			        { header: "XL", name: "xl", align: 'right', formatter: (row) => numberFormatter(row.value)},
			  ],
			  data: [],
	   		  showDummyRows: true,
	   		columnOptions: {
		        frozenCount: 1,
		        frozenBorderWidth: 1,
		        minWidth: 150
		      }
		    });
	   	
	   	let lastClicked = null
	   	
	   	productListGrid.on('click', ev => {
	   	    let data = productListGrid.getRow(ev.rowKey);
	   	    productCode = data.productCode;
	   	 	productName = data.productName;
	   	 	
	   	 	productListGrid.removeRowClassName(lastClicked, 'bg-blue');
	   		productListGrid.addRowClassName(ev.rowKey, 'bg-blue');
			lastClicked = ev.rowKey;
	   	 	
	   	 	
	   	 	document.querySelector('#prdCode').value = productCode;
	   	 	document.querySelector('#prdName').value = productName;

	   	    fetch(`/store/productListInfo?productCode=${productCode}`)
	   	        .then(rep => rep.json())
	   	        .then(data => {
	   	            // 헤더 컬럼 설정
	   	            let columns = [{ header: "색상/사이즈", name: "productColor", align: "center" }];
	   	            data.optionList.forEach(data => {
	   	                columns.push({
	   	                    header: data.productSizeInfo.toUpperCase(), 
	   	                    name: 'size'+data.productSizeInfo.toLowerCase(),  
	   	                    align: "center"
	   	                });
	   	            });
	   	            // 헤더 컬럼 지정
	   	            productGrid2.setColumns(columns);

	   	            // 데이터 넣기
	   	            let rowData = [];
	   	            data.pivotList.forEach(pivotData => {
	   	            	console.log(pivotData);
	   	                let row = { productColor: pivotData.PRODUCT_COLOR }; // 색상 데이터 넣기
	   	                // 실제 수량 넣는 곳
	   	                data.optionList.forEach(sizeItem => {
	   	                    let sizeKey = sizeItem.productSizeInfo.toLowerCase();
	   	                    row['size'+sizeKey] = pivotData['SZ' + sizeKey.toUpperCase()] || "0";  // 값이 없으면 0
	   	                });
	   	                rowData.push(row);
	   	            });
	   	            productGrid2.resetData(rowData);
	   	        })
	   	});

	   	productGrid2.on('click', ev => {
	   		let data = productGrid2.getRow(ev.rowKey);
	   		
	   		console.log(data);
	   		
	   		//let test = Object.keys(data);
	   		//console.log('필드값 : ',test);
	   		
	   		//let sizeTest = test.filter(ele => ele.startsWith('size'))
	   		//console.log('size들어간 필드값 : ', sizeTest);
	   		
	   		//console.log(data.productColor);
	   		
	   		let clickedColumn = ev.columnName; // 클릭된 컬럼명
	   	    let clickedValue = data[clickedColumn]; // 클릭된 셀의 값
			let color = data.productColor;
	   	    console.log('클릭된 컬럼명 :', clickedColumn);
	   	    console.log('클릭된 값 :', clickedValue);
    	    
	   	    let size = clickedColumn.replace('size','').toUpperCase();
	   	    console.log('클릭된 사이즈 : ', size);
	   	    
	   		let sizeCode = getSizeCommonCode(size);
	   		console.log('클릭된 사이즈 코드 : ', sizeCode);
	   		
	   		console.log('제품코드 : ', productCode);
	   		console.log('색상 : ', color);
	   		
	   		productInfo(productCode,color,sizeCode);
	   		
	   	    
	   		/* for (let i = 0; i < sizeTest.length; i++) {
	   		   if (data[sizeTest[i]] != null && data[sizeTest[i]] != 0) {
	   		       let currentSize = sizeTest[i].replace('size', '').toUpperCase(); // 현재 사이즈
	   		       
	   		       let objInfo = {
	   		           productCode: productCode,
	   		           size: currentSize,
	   		           sizeCode: getSizeCommonCode(currentSize),
	   		           qy: data[sizeTest[i]],
	   		           color: data.productColor
	   		       }
	   		       console.log('objInfo : ', objInfo);
	   		       obj.push(objInfo);
	   		   }
	   		}
	   		console.log('obj : ',obj); */
	   	})
	   	
	    /*
	   	*========================================================================
	   	* 입고 완료 제품상세 목록 그리드 END!!
	   	*========================================================================
	   	*/
	   	

	   	
	   	/*
	   	*========================================================================
	   	* 제품 옵션별 LOT 재고 리스트 그리드
	   	*========================================================================
	   	*/
	   	const productLot = new Grid({
	   	    el: document.getElementById('productLot'),
	   	    rowHeaders: ['rowNum'],
	   	    bodyHeight: 217, // 높이를 지정하여 세로 스크롤을 활성화
	   	    scrollY: true, // 세로 스크롤 활성화
	   	    columns: [
	   	        { header: "LOT", name: "lot", align: "center", sortable: true, width: 200 },
	   	        { header: "제품명", name: "productName", sortable: true, width: 200 },
	   	        { header: "사이즈", name: "productSize", sortable: true },
	   	        { header: "색상", name: "productColor", sortable: true },
	   	        { header: "재고량", name: "inventoryQy", sortable: true, align: 'right', formatter: (row) => numberFormatter(row.value) },
	   	        { header: "입고 담당자", name: "storeCharger", align: "center" },
	   	        { header: "창고위치", name: "storageInfoName", sortable: true }
	   	    ],
	   	    data: [],
	   	    showDummyRows: true
	   	});
	   	
	   	
	   	/*
	   	*========================================================================
	   	* 제품 옵션별 LOT 재고 리스트 그리드 END!!
	   	*========================================================================
	   	*/
	   	
	   	
	   	
	   	
	   	/*
	   	*========================================================================
	   	* 제품 옵션별 LOT 재고 리스트 데이터
	   	*========================================================================
	   	*/
	   	function productInfo(productCode,color,sizeCode){
   	    	fetch(`/store/inventoryList?productCode=${productCode}&color=${color}&sizeCode=${sizeCode}`,{
   	    		method: 'GET',
   	    		headers: headers,
   	    	}).then(req => req.json())
   	    	  .then(result => 
   	    			productLot.resetData(result)
   	    			  )
   	    	  	
   	    	  .catch(error => console.log('오류 : ', error))
   		}
	   	
	   	/*
	   	*========================================================================
	   	* 제품 옵션별 LOT 재고 리스트 데이터 END!!
	   	*========================================================================
	   	*/
	     
	   	</script>

</body>
</html>