<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezotex.store.mappers.InventoryMapper">
	
	<!-- 제품별 총 수량 -->
	<select id="productList" resultType="InventoryDTO">
		SELECT *
		FROM (
		      SELECT a.*, ROWNUM as rn
		      FROM (
		            SELECT i.product_code,
		                   p.product_name,
		                   sum(inventory_qy) as inventory_qy
		            FROM inventory  i join product_info p
		            ON i.product_code = p.product_code
		            <where>
		                AND i.product_se = 'PT02'
		            <if test='productCode != null and productCode != ""'>
		                AND i.product_code LIKE '%' || UPPER(#{productCode}) || '%'
		            </if>
		            <if test='productName != null and productName != ""'>
		            	AND p.product_name LIKE '%' || UPPER(#{productName}) || '%'
		            </if>
		            </where>
		            GROUP BY i.product_code,
		                     p.product_name
		            ORDER BY i.product_code
		            ) a
		        WHERE ROWNUM <![CDATA[ <= ]]> #{end}) page
		    WHERE page.rn >= #{start}
	</select>
	
	<!-- 제품별 총 수량 카운트 -->
	<select id="productListCount">
		SELECT count(DISTINCT i.product_code)
        FROM inventory i join product_info p
        on i.product_code = p.product_code
         <where>
              AND i.product_se = 'PT02'
          <if test='productCode != null and productCode != ""'>
              AND i.product_code LIKE '%' || UPPER(#{productCode}) || '%'
          </if>
          <if test='productName != null and productName != ""'>
          	AND p.product_name LIKE '%' || UPPER(#{productName}) || '%'
          </if>
          </where>
	</select>
	
	<!-- 제품별 색상,사이즈별 수량 -->
	<select id="productInfoList">
		with product as
          (SELECT product_color,
                  'sz' || get_comm(product_size) as product_size_info,
                  NVL(inventory_qy,0) as inventory_qy
           FROM inventory
           WHERE product_code = #{productCode})
    	select * from product
		pivot( sum(inventory_qy)
       		for product_size_info in (
       		<foreach collection="list" item="size" separator=",">
       			'${'sz'+size.productSizeInfo}' AS ${'sz'+size.productSizeInfo}
       		</foreach>)
		)pvt
	</select>
	
	
	<!-- 제품사이즈,색상별 상세리스트 -->
	<select id="inventoryList" resultType="InventoryDTO">
		SELECT i.lot,
		       p.product_name,
		       get_comm(i.product_size) as product_size,
		       i.product_color,
		       i.inventory_qy,
		       i.store_charger,
		       s.storage_info_name
		FROM inventory i join product_info p
		ON i.product_code = p.product_code
		join storage_info s 
        on i.storage_location = s.storage_info_code
		WHERE i.product_size = #{sizeCode}
		AND i.product_color = #{color}
		AND i.product_code = #{productCode}
		AND i.inventory_qy > 0
	</select>
	
	
	<!-- 위치별 제품 상세 리스트(재고조정) -->
	<select id="location" resultType="InventoryDTO">
		SELECT *
		FROM (
		       SELECT a.*, ROWNUM as rn
		       FROM ( SELECT MAX(i.product_code) AS product_code,
		                       p.product_name,
		                       i.product_color,
		                       get_comm(i.product_size) AS product_size,
		                       i.lot,
		                       i.storage_location,
		                       i.inventory_qy,
		                       i.store_date,
		                       s.storage_info_name as storageName
		                FROM inventory i JOIN product_info p 
		                ON i.product_code = p.product_code
		                join storage_info s
						on i.storage_location = s.storage_info_code
		                <where>
		                	AND product_se = 'PT02'
		                	AND i.inventory_qy > 0
		                <if test='productCode != null and productCode != ""'>
		                	AND i.product_code LIKE '%' || UPPER(#{productCode}) || '%'
		                </if>
		                <if test='productName != null and productName != ""'>
		                	AND p.product_name LIKE '%' || UPPER(#{productName}) || '%'
		                </if>
		                <if test='searchColor != null and searchColor != ""'>
		                	AND i.product_color LIKE '%' || UPPER(#{searchColor}) || '%'
		                </if>
		                <if test='location != null and location != ""'>
		                	AND i.storage_location LIKE '%' || UPPER(#{location}) || '%'
		                </if>
		                <if test='searchLot != null and searchLot != ""'>
		                	AND i.lot LIKE '%' || UPPER(#{searchLot}) || '%'
		                </if>
		                <if test='sizeCode != null and sizeCode != ""'>
		                	AND i.product_size LIKE '%' || UPPER(#{sizeCode}) || '%'
		                </if>
		                <if test='startStoreDate != null and startStoreDate != ""'>
		                	AND TRUNC(i.store_date) >= #{startStoreDate}
		                </if>
		                <if test='endStoreDate != null and endStoreDate != ""'>
		                	AND TRUNC(i.store_date) >= #{endStoreDate}
		                </if>
		                <if test='startStoreDate != null and startStoreDate != "" and endStoreDate != null and endStoreDate != ""'>
		                	AND TRUNC(i.store_date) BETWEEN #{startStoreDate} and #{endStoreDate}
		                </if>
		                </where>
		                GROUP BY i.lot, p.product_name, i.product_color, get_comm(i.product_size), 
		                			i.storage_location, i.inventory_qy, i.product_code, i.store_date,s.storage_info_name
		                ORDER BY lot desc
		            ) a
		        WHERE ROWNUM <![CDATA[ <= ]]> #{end} ) page
		    WHERE page.rn <![CDATA[ >= ]]> #{start}
	</select>
	
	<!-- 재고조정 LOT 카운터 -->
	<select id="getCountProduct">
		SELECT COUNT(*)
		FROM inventory i join product_info p
        on i.product_code = p.product_code
		 <where>
             	AND product_se = 'PT02'
             	AND i.inventory_qy > 0
             <if test='productCode != null and productCode != ""'>
             	AND i.product_code LIKE '%' || UPPER(#{productCode}) || '%'
             </if>
             <if test='productName != null and productName != ""'>
             	AND p.product_name LIKE '%' || UPPER(#{productName}) || '%'
             </if>
             <if test='searchColor != null and searchColor != ""'>
             	AND i.product_color LIKE '%' || UPPER(#{searchColor}) || '%'
             </if>
             <if test='location != null and location != ""'>
             	AND i.storage_location LIKE '%' || UPPER(#{location}) || '%'
             </if>
             <if test='searchLot != null and searchLot != ""'>
             	AND i.lot LIKE '%' || UPPER(#{searchLot}) || '%'
             </if>
             <if test='sizeCode != null and sizeCode != ""'>
             	AND i.product_size LIKE '%' || UPPER(#{sizeCode}) || '%'
             </if>
             <if test='startStoreDate != null and startStoreDate != ""'>
             	AND TRUNC(i.store_date) >= #{startStoreDate}
             </if>
             <if test='endStoreDate != null and endStoreDate != ""'>
             	AND TRUNC(i.store_date) >= #{endStoreDate}
             </if>
             <if test='startStoreDate != null and startStoreDate != "" and endStoreDate != null and endStoreDate != ""'>
             	AND TRUNC(i.store_date) BETWEEN #{startStoreDate} and #{endStoreDate}
             </if>
             </where>
	</select>
	
	
	
	<!-- LOT별 불량처리 등록 -->
	<insert id="InsertErrorProduct" parameterType="ErrorProductDTO">
		MERGE INTO inventory_error e
		USING (
		    SELECT 
		        #{edto.productCode} AS product_code,
		        #{edto.errorQy} AS error_qy,
		        #{edto.errorInfo} AS error_info,
		        sysdate AS process_date,
		        #{name} AS error_charger,
		        #{edto.lot} AS lot,
		        #{edto.productColor} AS product_color,
		        #{edto.productSize} AS product_size
		    FROM dual
		) new_data
		ON (
		    TRUNC(e.process_date) = TRUNC(new_data.process_date)
		    AND e.lot = new_data.lot
		    AND e.product_code = new_data.product_code
		    AND e.product_color = new_data.product_color
		    AND e.product_size = new_data.product_size
		    AND e.error_info = new_data.error_info
		    AND e.error_charger = new_data.error_charger
		)
		WHEN MATCHED THEN
		    UPDATE SET
		        e.error_qy = e.error_qy + new_data.error_qy     
		WHEN NOT MATCHED THEN
		    INSERT (error_code, product_code, error_qy, error_info, process_date, error_charger, lot, product_color, product_size)
		    VALUES (
		        concat(TO_CHAR(sysdate, 'yyyyMMdd'), LPAD(product_error_seq.nextval, 4, '0')),  
		        new_data.product_code,
		        new_data.error_qy,
		        new_data.error_info,
		        new_data.process_date,
		        new_data.error_charger,
		        new_data.lot,
		        new_data.product_color,
		        new_data.product_size
		    )

	</insert>
	
	
	<!-- 불량처리 후 재고 업데이트 -->
	<update id="InventoryUpdate">
		UPDATE inventory
		SET inventory_qy = inventory_qy - #{errorQy}
		WHERE product_color = #{productColor}
		AND product_size = #{productSize}
		AND product_code = #{productCode}
		AND lot = #{lot}
	</update>
	
	<!-- 창고 위치 코드 리스트 -->
	<select id="storageInfoList" resultType="storageInfoDTO">
		SELECT storage_code,
		       storage_info_code,
		       storage_info_name
		FROM storage_info
	</select>
	
	<!-- 재고조정 위치이동 -->
	<update id="locationUpdate">
		UPDATE inventory
		 SET storage_location = #{storageLocation}
		WHERE lot = #{lot}
	</update>
	
	
	<!-- 불량 재고 조회 -->
	<select id="errorProductList">
		SELECT *
		FROM (
		      SELECT a.*, ROWNUM as rn
		      FROM(
		            SELECT e.product_code,
		                   i.product_name,
		                   e.product_color,
		                   get_comm(e.product_size) as product_size,
		                   e.lot,
		                   e.process_date,
		                   e.error_charger,
		                   e.error_info,
		                   e.error_qy
		            FROM inventory_error e join product_info i
		            on e.product_code = i.product_code
		            <where>
		            <if test='productCode != null and productCode != ""'>
		                 AND e.product_code LIKE '%' || UPPER(#{productCode}) || '%'
		            </if>
		            <if test='productName != null and productName != ""'>
		                 AND i.product_Name LIKE '%' || UPPER(#{productName}) || '%'
		            </if>
		            <if test='color != null and color != ""'>
		                 AND e.product_color LIKE '%' || UPPER(#{color}) || '%'
		            </if>
		            <if test='sizeCode != null and sizeCode != ""'>
		                 AND e.product_size LIKE '%' || UPPER(#{sizeCode}) || '%'
		            </if>
		            <if test='searchLot != null and searchLot != ""'>
		                 AND e.lot LIKE '%' || UPPER(#{searchLot}) || '%'
		            </if>
		            <if test='requestor != null and requestor != ""'>
		                 AND e.error_charger LIKE '%' || UPPER(#{requestor}) || '%'
		            </if>
		            <if test='startErrorDate != null and startErrorDate != ""'>
		                 AND TRUNC(e.process_date) >= TO_DATE(#{startErrorDate}, 'yyyy-mm-dd')
		            </if>
		            <if test='endErrorDate != null and endErrorDate != ""'>
		                 AND TRUNC(e.process_date) <![CDATA[ <= ]]> TO_DATE(#{endErrorDate}, 'yyyy-mm-dd')
		            </if>
		            <if test='startErrorDate != null and startErrorDate != "" and endErrorDate != null and endErrorDate != ""'>
		                 AND TRUNC(e.process_date) BETWEEN TO_DATE(#{startErrorDate}, 'yyyy-mm-dd') AND TO_DATE(#{endErrorDate}, 'yyyy-mm-dd')
		            </if>
		            </where>
		            ORDER BY e.process_date desc
		            )a
		        WHERE ROWNUM <![CDATA[ <= ]]> #{end}) page
		    WHERE page.rn >= #{start}
	</select>
	
	<!-- 불량 재고 카운트 -->
	<select id="errorProductCount">
		SELECT COUNT(*)
		FROM inventory_error e join product_info i
		on e.product_code = i.product_code
		<where>
            <if test='productCode != null and productCode != ""'>
                 AND e.product_code LIKE '%' || UPPER(#{productCode}) || '%'
            </if>
            <if test='productName != null and productName != ""'>
                 AND i.product_Name LIKE '%' || UPPER(#{productName}) || '%'
            </if>
            <if test='color != null and color != ""'>
                 AND e.product_color LIKE '%' || UPPER(#{color}) || '%'
            </if>
            <if test='sizeCode != null and sizeCode != ""'>
                 AND e.product_size LIKE '%' || UPPER(#{sizeCode}) || '%'
            </if>
            <if test='searchLot != null and searchLot != ""'>
                 AND e.lot LIKE '%' || UPPER(#{searchLot}) || '%'
            </if>
            <if test='requestor != null and requestor != ""'>
                 AND e.error_charger LIKE '%' || UPPER(#{requestor}) || '%'
            </if>
            <if test='startErrorDate != null and startErrorDate != ""'>
                 AND TRUNC(e.process_date) >= TO_DATE(#{startErrorDate}, 'yyyy-mm-dd')
            </if>
            <if test='endErrorDate != null and endErrorDate != ""'>
                 AND TRUNC(e.process_date) <![CDATA[ <= ]]> TO_DATE(#{endErrorDate}, 'yyyy-mm-dd')
            </if>
            <if test='startErrorDate != null and startErrorDate != "" and endErrorDate != null and endErrorDate != ""'>
                 AND TRUNC(e.process_date) BETWEEN TO_DATE(#{startErrorDate}, 'yyyy-mm-dd') AND TO_DATE(#{endErrorDate}, 'yyyy-mm-dd')
            </if>
       </where>
	</select>
	
	
	
	<select id="errorTotal">
		SELECT p.product_code,
               ROUND((NVL(SUM(e.error_qy), 0) / NULLIF(NVL(SUM(i.store_qy), 0), 0)) * 100,1) AS totalErrorQy
		FROM product_info p
		LEFT JOIN inventory_error e 
		ON p.product_code = e.product_code
		LEFT JOIN inventory i 
		ON p.product_code = i.product_code
		GROUP BY p.product_code
		ORDER BY p.product_code
	</select>
	
	
	
</mapper>