<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezotex.store.mappers.StoreMapper">
	
	<!-- 제품 목록 -->
	<select id="productInfoList" resultType="ProductInfoListDTO">
		SELECT *
		FROM (
       			SELECT a.*, ROWNUM as rn
       			FROM (
						SELECT product_code,
						       product_name,
						       unit_price
						FROM product_info
						<where>	               	
						    AND product_type = 'PT02'
			            <if test='productCode != null and productCode != ""'>
			            	AND product_code LIKE '%' || UPPER(#{productCode}) || '%'
			            </if>
			            <if test='productName != null and productName != ""'>
			            	AND product_Name LIKE '%' || UPPER(#{productName}) || '%'
			            </if>
			            <if test='startUnitPrice != null and startUnitPrice != ""'>
					        AND unit_price >= #{startUnitPrice}
					    </if>
					    <if test='endUnitPrice != null and endUnitPrice != ""'>
					        AND unit_price <![CDATA[ <= ]]> #{endUnitPrice}
					    </if>
			            <if test='startUnitPrice != null and startUnitPrice != "" and endUnitPrice != null and endUnitPrice != ""'>
			            	AND unit_price BETWEEN #{startUnitPrice} AND #{endUnitPrice}
			            </if>
			            </where>
						ORDER BY product_code
							
			    )a
    		WHERE ROWNUM <![CDATA[ <= ]]> #{end}) page
		WHERE page.rn <![CDATA[ >= ]]> #{start}
	</select>
	
	
	<!-- 제품 목록 total 구하기 -->
	<select id="productInfoTotal">
		SELECT count(*)
		FROM product_info
		<where>	               	
		    AND product_type = 'PT02'
        <if test='productCode != null and productCode != ""'>
           	AND product_code LIKE '%' || UPPER(#{productCode}) || '%'
        </if>
        <if test='productName != null and productName != ""'>
          	AND product_Name LIKE '%' || UPPER(#{productName}) || '%'
        </if>
        <if test='startUnitPrice != null and startUnitPrice != ""'>
		    AND unit_price >= #{startUnitPrice}
		</if>
		<if test='endUnitPrice != null and endUnitPrice != ""'>
		    AND unit_price <![CDATA[ <= ]]> #{endUnitPrice}
		</if>
        <if test='startUnitPrice != null and startUnitPrice != "" and endUnitPrice != null and endUnitPrice != ""'>
          	AND unit_price BETWEEN #{startUnitPrice} AND #{endUnitPrice}
        </if>
        </where>
	</select>
	
	<!-- 제품 색상 -->
	<select id="productColor">
		SELECT product_color
		FROM product_option
		WHERE product_code = #{productCode}
		GROUP BY product_color
	</select>
	
	<!-- 제품 사이즈 -->
	<select id="productSize">
		SELECT get_comm(product_size) as product_size
		FROM product_option
		WHERE product_code = #{productCode}
		AND product_color = #{productColor}
	</select>
	
	
	<!-- 공급계획 리스트 -->
	<select id="domList">
		SELECT *
		FROM (
		      SELECT a.*, ROWNUM as rn
		      FROM (
		            SELECT supply_plan_detail_code,
		                   supply_plan_code,
		                   product_code,
		                   product_color,
		                   product_size,
		                   supply_qy,
		                   supply_date
		            FROM SUPPLY_PLAN_DETAILS
		            ) a
		        WHERE ROWNUM <![CDATA[ <= ]]>  #{end} ) page
		    WHERE page.rn <![CDATA[ >= ]]> #{start} 
	</select>
	
	<select id="domListCount">
		SELECT count(*)
		FROM SUPPLY_PLAN_DETAILS
	</select>
	
	
	
	
	<!-- =================================================== 반품으로 수정해야됨 =================================================== -->
	
	<!-- 반품 코드 기반 납품목록 -->
	<select id="DeliveryList" resultType="StoreReturnDTO">
		SELECT *
		FROM (
		       SELECT a.*, ROWNUM as rn
		       FROM (SELECT r.return_code,
		                    r.delivery_code,
		                    r.company_code,
		                    r.company_name,
		                    r.requestor,
		                    r.request_date,
		                    count(p.product_code) as count
		            FROM returns r JOIN return_product p
		            ON r.return_code = p.return_code
		            <where>	               	
					    AND p.processing_status = 'ER03'
		                AND p.show = 'on'
			        <if test='returnCode != null and returnCode != ""'>
			           	AND r.return_code LIKE '%' || UPPER(#{returnCode}) || '%'
			        </if>
			        <if test='requestor != null and requestor != ""'>
					    AND r.requestor LIKE '%' || #{requestor} || '%'
					</if>
	                <if test='startRequestDate != null and startRequestDate != ""'>
					    AND TRUNC(r.request_date) >= TO_DATE(#{startRequestDate}, 'yyyy-mm-dd')
					</if>
					<if test='endRequestDate != null and endRequestDate != ""'>
					    AND TRUNC(r.request_date) <![CDATA[ <= ]]> TO_DATE(#{endRequestDate}, 'yyyy-mm-dd')
					</if>
			        <if test='startRequestDate != null and startRequestDate != "" and endRequestDate != null and endRequestDate != ""'>
	                    AND TRUNC(r.request_date) BETWEEN TO_DATE(#{startRequestDate}, 'yyyy-mm-dd') AND TO_DATE(#{endRequestDate}, 'yyyy-mm-dd')
	                </if>
			        </where>
		            GROUP BY r.return_code, r.delivery_code, r.company_code, r.company_name, r.requestor, r.request_date
		            ORDER BY r.request_date desc
		        ) a
		    WHERE ROWNUM <![CDATA[ <= ]]> #{end} )page
		WHERE page.rn <![CDATA[ >= ]]> #{start}
	</select>
	
	
	<!-- 납품목록 리스트 (자재) -->
	<select id="MtDeliveryList">
		SELECT *
		FROM (
       			SELECT a.*, ROWNUM as rn
       			FROM (
                		SELECT 
               	               d.delivery_code, 
                               d.order_date, 
                               d.dedt, 
                               COUNT(i.product_code) AS delivery_qy
                        FROM delivery d 
                        JOIN delivery_details i ON d.delivery_code = i.delivery_code
                        <where>	               	
						    AND d.company_se = 'CP01'
						    AND i.delivery_qy > 0
                            AND d.delivery_status = 'DS01'
				        <if test='deliveryCode != null and deliveryCode != ""'>
				           	AND d.delivery_code LIKE '%' || UPPER(#{deliveryCode}) || '%'
				        </if>
				        <if test='startOrderDate != null and startOrderDate != ""'>
						    AND d.order_date >= TO_DATE(#{startOrderDate}, 'yyyy-mm-dd')
						</if>
						<if test='endOrderDate != null and endOrderDate != ""'>
						    AND d.order_date <![CDATA[ <= ]]> TO_DATE(#{endOrderDate}, 'yyyy-mm-dd')
						</if>
				        <if test='startOrderDate != null and startOrderDate != "" and endOrderDate != null and endOrderDate != ""'>
		                    AND d.order_date BETWEEN TO_DATE(#{startOrderDate}, 'yyyy-mm-dd') AND TO_DATE(#{endOrderDate}, 'yyyy-mm-dd')
		                </if>
		                <if test='startDedt != null and startDedt != ""'>
						    AND d.dedt >= TO_DATE(#{startDedt}, 'yyyy-mm-dd')
						</if>
						<if test='endDedt != null and endDedt != ""'>
						    AND d.dedt <![CDATA[ <= ]]> TO_DATE(#{endDedt}, 'yyyy-mm-dd')
						</if>
				        <if test='startDedt != null and startDedt != "" and endDedt != null and endDedt != ""'>
		                    AND d.dedt BETWEEN TO_DATE(#{startDedt}, 'yyyy-mm-dd') AND TO_DATE(#{endDedt}, 'yyyy-mm-dd')
		                </if>
				        </where>
                        GROUP BY d.delivery_code, d.order_date, d.dedt
                        ORDER BY d.delivery_code  
               )a
    		WHERE ROWNUM <![CDATA[ <= ]]> #{end}) page
		WHERE page.rn <![CDATA[ >= ]]> #{start}
	</select>
	
	
	
	<!-- 납품 코드 기반 납품제품 총 수량 -->
	<!-- <select id="deliveryQy" resultType="StoreDeliveryDTO">
		SELECT count(t.product_code) as deliveryQy
		FROM delivery_details t join delivery d
		ON t.delivery_code = d.delivery_code
	</select> -->
	
	
	<!-- 페이징(납품입고리스트(반품제품)) total -->
	<select id="getCount">
		SELECT COUNT(DISTINCT r.return_code)
		FROM returns r
		JOIN return_product p
		ON r.return_code = p.return_code
		<where>	               	
					    AND p.processing_status = 'ER03'
		                AND p.show = 'on'
			        <if test='returnCode != null and returnCode != ""'>
			           	AND r.return_code LIKE '%' || UPPER(#{returnCode}) || '%'
			        </if>
			        <if test='requestor != null and requestor != ""'>
					    AND r.requestor LIKE '%' || #{requestor} || '%'
					</if>
	                <if test='startRequestDate != null and startRequestDate != ""'>
					    AND TRUNC(r.request_date) >= TO_DATE(#{startRequestDate}, 'yyyy-mm-dd')
					</if>
					<if test='endRequestDate != null and endRequestDate != ""'>
					    AND TRUNC(r.request_date) <![CDATA[ <= ]]> TO_DATE(#{endRequestDate}, 'yyyy-mm-dd')
					</if>
			        <if test='startRequestDate != null and startRequestDate != "" and endRequestDate != null and endRequestDate != ""'>
	                    AND TRUNC(r.request_date) BETWEEN TO_DATE(#{startRequestDate}, 'yyyy-mm-dd') AND TO_DATE(#{endRequestDate}, 'yyyy-mm-dd')
	                </if>
			        </where>
	</select>
	
	<!-- 페이징(납품입고리스트(자재)) total -->
	<select id="getMtCount">
		select count(delivery_code)
		from delivery
		 <where>	               	
			    AND company_se = 'CP01'
                AND delivery_status = 'DS01'
	     <if test='deliveryCode != null and deliveryCode != ""'>
	         AND delivery_code LIKE '%' || UPPER(#{deliveryCode}) || '%'
	     </if>
	     <if test='startOrderDate != null and startOrderDate != ""'>
		     AND order_date >= TO_DATE(#{startOrderDate}, 'yyyy-mm-dd')
		 </if>
		 <if test='endOrderDate != null and endOrderDate != ""'>
		     AND order_date <![CDATA[ <= ]]> TO_DATE(#{endOrderDate}, 'yyyy-mm-dd')
		 </if>
	     <if test='startOrderDate != null and startOrderDate != "" and endOrderDate != null and endOrderDate != ""'>
             AND order_date BETWEEN TO_DATE(#{startOrderDate}, 'yyyy-mm-dd') AND TO_DATE(#{endOrderDate}, 'yyyy-mm-dd')
         </if>
         <if test='startDedt != null and startDedt != ""'>
		     AND dedt >= TO_DATE(#{startDedt}, 'yyyy-mm-dd')
		 </if>
		 <if test='endDedt != null and endDedt != ""'>
		     AND dedt <![CDATA[ <= ]]> TO_DATE(#{endDedt}, 'yyyy-mm-dd')
		 </if>
	     <if test='startDedt != null and startDedt != "" and endDedt != null and endDedt != ""'>
             AND dedt BETWEEN TO_DATE(#{startDedt}, 'yyyy-mm-dd') AND TO_DATE(#{endDedt}, 'yyyy-mm-dd')
         </if>
	     </where>
	</select>
	
	
	<!-- 반품코드를 기반으로 입고해야될 제품 기본정보 리스트 -->
	<select id="findByDeliveryCode" resultType="StoreReturnDTO">
		SELECT  r.product_code,
			    r.product_name,
			    SUM(r.qy) AS qy,
			    SUM(r.qy) - NVL(SUM(i.store_qy), 0) AS not_store_qy,
			    NVL(SUM(i.store_qy), 0) AS store_qy
			FROM 
			    return_product r
			LEFT JOIN 
			    inventory i ON r.return_code = i.return_code
			                 AND r.product_code = i.product_code
			                 AND r.product_size = i.product_size
			                 AND r.product_color = i.product_color
			WHERE 
			    r.return_code = #{returnCode}
			GROUP BY 
			    r.product_code, 
			    r.product_name
	</select>
	
	
	<!-- 납품코드를 기반으로 입고해야될 자재 기본정보 리스트 -->
	<select id="findByMtDeliveryCode">
		SELECT d.product_code,
		       p.product_name,
		       d.product_color,
		       SUM(DISTINCT d.delivery_qy) as productQy,
		       sum(distinct d.delivery_qy) - sum(nvl(i.store_qy,0)) as qy,
		       SUM(i.store_qy) as totalQy
		FROM delivery_details d LEFT join inventory i
		on d.delivery_code = i.delivery_code
		        AND d.product_color = i.product_color
		left join product_info p
		on d.product_code = p.product_code
		WHERE d.product_se = 'PT01'
		AND d.delivery_code = #{deliveryCode}
		group by d.product_code,
		         p.product_name,
		         d.product_color
	</select>
	
	
	<!-- 제품코드별 사이즈 -->
	<select id="findBySizeInventory" resultType="StoreDeliveryDetailsDTO">
		SELECT get_comm(product_size) as product_size_info
		FROM product_option
		WHERE product_code = #{productCode}
		GROUP BY product_size
        ORDER BY product_size
	</select>
	
	<!-- 제품 코드 기반 옵션,요청 수량 리스트 -->
	<select id="findByProductCode">
		with temp as
		     (SELECT r.product_color,
	                 'sz' || get_comm(r.product_size) as product_size_info,
	                 r.product_code,
	                 r.qy - SUM(NVL(i.store_qy,0)) as store_qy
	         FROM return_product r LEFT JOIN inventory i
	         on r.return_code = i.return_code
	                       AND r.product_size = i.product_size
	                       AND r.product_code = i.product_code
	                       AND r.product_color = i.product_color
	         WHERE r.product_code = #{productCode}
	         AND r.return_code = #{returnCode}
	         GROUP BY r.product_color, r.product_code, r.product_size,r.qy, i.store_qy)
		select * from temp
		pivot( sum(store_qy)
		       for product_size_info in (
		       <foreach collection="list" item="size" separator=",">
                '${'sz' + size.productSizeInfo}' AS ${'sz' + size.productSizeInfo}
               </foreach>)
		)pvt
	</select>
	
	<!-- 제품옵션별 등록 -->
	<insert id="InsertProduct" parameterType="SizeDTO">
	  INSERT INTO inventory(lot,
                            product_code,
                            store_qy,
                            inventory_qy,
                            product_color,
                            product_size,
                            store_charger,
                            storage_location,
                            store_date,
                            product_se,
                            delivery_code,
                            return_code) 
		VALUES(concat(TO_CHAR(sysdate, 'yyyyMMdd'),LPAD(inventory_lot_seq.nextval, 4,'0')),
		       #{list.productCode},
		       #{list.productQy},
		       #{list.productQy},
		       #{list.color},
		       #{list.sizeCode},
		       #{name},
		       #{list.location},
		       sysdate,
		       'PT02',
		       #{list.deliveryCode},
		       #{list.returnCode})
	</insert>
	
	<!-- 옵션코드 제품이름 조회 -->
	<select id="optionSelect" resultType="OptionProductDTO">
		SELECT (SELECT MAX(lot) FROM inventory) AS lot,
		       o.option_code,
		       p.product_name
		FROM product_option o JOIN product_info p 
		ON o.product_code = p.product_code
		WHERE o.product_code = #{productCode}
		  AND o.product_color = #{color}
		  AND o.product_size = #{sizeCode}
		GROUP BY o.option_code, p.product_name
		ORDER BY lot DESC
	</select>
	
	
	<!-- 창고 제품 위치 테이블 등록 -->
	<insert id="InsertOption">
		<selectKey keyProperty="empCode" resultType="String" order="BEFORE">
			SELECT emp_code
			FROM emp
			WHERE emp_id = #{id}
			AND emp_name = #{name}
		</selectKey>
		INSERT INTO storage_product(lot,
                            storage_info_code,
                            option_code,
                            product_code,
                            product_name,
                            store_date,
                            store_charger_name,
                            store_charger_code,
                            qy)
		VALUES (#{size.lot},
		        #{list.location},
		        #{size.optionCode},
		        #{list.productCode},
		        #{size.productName},
		        sysdate,
		        #{name},
		        #{empCode},
		        #{list.productQy})
	</insert>
	
	
	<!-- 창고 제품 위치 테이블 등록(반품) -->
	<insert id="InsertReturnOption">
		<selectKey keyProperty="empCode" resultType="String" order="BEFORE">
			SELECT emp_code
			FROM emp
			WHERE emp_id = #{id}
			AND emp_name = #{name}
		</selectKey>
		INSERT INTO storage_product(lot,
                            storage_info_code,
                            option_code,
                            product_code,
                            product_name,
                            store_date,
                            store_charger_name,
                            store_charger_code,
                            qy)
		VALUES (#{size.lot},
		        #{list.storageLocation},
		        #{size.optionCode},
		        #{list.productCode},
		        #{size.productName},
		        sysdate,
		        #{name},
		        #{empCode},
		        #{list.productQy})
	</insert>
	
	
	<!-- 반품제품옵션별 등록 -->
	<insert id="returnInsertProduct" parameterType="SizeDTO">
	  INSERT INTO inventory(lot,
                            product_code,
                            store_qy,
                            inventory_qy,
                            product_color,
                            product_size,
                            store_charger,
                            storage_location,
                            store_date,
                            product_se,
                            delivery_code,
                            return_code) 
		VALUES(concat(TO_CHAR(sysdate, 'yyyyMMdd'),LPAD(inventory_lot_seq.nextval, 4,'0')),
		       #{list.productCode},
		       #{list.productQy},
		       #{list.productQy},
		       #{list.color},
		       #{list.sizeCode},
		       #{name},
		       #{list.storageLocation},
		       sysdate,
		       'PT02',
		       #{list.deliveryCode},
		       #{list.returnCode})
	</insert>
	
	<!-- 반품 처리상태를 위한 제품입고량 -->
	<select id="deliveryPrCheck">
		SELECT SUM(r.qy) - sum(NVL(i.store_qy, 0)) as checkQy
		FROM return_product r left join inventory i
		on r.return_code = i.return_code
		WHERE r.return_code = #{returnCode}	
	</select>
	
	<!-- 반품 처리상태 변경 -->
	<update id="returnProcessing">
		UPDATE return_product
  		SET show = 'off'
		WHERE return_code = #{returnCode}
	</update>
	
	
	<!-- 자재 등록 -->
	<insert id="MtInsertProduct" parameterType="StoreDeliveryDetailsDTO">
		INSERT INTO inventory(lot,
		                      product_code,
		                      store_qy,
		                      inventory_qy,
		                      product_color,
		                      store_charger,
		                      storage_location,
		                      store_date,
		                      product_se,
		                      delivery_code)
		VALUES(concat(TO_CHAR(sysdate,'yyyyMMdd'),LPAD(mt_lot_seq.nextval, 4, '0')),
		       #{list.productCode},
		       #{list.productInsertQy},
		       #{list.productInsertQy},
		       #{list.productColor},
		       #{name},
		       #{list.location},
		       sysdate,
		       'PT01',
		       #{list.deliveryCode})  
	</insert>
	
	
	<!-- 납품상태 업데이트를 위한 자재입고량  -->
	<select id="deliveryMtCheck">
		SELECT sum(DISTINCT d.delivery_qy) - sum(nvl(i.store_qy,0)) as checkQy
		from delivery_details d left join inventory i
		on d.delivery_code = i.delivery_code
		WHERE d.product_se = 'PT01'
		AND i.delivery_code = #{deliveryCode}	
	</select>
	
	<!-- 납품상태 상태변환 -->
	<update id="deliveryProcessing">
		UPDATE delivery
		  SET  delivery_status = 'DS05'
		WHERE delivery_code = #{deliveryCode}
	</update>
	
	
	<!-- 입고된 수량, 불량처리 수량 , 요청수량 -->
	<select id="storeQy">
		SELECT NVL(sum(i.store_qy),0) + NVL(sum(e.error_qy),0) as total,
		       sum(d.delivery_qy) as request_qy
		FROM inventory i left join inventory_error e
		on i.delivery_code = e.delivery_code
		           and i.product_code = e.product_code
		left join delivery_details d
		on i.delivery_code = d.delivery_code
		WHERE i.delivery_code = #{deliveryCode}
	</select>
	
	<!-- 입고량에 따른 수정 -->
	<update id="UpdateDelivery" parameterType="SizeDTO">
		UPDATE delivery
		SET delivery_status = 'DS05'
		WHERE delivery_code = #{deliveryCode}
	</update>
	
	<!-- =================================================== 반품으로 수정해야됨 =================================================== -->
	
	
</mapper>