<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}" layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>이조텍스SCM</title>
<!-- timePicker -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
<script
	src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>

<!-- datePicker -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

<!-- paging -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script
	src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>

<!-- toast grid -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<style type="text/css">
</style>
</head>
<body>
	<h3 class="fs-3 fw-bold">| 자재/제품 조회</h3>
	<div class="col" style="padding: 10px">
		<div class="row">
			<!-- 제품 검색 조건 -->
			<div class="row me-2">
				<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">코드</label>
				<div class="col-2 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control" id="productCode" name="productCode" value="">
				</div>

				<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">이름</label>
				<div class="col-2 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control" id="productName" name="productName" value="">
				</div>
				
				<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">유형</label>
				<div class="col-2 col-lg-2 d-flex mb-2">
					<select class="form-control" id="productType" name="productType">
						<option value="">전체</option>
						<option value="PT01">자재</option>
						<option value="PT02">제품</option>
					</select>
				</div>
				<div class="col-3 col-lg-3 d-flex mb-2"></div>
			</div>

			<div class="row me-2">
				<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">대분류</label>
				<div class="col-2 col-lg-2 d-flex mb-2">
					<select class="form-control" id="lclas" name="lclas" onchange="lclas_change()">
						<option value="">전체</option>
					</select>
				</div>

				<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">소분류</label>
				<div class="col-2 col-lg-2 d-flex mb-2">
					<select class="form-control" id="sclas" name="sclas">
						<option value="">전체</option>
					</select>
				</div>
				
				<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">단가</label>
				<div class="col-2 col-lg-2 d-flex mb-2">
					<input type="number" class="form-control" id="minPrice" name="minPrice" placeholder="이상" value="">
				</div>

				<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak"> ~ </label>
				<div class="col-2 col-lg-2 d-flex mb-2">
					<input type="number" class="form-control" id="maxPrice" name="maxPrice" placeholder="이하" value="">
				</div>
			</div>

			<div class="d-flex justify-content-center mt-2 mb-4">
				<button type="button" id="searchBtn" class="btn btn-secondary mag-glass-btn me-2" onclick="searchBtn()">
					<i class="fa-solid fa-magnifying-glass icon-left" style="color: #646464;"></i>
				</button>
				<button type="reset" class="btn btn-warning mag-glass-btn" onclick="resetBtn()">
					<i class="fa-solid fa-repeat icon-left" style="color: #ffffff;"></i>
				</button>
			</div>
			
			<div class="col me-2">
				<div id="searchGrid" style="height: 525px">
				</div>
			</div>
			<div class="col me-2" style="height: 525px; text-align: center;">
				<img id="preview" style="width: 90%; height: 90%;" />
			</div>
			<form action="/" method="post" enctype="multipart/form-data" onsubmit="return submit_check()">
				<div class="row me-2">
					<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">코드</label>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<input type="text" class="form-control" id="selectProductCode" name="selectProductCode" value="" onchange="productCode()" disabled>
					</div>

					<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">이름</label>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<input type="text" class="form-control" id="selectProductName" name="selectProductName" value="">
					</div>
				
					<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">사진</label>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<input type="file" class="form-control" onchange="readURL(this);" id="selectProductImg" name="selectProductImg">
					</div>
					<div class="col-3 col-lg-3 d-flex mb-2"></div>
				</div>
				
				<div class="row me-2">
					<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">단가</label>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<input type="number" class="form-control" id="selectUnitPrice" name="selectUnitPrice" value="">
					</div>

					<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">유형</label>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<select class="form-control" id="selectProductType" name="selectProductType">
						<option value="" selected disabled>선택</option>
						<option value="PT01">자재</option>
						<option value="PT02">제품</option>
					</select>
					</div>
				
					<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">부피</label>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<input type="number" class="form-control" id="selectVl" name="selectVl" value="">
					</div>
					<div class="col-1 col-lg-1 d-flex mb-2"></div>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<button id="insertBtn" class="btn btn-primary" style="display: block">등록하기</button>
						<button id="editBtn" class="btn btn-warning" style="display: none">수정하기</button>
					</div>
				</div>
			</form>
			<div class="row me-2">
				<div class="col-1 col-lg-1 d-flex mb-2"></div>
				<div class="col-2 col-lg-2 d-flex mb-2" style="text-align: center;">
					<button onclick="categoryBtn()" class="btn btn-primary">카테고리 관리</button>
				</div>
				<div class="col-1 col-lg-1 d-flex mb-2"></div>
				<div class="col-2 col-lg-2 d-flex mb-2" style="text-align: center;">
					<button onclick="optionBtn()" class="btn btn-primary">상품옵션 관리</button>
				</div>
				<div class="col-3 col-lg-3 d-flex mb-2"></div>
				<div class="col-3 col-lg-3 d-flex mb-2"></div>
			</div>
		</div>
	</div>
	<script>
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				document.getElementById('preview').src = e.target.result;
			};
			reader.readAsDataURL(input.files[0]);
		} else {
			document.getElementById('preview').src = "";
		}
	}
	
	fetch('http://localhost:80/standard/categoryLclas')
	.then((response) => response.json())
	.then((data) => {
			let select_lclas = document.querySelector("#lclas");
			for (let i = 0 ; i < data.length ; i++) {
				let o = document.createElement('option');
				o.setAttribute("value", data[i].lclas);
				o.innerText = data[i].lclas
				select_lclas.appendChild(o);
			}
		})

	function lclas_change() {
		let select_lclas = document.querySelector("#lclas");
		let select_sclas = document.querySelector("#sclas");
		if (select_lclas.value == "") {
			select_sclas.innerHTML = ""
			let o = document.createElement('option');
			o.setAttribute("value", "");
			o.innerText = "전체"
			select_sclas.appendChild(o);
		} else {
			fetch('http://localhost:80/standard/categorySclas?lclas=' + select_lclas.value)
			.then((response) => response.json())
			.then((data) => {
				select_sclas.innerHTML = ""
				let o = document.createElement('option');
				o.setAttribute("value", "");
				o.innerText = "전체"
				select_sclas.appendChild(o);
				for (let i = 0 ; i < data.length ; i++) {
					let o = document.createElement('option');
					o.setAttribute("value", data[i].sclas);
					o.innerText = data[i].sclas
					select_sclas.appendChild(o);
				}
			})
		}
	}
	var searchGrid = null;
	productListAll()
	function productListAll() {
		document.getElementById('searchGrid').replaceChildren()
		let gridData = {
			api: {
				readData: { url: '/standard/productListAll', method: 'GET' }
			},
			contentType : 'application/json' // 데이터 전달 시 인코딩 필요
		}
		searchGrid = new Grid({
			el: document.getElementById('searchGrid'), // 해당 위치에 그리드 출력
		    data: gridData,
		    columns: [
		        { header: '코드', name: 'PRODUCT_CODE', width: 100, sortable: true },
		        { header: '이름', name: 'PRODUCT_NAME', whiteSpace: 'pre-line', sortable: true },
		        { header: '유형', name: 'PRODUCT_TYPE_NAME', width: 100, sortable: true, align: 'center' }, 
		        { header: '대분류', name: 'LCLAS', width: 100, sortable: true, align: 'center' }, 
		        { header: '소분류', name: 'SCLAS', width: 100, sortable: true, align: 'center' }, 
		        { header: '단가', name: 'UNIT_PRICE', width: 100, sortable: true, align: 'center', formatter: row => numberFormmater(row.value) }
		    ],
		    pageOptions: {
		        useClient: true, // 페이징을 위해 필요
		        perPage: 10
		  	},
		  	scrollX: false, // 가로 스크롤
		  	scrollY: false // 세로 스크롤
		})
	}
	
	function searchBtn() {
		document.getElementById('searchGrid').replaceChildren()
		let gridData = {
				api: {
					readData: { 
						url: '/standard/productListSearch?productCode=' + document.querySelector("#productCode").value
								 + '&productName=' + document.querySelector("#productName").value
								 + '&productType=' + document.querySelector("#productType").value
								 + '&lclas=' + document.querySelector("#lclas").value
								 + '&sclas=' + document.querySelector("#sclas").value
								 + '&minPrice=' + document.querySelector("#minPrice").value
								 + '&maxPrice=' + document.querySelector("#maxPrice").value
								 , 
						method: 'GET' 
					}
				},
				contentType : 'application/json' // 데이터 전달 시 인코딩 필요
			}
			searchGrid = new Grid({
				el: document.getElementById('searchGrid'), // 해당 위치에 그리드 출력
			    data: gridData,
			    columns: [
			        { header: '코드', name: 'PRODUCT_CODE', width: 100, sortable: true },
			        { header: '이름', name: 'PRODUCT_NAME', whiteSpace: 'pre-line', sortable: true },
			        { header: '유형', name: 'PRODUCT_TYPE_NAME', width: 100, sortable: true, align: 'center' }, 
			        { header: '대분류', name: 'LCLAS', width: 100, sortable: true, align: 'center' }, 
			        { header: '소분류', name: 'SCLAS', width: 100, sortable: true, align: 'center' }, 
			        { header: '단가', name: 'UNIT_PRICE', width: 100, sortable: true, align: 'center', formatter: row => numberFormmater(row.value) }
			    ],
			    pageOptions: {
			        useClient: true, // 페이징을 위해 필요
			        perPage: 10
			  	},
			  	scrollX: false, // 가로 스크롤
			  	scrollY: false // 세로 스크롤
			})
	}
	
	function resetBtn() {
		productListAll()
		document.querySelector("#productCode").value = ""
		document.querySelector("#productName").value = ""
		document.querySelector("#productType").value = ""
		document.querySelector("#lclas").value = ""
		document.querySelector("#sclas").value = ""
		document.querySelector("#minPrice").value = ""
		document.querySelector("#maxPrice").value = ""
	}
	
	let lastClicked = null
	searchGrid.on('focusChange', ev => {
		searchGrid.removeRowClassName(lastClicked, 'bg-blue'); // 이전 선택 행 배경색 삭제
		searchGrid.addRowClassName(ev.rowKey, 'bg-blue'); // 선택된 행 배경색 추가
		lastClicked = ev.rowKey; 
		
		selectedRow = searchGrid.getRow(ev.rowKey);
		console.log(selectedRow)

	});

	function productCode() {
		if (document.querySelector("#productCode").value == "") {
			document.querySelector("#insertBtn").style.display = "block"
			document.querySelector("#editBtn").style.display = "none"
		} else {
			document.querySelector("#insertBtn").style.display = "none"
			document.querySelector("#editBtn").style.display = "block"
		}
	}
	</script>
</body>
</html>