<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}" layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>이조텍스SCM</title>
<!-- timePicker -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
<script
	src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>

<!-- datePicker -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

<!-- paging -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script
	src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>

<!-- toast grid -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<style type="text/css">
</style>
<style>
.modal {
display: block !important;
visibility: hidden;
}

.modal.show {
visibility: visible;
}
</style>
</head>
<body>
	<h3 class="fs-3 fw-bold">| 자재/제품 조회</h3>
	<div class="col" style="padding: 10px">
		<div class="row">
			<!-- 제품 검색 조건 -->
			<div class="card bg-secondary">
			<div class="card-body">
			<div class="search">
			<div class="row me-2">
				<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">코드</label>
				<div class="col-2 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control" id="productCode" name="productCode" value="">
				</div>

				<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">이름</label>
				<div class="col-2 col-lg-2 d-flex mb-2">
					<input type="text" class="form-control" id="productName" name="productName" value="">
				</div>
				
				<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">유형</label>
				<div class="col-2 col-lg-2 d-flex mb-2">
					<select class="form-control" id="productType" name="productType">
						<option value="">전체</option>
						<option value="PT01">자재</option>
						<option value="PT02">제품</option>
					</select>
				</div>
				<div class="col-3 col-lg-3 d-flex mb-2"></div>
			</div>

			<div class="row me-2">
				<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">대분류</label>
				<div class="col-2 col-lg-2 d-flex mb-2">
					<select class="form-control" id="lclas" name="lclas" onchange="lclas_change()">
						<option value="">전체</option>
					</select>
				</div>

				<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">소분류</label>
				<div class="col-2 col-lg-2 d-flex mb-2">
					<select class="form-control" id="sclas" name="sclas">
						<option value="">전체</option>
					</select>
				</div>
				
				<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">단가</label>
				<div class="col-2 col-lg-2 d-flex mb-2">
					<input type="number" class="form-control" id="minPrice" name="minPrice" placeholder="이상" value="">
				</div>

				<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak"> ~ </label>
				<div class="col-2 col-lg-2 d-flex mb-2">
					<input type="number" class="form-control" id="maxPrice" name="maxPrice" placeholder="이하" value="">
				</div>
			</div>
			</div>

			<div class="d-flex justify-content-center">
				<button type="button" id="searchBtn" class="btn btn-warning mag-glass-btn me-2" onclick="searchBtn()">
					<i class="fa-solid fa-magnifying-glass icon-left" style="color: #ffffff;"></i>
				</button>
				<button type="reset" class="btn btn-secondary mag-glass-btn me-2" onclick="resetBtn()">
					<i class="fa-solid fa-repeat icon-left" style="color: #646464;"></i>
				</button>
			</div>
			</div>
			</div>
			
			<div class="col me-2" style="margin-top: 20px">
				<div id="searchGrid" style="height: 525px">
				</div>
			</div>
			<div class="col me-2" style="height: 525px; text-align: center; margin-top: 20px">
				<img id="preview" style="width: 100%; height: 500px; object-fit: contain; object-position: left;" onerror="this.src='/images/no_img.png'"/>
			</div>
			<form action="/standard/productInsert" method="post" enctype="multipart/form-data" onsubmit="return submit_check()">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				<div class="row me-2">
					<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">코드</label>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<input type="text" class="form-control" id="selectProductCode" name="productCode" value="" readonly>
					</div>

					<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">이름</label>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<input type="text" class="form-control" id="selectProductName" name="productName" value="">
					</div>
					
					<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">단위</label>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<select class="form-control" id="unitName" name="unitName">
							<option value="" selected disabled>선택</option>
						</select>
					</div>
				
					<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">사진</label>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<input type="file" class="form-control" onchange="readURL(this);" id="selectProductImg" name="imgFile">
					</div>
				</div>
				
				<div class="row me-2">
					<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">단가</label>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<input type="number" class="form-control" id="selectUnitPrice" name="unitPrice" value="">
					</div>

					<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">유형</label>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<select class="form-control" id="selectProductType" name="productType">
							<option value="" selected disabled>선택</option>
							<option value="PT01">자재</option>
							<option value="PT02">제품</option>
						</select>
					</div>
				
					<label class="col-1 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">부피</label>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<input type="number" class="form-control" id="selectVl" name="vl" value="">
					</div>
					<div class="col-1 col-lg-1 d-flex mb-2"></div>
					<div class="col-2 col-lg-2 d-flex mb-2">
						<button id="insertBtn" class="btn btn-primary" style="display: block">등록하기</button>
						<button id="editBtn" class="btn btn-warning" style="display: none">수정하기</button>
					</div>
				</div>
			</form>
			<div class="row me-2">
				<div class="col-1 col-lg-1 d-flex mb-2"></div>
				<div class="col-2 col-lg-2 d-flex mb-2" style="text-align: center;">
					<button onclick="categoryBtn()" class="btn btn-primary" id="categoryBtn">카테고리 관리</button>
				</div>
				<div class="col-1 col-lg-1 d-flex mb-2"></div>
				<div class="col-2 col-lg-2 d-flex mb-2" style="text-align: center;">
					<button onclick="optionBtn()" class="btn btn-primary" id="optionBtn">상품옵션 관리</button>
				</div>
				<div class="col-3 col-lg-3 d-flex mb-2"></div>
				<div class="col-3 col-lg-3 d-flex mb-2"></div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="productCodeModalLabel">카테고리 관리</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					</button>
				</div> 
				<div class="card">
					<div class="card-body">
						<div class="row me-2">
							<div class="col-3 col-lg-3 d-flex mb-2"></div>
							<div class="col-1 col-lg-1 d-flex mb-2">코드</div>
							<div class="col-2 col-lg-2 d-flex mb-2" style="text-align: center;">
								<input type="text" class="form-control" id="categoryModalProductCode" name="productCode" value="" readonly>
							</div>
							<div class="col-1 col-lg-1 d-flex mb-2">이름</div>
							<div class="col-2 col-lg-2 d-flex mb-2" style="text-align: center;">
								<input type="text" class="form-control" id="categoryModalProductName" name="productName" value="" readonly>
							</div>
							<div class="col-3 col-lg-3 d-flex mb-2"></div>
						</div>
						
						<div class="row me-2">
							<div class="col-3 col-lg-3 d-flex mb-2"></div>
							<div class="col-1 col-lg-1 d-flex mb-2">대분류</div>
							<div class="col-2 col-lg-2 d-flex mb-2" style="text-align: center;">
								<select class="form-control" id="modalLclas" name="modalLclas" onchange="modal_lclas_change()">
								</select>
							</div>
							<div class="col-1 col-lg-1 d-flex mb-2">소분류</div>
							<div class="col-2 col-lg-2 d-flex mb-2" style="text-align: center;">
								<select class="form-control" id="modalSclas" name="modalSclas">
									<option value="" selected disabled>선택</option>
								</select>
							</div>
							<div class="col-3 col-lg-3 d-flex mb-2"></div>
						</div>
						<div style="text-align: center;">
							<button id="insertBtn" class="btn btn-primary" onclick="categoryModalRowAdd()">행 추가</button>
							<button id="editBtn" class="btn btn-danger" onclick="categoryModalRowDel()">행 삭제</button>
						</div>
						<div style="margin: 0px auto; width: 60%">
							<div id="categoryGrid">
							</div>
						</div>
					</div>
				</div>
				<div style="text-align: center; margin: 20px;">
					<button type="button" class="btn btn-outline-primary btn-fw" onclick="categorySubmit()">저장</button>
					<button type="button" class="btn btn-inverse-dark btn-fw" data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<div style="margin: 0px auto; width: 300px">
			<div id="categoryToast" style="width: 300px; text-align: center;">
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="optionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="productCodeModalLabel">상품옵션 관리</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					</button>
				</div> 
				<div class="card">
					<div class="card-body">
						<div class="row me-2">
							<div class="col-3 col-lg-3 d-flex mb-2"></div>
							<div class="col-1 col-lg-1 d-flex mb-2">코드</div>
							<div class="col-2 col-lg-2 d-flex mb-2" style="text-align: center;">
								<input type="text" class="form-control" id="optionModalProductCode" name="productCode" value="" readonly>
							</div>
							<div class="col-1 col-lg-1 d-flex mb-2">이름</div>
							<div class="col-2 col-lg-2 d-flex mb-2" style="text-align: center;">
								<input type="text" class="form-control" id="optionModalProductName" name="productName" value="" readonly>
							</div>
							<div class="col-3 col-lg-3 d-flex mb-2"></div>
						</div>
						<!-- 
						<div class="row me-2">
							<div class="col-3 col-lg-3 d-flex mb-2"></div>
							<div class="col-1 col-lg-1 d-flex mb-2">업체</div>
							<div class="col-2 col-lg-2 d-flex mb-2" style="text-align: center;">
								<input type="text" class="form-control" id="optionModalComInput" name="productCode" value="" placeholder="입력" oninput="modalOptionComChange()">
							</div>
							<div class="col-1 col-lg-1 d-flex mb-2">선택</div>
							<div class="col-2 col-lg-2 d-flex mb-2" style="text-align: center;">
								<select class="form-control" id="optionModalComSelect" name="productName">
									<option value="" selected disabled>선택</option>
								</select>
							</div>
							<div class="col-3 col-lg-3 d-flex mb-2"></div>
						</div>
						 -->
						<div class="row me-2">
							<div class="col-3 col-lg-3 d-flex mb-2"></div>
							<div class="col-1 col-lg-1 d-flex mb-2">색상</div>
							<div class="col-2 col-lg-2 d-flex mb-2" style="text-align: center;">
								<input type="text" class="form-control" id="modalColor" name="modalColor" value="" placeholder="영문">
							</div>
							<div class="col-1 col-lg-1 d-flex mb-2">사이즈</div>
							<div class="col-2 col-lg-2 d-flex mb-2" style="text-align: center;">
								<select class="form-control" id="modalSize" name="modalSize">
									<option value="" selected disabled>선택</option>
								</select>
							</div>
							<div class="col-3 col-lg-3 d-flex mb-2"></div>
						</div>
						<div class="row me-2" style="text-align: center;">
							<div class="col-4 col-lg-4 d-flex mb-2"></div>
							<div class="col-2 col-lg-2 d-flex mb-2">
								<button id="insertBtn" class="btn btn-primary" onclick="optionModalAddColor()">색상 추가</button>
							</div>
							<div class="col-1 col-lg-1 d-flex mb-2"></div>
							<div class="col-2 col-lg-2 d-flex mb-2">
								<button id="editBtn" class="btn btn-primary" onclick="optionModalAddSize()">사이즈 추가</button>
							</div>
							<div class="col-3 col-lg-3 d-flex mb-2"></div>
						</div>
						<div style="margin: 0px auto; width: 80%">
							<div id="optionGrid">
							</div>
						</div>
						<div class="row me-2">
							<div class="col-2 col-lg-2 d-flex mb-2"></div>
							<div class="col-10 col-lg-10 d-flex mb-2">
								<p>각 제품 옵션별 단가를 설정해주세요.<br>적혀진 옵션만 저장됩니다.</p>
							</div>
						</div>
					</div>
				</div>
				<div style="text-align: center; margin: 20px;">
					<button type="button" class="btn btn-outline-primary btn-fw" onclick="optionSubmit()">저장</button>
					<button type="button" class="btn btn-inverse-dark btn-fw" data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<div style="margin: 0px auto; width: 300px">
			<div id="optionToast" style="width: 300px; text-align: center;">
			</div>
		</div>
	</div>
	
	<script>
	document.querySelector("#categoryBtn").style.display = "none"
	document.querySelector("#optionBtn").style.display = "none"
	
	fetch('/standard/unitName')
	.then((response) => response.json())
	.then((data) => {
		let select_unit = document.querySelector("#unitName");
		for (let i = 0 ; i < data.length ; i++) {
			let o = document.createElement('option');
			o.setAttribute("value", data[i].unitNameName);
			o.innerText = data[i].unitName
			select_unit.appendChild(o);
		}
	})
	
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				document.getElementById('preview').src = e.target.result;
			};
			reader.readAsDataURL(input.files[0]);
		} else {
			document.getElementById('preview').src = "";
		}
	}
	
	fetch('/standard/categoryLclas')
	.then((response) => response.json())
	.then((data) => {
			let select_lclas = document.querySelector("#lclas");
			for (let i = 0 ; i < data.length ; i++) {
				let o = document.createElement('option');
				o.setAttribute("value", data[i].lclas);
				o.innerText = data[i].lclas
				select_lclas.appendChild(o);
			}
		})

	function lclas_change() {
		let select_lclas = document.querySelector("#lclas");
		let select_sclas = document.querySelector("#sclas");
		if (select_lclas.value == "") {
			select_sclas.innerHTML = ""
			let o = document.createElement('option');
			o.setAttribute("value", "");
			o.innerText = "전체"
			select_sclas.appendChild(o);
		} else {
			fetch('/standard/categorySclas?lclas=' + select_lclas.value)
			.then((response) => response.json())
			.then((data) => {
				select_sclas.innerHTML = ""
				let o = document.createElement('option');
				o.setAttribute("value", "");
				o.innerText = "전체"
				select_sclas.appendChild(o);
				for (let i = 0 ; i < data.length ; i++) {
					let o = document.createElement('option');
					o.setAttribute("value", data[i].sclas);
					o.innerText = data[i].sclas
					select_sclas.appendChild(o);
				}
			})
		}
	}
	
	document.getElementById('searchGrid').replaceChildren()
	let gridData = {
		api: {
			readData: { url: '/standard/productListAll', method: 'GET' }
		},
		contentType : 'application/json' // 데이터 전달 시 인코딩 필요
	}
	let searchListGrid = new Grid({
		el: document.getElementById('searchGrid'), // 해당 위치에 그리드 출력
	    data: gridData,
	    columns: [
	        { header: '코드', name: 'PRODUCT_CODE', width: 100, sortable: true, align: 'center' }, 
	        { header: '이름', name: 'PRODUCT_NAME', whiteSpace: 'pre-line', sortable: true, 
	        	renderer: {
	                styles: {
	                    fontWeight: 'bold'
	                }
	            }
	        }, 
	        { header: '유형', name: 'PRODUCT_TYPE_NAME', width: 100, sortable: true, align: 'center' }, 
	        { header: '대분류', name: 'LCLAS', width: 100, sortable: true, align: 'center' }, 
	        { header: '소분류', name: 'SCLAS', width: 100, sortable: true, align: 'center' }, 
	        { header: '단가', name: 'UNIT_PRICE', width: 100, sortable: true, align: 'right', formatter: row => numberFormatter(row.value) }
	    ],
	    columnOptions: {
	        resizable: true
	    },
	    pageOptions: {
	        useClient: true, // 페이징을 위해 필요
	        perPage: 10
	  	},
	    showDummyRows: true, //더미로우 추가
	    bodyHeight: 417, //모달 높이 고정
	  	//scrollX: false, // 가로 스크롤
	  	//scrollY: false // 세로 스크롤
	})

	
	function searchBtn() {
		fetch('/standard/productListSearch?productCode=' + document.querySelector("#productCode").value
				 + '&productName=' + document.querySelector("#productName").value
				 + '&productType=' + document.querySelector("#productType").value
				 + '&lclas=' + document.querySelector("#lclas").value
				 + '&sclas=' + document.querySelector("#sclas").value
				 + '&minPrice=' + document.querySelector("#minPrice").value
				 + '&maxPrice=' + document.querySelector("#maxPrice").value)
		.then(response => response.json())
	    .then(data => {
	    	searchListGrid.resetData(data.data.contents)
	    })
	}
	
	function resetBtn() {
		fetch('/standard/productListAll')
		.then(response => response.json())
	    .then(data => {
	    	searchListGrid.resetData(data.data.contents)
	    })
		document.querySelector("#productCode").value = ""
		document.querySelector("#productName").value = ""
		document.querySelector("#productType").value = ""
		document.querySelector("#lclas").value = ""
		document.querySelector("#sclas").value = ""
		document.querySelector("#minPrice").value = ""
		document.querySelector("#maxPrice").value = ""
		
		document.querySelector("#selectProductCode").value = ""
		document.querySelector("#selectProductName").value = ""
		document.querySelector("#unitName").value = ""
		document.querySelector("#selectProductImg").value = ""
		document.querySelector("#preview").src = ""
		document.querySelector("#selectUnitPrice").value = ""
		document.querySelector("#selectProductType").value = ""
		document.querySelector("#selectVl").value = ""
		
		document.querySelector("#insertBtn").style.display = "block"
		document.querySelector("#editBtn").style.display = "none"
		document.querySelector("#categoryBtn").style.display = "none"
		document.querySelector("#optionBtn").style.display = "none"
	}
	
	let lastClicked = null
	searchListGrid.on('focusChange', ev => {
		searchListGrid.removeRowClassName(lastClicked, 'bg-blue'); // 이전 선택 행 배경색 삭제
		searchListGrid.addRowClassName(ev.rowKey, 'bg-blue'); // 선택된 행 배경색 추가
		lastClicked = ev.rowKey; 
		
		selectedRow = searchListGrid.getRow(ev.rowKey);
		
		document.querySelector("#insertBtn").style.display = "none"
		document.querySelector("#editBtn").style.display = "block"
		document.querySelector("#categoryBtn").style.display = "block"
		document.querySelector("#optionBtn").style.display = "block"
		
		if (selectedRow.IMG == null) {
			document.querySelector("#preview").src = ""
		} else {
			document.querySelector("#preview").src = "/img/" + selectedRow.IMG
		}
		document.querySelector("#selectProductCode").value = selectedRow.PRODUCT_CODE
		document.querySelector("#selectProductName").value = selectedRow.PRODUCT_NAME
		document.querySelector("#selectUnitPrice").value = selectedRow.UNIT_PRICE
		document.querySelector("#selectProductType").value = selectedRow.PRODUCT_TYPE
		document.querySelector("#selectVl").value = selectedRow.VL
		document.querySelector("#unitName").value = selectedRow.UNIT_NAME
	});
	
	function submit_check() {
		let check = 0;	
		if (document.querySelector("#selectProductName").value == 0) {
			failToast("이름을 입력해주세요.");
		} else if (document.querySelector("#unitName").value == 0) {
			failToast("단위를 선택해주세요.");
		} else if (document.querySelector("#selectUnitPrice").value <= 0) {
			document.querySelector("#selectUnitPrice").value = "";
			failToast("단가를 입력해주세요.");
		} else if (document.querySelector("#selectProductType").value == 0) {
			failToast("유형을 입력해주세요.");
		} else if (document.querySelector("#selectVl").value <= 0) {
			document.querySelector("#selectVl").value = "";
			failToast("부피를 입력해주세요.");
		} else {
			return true;
		}
		return false;
	}
	
	let product_category_arr = null;
	let categoryGrid
	function categoryBtn() {
		$('#categoryModal').modal('show');
		
		document.querySelector("#categoryModalProductCode").value = document.querySelector("#selectProductCode").value
		document.querySelector("#categoryModalProductName").value = document.querySelector("#selectProductName").value
		
		fetch('/standard/categoryLclas')
		.then((response) => response.json())
		.then((data) => {
			let modal_select_lclas = document.querySelector("#modalLclas");
			modal_select_lclas.innerHTML = "";
			let o = document.createElement('option');
			o.setAttribute("value", "");
			o.setAttribute("disabled", "");
			o.setAttribute("selected", "");
			o.innerText = "선택";
			modal_select_lclas.appendChild(o);
			for (let i = 0 ; i < data.length ; i++) {
				let o = document.createElement('option');
				o.setAttribute("value", data[i].lclas);
				o.innerText = data[i].lclas
				modal_select_lclas.appendChild(o);
			}
		})
		
		fetch('/standard/productCategory?productCode=' + document.querySelector("#categoryModalProductCode").value)
		.then((response) => response.json())
		.then((data) => {
			product_category_arr = data;
			document.getElementById('categoryGrid').replaceChildren()
			categoryGrid = new Grid({
				el: document.getElementById('categoryGrid'), // 해당 위치에 그리드 출력
		    	data: data,
		    	rowHeaders: ['checkbox',{ type: 'rowNum', header: 'NO' }],
		    	columns: [
		        	{ header: '대분류', name: 'lclas', sortable: true, align: 'center' }, 
		        	{ header: '소분류', name: 'sclas', sortable: true, align: 'center' }
		    	],
		  	scrollX: false, // 가로 스크롤
		  	scrollY: false // 세로 스크롤
			})
		})
	}
	
	function modal_lclas_change() {
		let modal_select_lclas = document.querySelector("#modalLclas");
		let modal_select_sclas = document.querySelector("#modalSclas");
		fetch('/standard/categorySclas?lclas=' + modal_select_lclas.value)
		.then((response) => response.json())
		.then((data) => {
			modal_select_sclas.innerHTML = ""
			let o = document.createElement('option');
			o.setAttribute("value", "");
			o.setAttribute("disabled", "");
			o.setAttribute("selected", "");
			o.innerText = "선택";
			modal_select_sclas.appendChild(o);
			for (let i = 0 ; i < data.length ; i++) {
				let o = document.createElement('option');
				o.setAttribute("value", data[i].sclas);
				o.innerText = data[i].sclas
				modal_select_sclas.appendChild(o);
			}
		})
	}
	
	function categoryModalRowAdd() {
		let push = 1;
		if (document.querySelector("#modalLclas").value != "" && document.querySelector("#modalSclas").value != "") {
			for (let i = 0 ; i < product_category_arr.length ; i++) {
				if (product_category_arr[i].lclas == document.querySelector("#modalLclas").value && product_category_arr[i].sclas == document.querySelector("#modalSclas").value) {
					failCategoryModalToast("이미 존재하는 카테고리입니다");
					push = 0;
					break;
				} 
			}
		} else {
			failCategoryModalToast("카테고리를 입력해주세요");
			push = 0;
		}
		if (push == 1) {
			product_category_arr.push({"productCode" : document.querySelector("#selectProductCode").value, "lclas" : document.querySelector("#modalLclas").value, "sclas" : document.querySelector("#modalSclas").value})
		}
		categoryGrid.resetData(product_category_arr)
	}
	
	function categoryModalRowDel() {
		let checkedRows = categoryGrid.getCheckedRows(); // 선택된 행 가져오기
  	    let rowKeys = checkedRows.map(row => row.rowKey); // 행 키 배열 만들기
  	  	rowKeys.forEach(rowKey => categoryGrid.removeRow(rowKey)); // 선택된 행 삭제
  	    product_category_arr = categoryGrid.getData();
	}
	
	function categorySubmit() {
		if (product_category_arr.length == 0) {
			failCategoryModalToast("저장할 카테고리가 없습니다");
		} else {
			fetch('/standard/categorySubmit', {
				method : 'POST', 
				headers : {
					...headers, 'Content-Type': 'application/json'
				}, 
				body: JSON.stringify(product_category_arr)
			})
		
			$('#categoryModal').modal('hide');
			successToast("작업이 완료되었습니다")
		}
		
	}
	
	let optionGrid = null
	let option_data = null
	let option_columns = null
	function optionBtn() {
		$('#optionModal').modal('show');
		document.querySelector("#optionModalProductCode").value = document.querySelector("#selectProductCode").value
		document.querySelector("#optionModalProductName").value = document.querySelector("#selectProductName").value
		document.querySelector("#modalColor").value = ""
		document.querySelector("#modalSize").value = ""
		
		fetch('/standard/productOption?productCode=' + document.querySelector("#optionModalProductCode").value)
		.then((response) => response.json())
		.then((data) => {
			option_columns = [{ header: '색상', name: 'color', align: 'center' }]
			let option_size = []
			let push
			for (let i = 0 ; i < data.length ; i++) {
				push = 1
				for (let j = 0 ; j < option_size.length ; j++) {
					if (data[i].productSize == option_size[j][1]) {
						push = 0
					}
				}
				if (push == 1) {
					option_size.push([data[i].sizeName, data[i].productSize])
				}
			}
			option_size.sort((a, b) => a[1].slice(2) - b[1].slice(2))
			for (let i = 0 ; i < option_size.length ; i++) {
				option_columns.push({ header: option_size[i][0], name: option_size[i][1], align: 'center', editor: 'text', align: 'right', formatter: row => numberStringFormatter(row.value) })
			}
			
			let option_color = []
			for (let i = 0 ; i < data.length ; i++) {
				push = 1
				for (let j = 0 ; j < option_color.length ; j++) {
					if (data[i].productColor == option_color[j]) {
						push = 0
					}
				}
				if (push == 1) {
					option_color.push(data[i].productColor)
				}
			}
			
			option_data = []
			for (let i = 0 ; i < option_color.length ; i++) {
				option_data.push({"color" : option_color[i]})
			}
			
			for (i = 0 ; i < data.length ; i++) {
				for (j = 0 ; j < option_data.length ; j++) {
					if (option_data[j].color == data[i].productColor) {
						if (data[i].discontinued == "YN01") {
							option_data[j][data[i].productSize] = "단종"
						} else {
							option_data[j][data[i].productSize] = data[i].unitPrice
						}
					}
				} 
			}
			
			document.getElementById('optionGrid').replaceChildren()
			optionGrid = new Grid({
				el: document.getElementById('optionGrid'), // 해당 위치에 그리드 출력
		    	data: option_data,
		    	columns: option_columns,
		  	scrollX: false, // 가로 스크롤
		  	scrollY: false // 세로 스크롤
			})
		})
	}
	/*
	modalOptionComChange()
	function modalOptionComChange() {
		fetch('/standard/searchCom?companyName=' + document.querySelector("#optionModalComInput").value)
		.then((response) => response.json())
		.then((data) => {
			document.querySelector("#optionModalComSelect").innerHTML = ""
			for (let i = 0 ; i < data.length ; i++) {
				let o = document.createElement('option');
				o.setAttribute("value", data[i].companyCode);
				o.innerText = data[i].companyName
				document.querySelector("#optionModalComSelect").appendChild(o);
			}
		})
	}
	*/
	fetch('/standard/optionSizeList')
	.then((response) => response.json())
	.then((data) => {
		let modalSize = document.querySelector("#modalSize");
		modalSize.innerHTML = "";
		let o = document.createElement('option');
		o.setAttribute("value", "SI00");
		o.innerText = "없음";
		modalSize.appendChild(o);
		for (let i = 0 ; i < data.length ; i++) {
			let o = document.createElement('option');
			o.setAttribute("value", data[i].productCode);
			o.innerText = data[i].sizeName
			modalSize.appendChild(o);
		}
	})
	
	function optionModalAddColor() {
		if (document.querySelector("#modalColor").value == "") {
			failOptionModalToast("색상을 입력해주세요")
			return
		}
		for (let i = 0 ; i < optionGrid.getData().length ; i++) {
			if (optionGrid.getData()[i].color == document.querySelector("#modalColor").value.toUpperCase()) {
				failOptionModalToast("중복되는 색상이 있습니다")
				return
			}
		}
		optionGrid.appendRow({"color" : document.querySelector("#modalColor").value.toUpperCase()})
	}
	
	function optionModalAddSize() {
		for (let i = 1 ; i < option_columns.length ; i++) {
			if (option_columns[i].name == document.querySelector("#modalSize").value) {
				failOptionModalToast("중복되는 사이즈가 있습니다")
				return
			}
		}
		option_columns = [...option_columns, {header : $("#modalSize option:checked").text(), name : document.querySelector("#modalSize").value, editor: 'text'}]
		optionGrid.setColumns(option_columns)
	}
	
	function optionSubmit() {
		let result = null;
		let insert_option = [];
		for (let i = 0 ; i < optionGrid.getData().length ; i++) {
			for (let j = 1 ; j < Object.entries(optionGrid.getData()[i]).length - 2 ; j++) {
				result = Object.entries(optionGrid.getData()[i]);
				if (result[j][1] != null) {
					insert_option.push({"productCode" : document.querySelector("#optionModalProductCode").value, 
						                "productColor" : result[0][1], 
						                "productSize" : result[j][0], 
						                "unitPrice" : result[j][1] == "단종" ? -1 : result[j][1]})
				}
			}
		}
		
		if (option_columns.length < 2 || optionGrid.getData().length == 0) {
			failOptionModalToast("저장할 옵션이 없습니다");
		} else {
			fetch('/standard/optionSubmit', {
				method : 'POST', 
				headers : {
					...headers, 'Content-Type': 'application/json'
				}, 
				body: JSON.stringify(insert_option)
			})
		
			$('#optionModal').modal('hide');
			successToast("작업이 완료되었습니다")
			
		}
		
	}
	
	
	function failCategoryModalToast(message) {
	    let toastContainer = document.getElementById('categoryToast');
	    let toast = document.createElement('div');
	    toast.classList.add('failToast');
	    toast.textContent = message;
	    
	    toastContainer.appendChild(toast);
	    
	    setTimeout(() => { 
	        toast.classList.add('show');
	    }, 100);

	    setTimeout(() => {
	        toast.classList.remove('show');
	        setTimeout(() => toast.remove(), 500);
	    }, 2000);
	}
	
	function failOptionModalToast(message) {
	    let toastContainer = document.getElementById('optionToast');
	    let toast = document.createElement('div');
	    toast.classList.add('failToast');
	    toast.textContent = message;
	    
	    toastContainer.appendChild(toast);
	    
	    setTimeout(() => { 
	        toast.classList.add('show');
	    }, 100);

	    setTimeout(() => {
	        toast.classList.remove('show');
	        setTimeout(() => toast.remove(), 500);
	    }, 2000);
	}
	
	document.querySelectorAll(".search input").forEach((ele) => {
	    ele.addEventListener('keydown', (event) => {				
	        if (event.keyCode === 13) {
	        	searchBtn();
	        }
	    });
	});
	
	function numberStringFormatter(value){ // 그리드 내부 포맷으로 사용 시 row.value
		if (typeof(value) == "number") {
			value = value == null ? 0 : value;
			    return Number(value).toLocaleString();
		} else {
			return value
		}
	};
	</script>
</body>
</html>