<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}" layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>이조텍스SCM</title>
<!-- timePicker -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
<script
	src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.js"></script>

<!-- datePicker -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script
	src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

<!-- paging -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script
	src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>

<!-- toast grid -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<style type="text/css">
</style>
<style>
.modal {
	display: block !important;
	visibility: hidden;
}

.modal.show {
	visibility: visible;
}
</style>
</head>
<body>
	<h3 id="storage_title" class="fs-3 fw-bold">| 창고 조회</h3>
	<div class="row me-2" style="padding: 10px">
		<div class="col-9 col-lg-9 d-flex mb-2">
			<div class="row" style="width: 100%">
				<div id="storageGrid" style="width: 100%">
				</div>
				<div style="display: flex; justify-content: flex-end; height: 80px">
					<button type="button" id="addRow" class="btn btn-primary" style="margin: 15px; display: none;" onclick="addRowBtn()">행 추가</button>
					<button type="button" id="deleteRow" class="btn btn-danger" style="margin: 15px; display: none;" onclick="deleteRowBtn()">행 삭제</button>
					<button type="button" id="addCol" class="btn btn-primary" style="margin: 15px; display: none;" onclick="addColBtn()">열 추가</button>
					<button type="button" id="deleteCol" class="btn btn-danger" style="margin: 15px; display: none;" onclick="deleteColBtn()">열 삭제</button>
					<button type="button" class="btn btn-primary" style="margin: 15px; display: block;" onclick="addRow()">↓ 행 추가</button>
					<button type="button" class="btn btn-primary" style="margin: 15px; display: block;" onclick="addCol()">열 추가 →</button>
				</div>
			</div>
		</div>
		<div class="col-3 col-lg-3 d-flex mb-2" style="justify-content: center; text-align: center;">
			<div class="row me-2" style="text-align: center;">
				<h4 class="fs-4 fw-bold">창고 변경</h4>
				<div style="text-align: center;">
					<select class="form-control" id="storageSelect" name="storageSelect" onchange="storageSelect()" style="margin: 15px; width : 50%; display: inline-block;">
					</select>
				</div>
				<div class="col-4 col-lg-4 d-flex mb-2" style="justify-content: center; align-items: center; text-align: center;">창고 추가</div>
				<div class="col-8 col-lg-8 d-flex mb-2" style="justify-content: center; align-items: center; text-align: center;">
					<input type="text" class="form-control" id="storageNameInput" name="storageNameInput" value="" placeholder="이름">
				</div>
				<div style="text-align: center;">
					<button type="button" class="btn btn-primary" onclick="insertStorageBtn()" style="margin: 15px">추가</button>
					<button type="button" class="btn btn-warning" onclick="cancelStorageBtn()" style="margin: 15px">취소</button>
				</div>
				<hr>
				<h4 id="selectColRowName" class="fs-4 fw-bold">□행 □열</h4>
				<div class="col-4 col-lg-4 d-flex mb-2" style="justify-content: center; align-items: center; text-align: center;">칸 이름</div>
				<div class="col-8 col-lg-8 d-flex mb-2" style="justify-content: center; align-items: center; text-align: center;">
					<input type="text" class="form-control" id="selectedName" name="selectedName" value="">
				</div>
				<div class="col-4 col-lg-4 d-flex mb-2" style="justify-content: center; align-items: center; text-align: center;">총 용량</div>
				<div class="col-8 col-lg-8 d-flex mb-2" style="justify-content: center; align-items: center; text-align: center;">
					<input type="text" class="form-control" id="selectedVl" name="selectedVl" value="">
				</div>
				<div>
					<button type="button" class="btn btn-primary" id="insertStorageInfoBtn" onclick="insertStorageInfoBtn()" style="margin: 15px auto; display: block">등록</button>
				</div>
				<div>
					<button type="button" class="btn btn-warning" id="updateStorageInfoBtn" onclick="updateStorageInfoBtn()" style="margin: 15px auto; display: none">수정</button>
				</div>
				<hr>
				<div class="col-4 col-lg-4 d-flex mb-2" style="justify-content: center; align-items: center; text-align: center;">총 용량</div>
				<div class="col-8 col-lg-8 d-flex mb-2" style="justify-content: center; align-items: center; text-align: center;">
					<input type="text" class="form-control" id="selectedInfoVl" name="selectedInfoVl" value="" readonly>
				</div>
				<div class="col-4 col-lg-4 d-flex mb-2" style="justify-content: center; align-items: center; text-align: center;">적재 용량</div>
				<div class="col-8 col-lg-8 d-flex mb-2" style="justify-content: center; align-items: center; text-align: center;">
					<input type="text" class="form-control" id="seledtedNowVL" name="seledtedNowVL" value="" readonly>
				</div>
				<div class="col-4 col-lg-4 d-flex mb-2" style="justify-content: center; align-items: center; text-align: center;">남은 용량</div>
				<div class="col-8 col-lg-8 d-flex mb-2" style="justify-content: center; align-items: center; text-align: center;">
					<input type="text" class="form-control" id="seledtedRestVL" name="seledtedRestVL" value="" readonly>
				</div>
				<div class="col-4 col-lg-4 d-flex mb-2" style="justify-content: center; align-items: center; text-align: center;">사용률</div>
				<div class="col-8 col-lg-8 d-flex mb-2" style="justify-content: center; align-items: center; text-align: center;">
					<input type="text" class="form-control" id="seledtedRestPercentVL" name="seledtedRestPercentVL" value="" readonly>
				</div>
				<div style="text-align: center; display: none;">
				<button type="button" class="btn btn-primary" id="storageInfoModalBtn" onclick="storageInfoModal()" style="margin: 15px auto; display: none">상세정보 보기</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="modal fade" id="storageInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="optionCodeModalLabel"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					</button>
				</div> 
				<div class="card">
					<div class="card-body">
						<div style="margin: 0px auto; width: 90%">
							<div id="storageInfoModalGrid">
							</div>
						</div>
					</div>
				</div>
				<div style="text-align: center; margin: 20px;">
					<button type="button" class="btn btn-inverse-dark btn-fw" data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
		<div style="margin: 0px auto; width: 300px">
			<div id="storageToast" style="width: 300px; text-align: center;">
			</div>
		</div>
	</div>
	
	<script>
	let storageGrid = null
	let storage_data = []
	let storage_columns = null
	let maxRow = 0
	let maxCol = 0
	let select_row = 0
	let select_col = 0
	
	storage_option()
	storageSelect()
	function storageSelect() {
		document.getElementById('storageGrid').replaceChildren()
		storage_data = []
		storage_columns = null
		document.querySelector("#addRow").style.display = "none"
		document.querySelector("#addCol").style.display = "none"
		document.querySelector("#deleteRow").style.display = "none"
		document.querySelector("#deleteCol").style.display = "none"
		fetch('/standard/storageList')
		.then((response) => response.json())
		.then((data) => {
			document.querySelector('#storage_title').innerText = "| 창고 조회 (" +  $("#storageSelect option:selected").text() + ")"
			for (let i = 0 ; i < data.length ; i++) {
				if (data[i].storageCode == document.querySelector("#storageSelect").value) {
					maxRow = data[i].maxRow
					maxCol = data[i].maxCol
				}
			}
			storage_columns = [{ header: '*', name: 'storage_row', align: 'center' }]
			for (let i = 0 ; i < maxCol ; i++) {
				storage_columns = [...storage_columns, {header : String.fromCharCode(i + 65), name : i + 1, align: 'center', }]
			}
		
			for (let i = 0 ; i < maxRow ; i++) {
				storage_data.push({"storage_row" : i + 1})
			}
		
			fetch('/standard/storageInfoList?storageCode=' + document.querySelector("#storageSelect").value)
			.then((response) => response.json())
			.then((data) => {
				for (let i = 0 ; i < data.length ; i++) {
					storage_data[data[i].selectRow - 1][data[i].selectCol] = data[i].storageInfoName
				}
				
				storageGrid = new Grid({
					el: document.getElementById('storageGrid'), // 해당 위치에 그리드 출력
	    			data: storage_data,
	    			columns: storage_columns,
	    			minRowHeight: 75, 
	  				scrollX: false, // 가로 스크롤
	  				scrollY: false // 세로 스크롤
				})
				
				
				storageGrid.on('focusChange', ev => {
					select_row = ev.rowKey + 1
					select_col = ev.columnName
					
					document.querySelector("#addRow").style.display = "none"
					document.querySelector("#addCol").style.display = "none"
					document.querySelector("#deleteRow").style.display = "none"
					document.querySelector("#deleteCol").style.display = "none"
					
					console.log(storage_data)
					if (typeof(ev.columnName) == "string") {
						if (ev.columnName == "storage_row") {
							console.log(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>");
							console.log("rowKey : " + ev.rowKey)
							document.querySelector("#deleteRow").style.display = "block"
							document.querySelector("#addRow").style.display = "block"
							document.querySelector("#deleteRow").innerText = (ev.rowKey + 1) + "행 삭제"
							document.querySelector("#addRow").innerText = (ev.rowKey + 1) + "행 삽입"
						} else {
							console.log("↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓");
							console.log("columnName : " + ev.columnName)
							document.querySelector("#deleteCol").style.display = "block"
							document.querySelector("#addCol").style.display = "block"
							document.querySelector("#deleteCol").innerText = String.fromCharCode(parseInt(ev.columnName) + 64) + "열 삭제"
							document.querySelector("#addCol").innerText = String.fromCharCode(parseInt(ev.columnName) + 64) + "열 삽입"
						}
					} else {
						document.querySelector('#selectColRowName').innerText = (ev.rowKey + 1) + "행 " + String.fromCharCode(ev.columnName + 64) + "열"
						if (storageGrid.getData()[ev.rowKey][ev.columnName] != null) {
							
							document.querySelector("#insertStorageInfoBtn").style.display = "none"
							document.querySelector("#updateStorageInfoBtn").style.display = "block"
							document.querySelector("#storageInfoModalBtn").style.display = "block"
							
							document.querySelector('#selectedName').value = storageGrid.getData()[ev.rowKey][ev.columnName]
							for (let i = 0 ; i < data.length ; i++) {
								if (data[i].storageInfoName == storageGrid.getData()[ev.rowKey][ev.columnName]) {
									document.querySelector('#selectedVl').value = data[i].vl
									document.querySelector('#selectedInfoVl').value = data[i].vl
								
									fetch('/standard/storageVl?storageInfoCode=' + data[i].storageInfoCode)
									.then((response) => response.json())
									.then((total_vl) => {
										if (typeof(total_vl) != "number") {
											document.querySelector('#seledtedNowVL').value = 0
											document.querySelector('#seledtedRestVL').value = data[i].vl
											document.querySelector('#seledtedRestPercentVL').value = "0%"
										} else {
											document.querySelector('#seledtedNowVL').value = total_vl
											document.querySelector('#seledtedRestVL').value = data[i].vl - total_vl
											document.querySelector('#seledtedRestPercentVL').value = Math.round(total_vl / data[i].vl * 10000) / 100 + "%"
										} 
									})
								}
							}
						} else {
							document.querySelector("#insertStorageInfoBtn").style.display = "block"
							document.querySelector("#updateStorageInfoBtn").style.display = "none"
							document.querySelector("#storageInfoModalBtn").style.display = "none"
							
							document.querySelector('#selectedName').value = ""
							document.querySelector('#selectedVl').value = ""
							document.querySelector('#selectedInfoVl').value = ""
							document.querySelector('#seledtedNowVL').value = ""
							document.querySelector('#seledtedRestVL').value = ""
							document.querySelector('#seledtedRestPercentVL').value = ""
						}
					}
				})
				
				storageGrid.on('dblclick', ev => {
					if (ev.columnName != "storage_row") {
						storageInfoModal();
					}
				})
			})	
		})
	}
	
	function storage_option() {
		fetch('/standard/storageList')
		.then((response) => response.json())
		.then((data) => {
			let select_unit = document.querySelector("#storageSelect");
			select_unit.replaceChildren()
			for (let i = 0 ; i < data.length ; i++) {
			let o = document.createElement('option');
			o.setAttribute("value", data[i].storageCode);
			o.innerText = data[i].storageName
			select_unit.appendChild(o);
			}
		})
	}
	
	function cancelStorageBtn() {
		document.querySelector("#storageNameInput").value = "";
	}
	
	function insertStorageBtn() {
		fetch('/standard/insertStorage?storageName=' + document.querySelector("#storageNameInput").value)
		.then(() => {
			storage_option()
			document.querySelector("#storageNameInput").value = "";
			successToast("작업이 완료되었습니다");
		})
	}
	
	function addRow() {
		document.querySelector("#addRow").style.display = "none"
		document.querySelector("#addCol").style.display = "none"
		document.querySelector("#deleteRow").style.display = "none"
		document.querySelector("#deleteCol").style.display = "none"
		storageGrid.appendRow({"storage_row" : maxRow + 1})
		maxRow = maxRow + 1
		updateStorage(document.querySelector("#storageSelect").value, $("#storageSelect option:selected").text(), maxRow, maxCol)
	}
	
	function addCol() {
		document.querySelector("#addRow").style.display = "none"
		document.querySelector("#addCol").style.display = "none"
		document.querySelector("#deleteRow").style.display = "none"
		document.querySelector("#deleteCol").style.display = "none"
		storage_columns = [...storage_columns, {header : String.fromCharCode(maxCol + 65), name : maxCol + 1, align: 'center'}]
		storageGrid.setColumns(storage_columns)
		maxCol = maxCol + 1
		updateStorage(document.querySelector("#storageSelect").value, $("#storageSelect option:selected").text(), maxRow, maxCol)
	}
	
	function updateStorage(updateStorageCode, updateStorageName, updateMaxRow, updateMaxCol) {
		fetch('/standard/updateStorage?storageCode=' + updateStorageCode + 
				                     '&storageName=' + updateStorageName + 
				                          '&maxRow=' + updateMaxRow + 
				                          '&maxCol=' + updateMaxCol)
	}
	
	function insertStorageInfoBtn() {
		fetch('/standard/insertStorageInfo?storageCode=' + document.querySelector("#storageSelect").value + 
                                           '&selectRow=' + select_row + 
                                           '&selectCol=' + select_col + 
                                     '&storageInfoName=' + document.querySelector("#selectedName").value + 
                                                  '&vl=' + document.querySelector("#selectedVl").value)
        .then(()=> {
        	storageSelect()
        })
	}
	
	function updateStorageInfoBtn() {
		fetch('/standard/updateStorageInfo?storageCode=' + document.querySelector("#storageSelect").value + 
                                           '&selectRow=' + select_row + 
                                           '&selectCol=' + select_col + 
                                     '&storageInfoName=' + document.querySelector("#selectedName").value + 
                                                  '&vl=' + document.querySelector("#selectedVl").value)
        .then(()=> {
            storageSelect()
        })
	}
	
	function storageInfoModal() {
		document.getElementById('storageInfoModalGrid').replaceChildren()
		console.log(document.querySelector("#storageSelect").value);
		console.log(select_row);
		console.log(select_col);
		console.log(document.querySelector("#selectedName").value);
		console.log(document.querySelector("#selectedVl").value);
		fetch('/standard/StorageProductList?storageCode=' + document.querySelector("#storageSelect").value + 
                                            '&selectRow=' + select_row + 
                                            '&selectCol=' + select_col + 
                                      '&storageInfoName=' + document.querySelector("#selectedName").value + 
                                                   '&vl=' + document.querySelector("#selectedVl").value)
        .then((response) => response.json())
		.then((data) => {
			if (data.length > 0) {
				$('#storageInfoModal').modal('show');
	        	document.querySelector('#optionCodeModalLabel').innerText = document.querySelector('#selectColRowName').innerText + " 상세보기"
	        	let storageModalGrid = new Grid({
					el: document.getElementById('storageInfoModalGrid'), // 해당 위치에 그리드 출력
			    	data: data,
			    	columns: [
			        	{ header: 'Lot', name: 'lot', sortable: true, align: 'center' }, 
			        	{ header: '제품 이름', name: 'productName', sortable: true, align: 'left' }, 
			        	{ header: '색상', name: 'productColor', sortable: true, align: 'center' }, 
			        	{ header: '사이즈', name: 'productSize', sortable: true, align: 'center' }, 
			        	{ header: '수량', name: 'qy', sortable: true, align: 'center' }, 
			        	{ header: '입고 날짜', name: 'storeDate', sortable: true, align: 'center' }, 
			        	{ header: '입고자', name: 'storeChargerName', sortable: true, align: 'center' }
			    	],
			    	columnOptions: {
				        resizable: true
				    },
			  		scrollX: false, // 가로 스크롤
			  		scrollY: false // 세로 스크롤
				})
			} else {
				failToast("해당되는 정보가 없습니다.");
			}
        })
	}
	
	function deleteColBtn() {
		for (let i = 0 ; i < storage_data.length ; i++) {
			if (storage_data[i][select_col] == undefined) {
				
			} else {
				failToast("항목이 존재하여 삭제 할 수 없습니다");
				document.querySelector("#deleteRow").style.display = "none"
				document.querySelector("#addRow").style.display = "none"
				return;
			}
		}
		fetch('/standard/updateStorageCol?num=' + (-1) + 
				                '&storageCode=' + document.querySelector("#storageSelect").value + 
				                  '&selectCol=' + select_col)
		.then(() => {
			storageSelect()
			successToast("작업이 완료되었습니다")
		})
	}
	
	function addColBtn() {
		console.log(select_col)
		fetch('/standard/updateStorageCol?num=' + 1 + 
                                '&storageCode=' + document.querySelector("#storageSelect").value + 
                                  '&selectCol=' + select_col)
		.then(() => {
			storageSelect()
			successToast("작업이 완료되었습니다")
		})
	}
	
	function deleteRowBtn() {
		console.log(select_row - 1)
		console.log(storage_data)
		for (let i = 0 ; i < maxCol ; i++) {
			if (storage_data[select_row - 1][i] == undefined) {
				
			} else {
				failToast("항목이 존재하여 삭제 할 수 없습니다");
				document.querySelector("#deleteCol").style.display = "none"
				document.querySelector("#addCol").style.display = "none"
				return;
			}
		}
		fetch('/standard/updateStorageRow?num=' + (-1) + 
				                '&storageCode=' + document.querySelector("#storageSelect").value + 
				                  '&selectRow=' + select_row)
		.then(() => {
			storageSelect()
			successToast("작업이 완료되었습니다")
		})
	}
	
	function addRowBtn() {
		fetch('/standard/updateStorageRow?num=' + 1 + 
                                '&storageCode=' + document.querySelector("#storageSelect").value + 
                                  '&selectRow=' + select_row)
		.then(() => {
			storageSelect()
			successToast("작업이 완료되었습니다")
		})
	}
	
	</script>
</body>
</html>