<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezotex.delivery.mappers.DeliveryMapper">


	<select id="findAll" resultType="OrderProductDeliveryDTO" parameterType="DeliveryRegistSearchDTO">
		SELECT *
		FROM (
		    select info.*
		    from (
	                SELECT /*+ INDEX_DESC(ol PK_ORDER_LIST)*/
	                       ROWNUM AS rn,
	                       ol.product_order_code AS product_order_code,
	                       ol.company_code AS company_code,
	                       ol.company AS company,
	                       product_summary('order_product', product_order_code) AS summary,
	                       ol.charger AS orderCharger,
	                       ol.order_date AS order_date,
	                       ol.delivery_request_deadline AS dedt,
	                       get_comm(ol.order_status) AS orderStatus
	                FROM   order_list ol             
	               	<where>	               	
			            <if test='cri.orderCode != null and cri.orderCode != ""'>	    
			                AND ol.product_order_code LIKE '%' || #{cri.orderCode} || '%'    --주문코드
			            </if>
			            <if test="cri.totalAmountStart != null and cri.totalAmountEnd != null">		    
			                AND ol.amount BETWEEN #{cri.totalAmountStart} AND #{cri.totalAmountEnd})              --금액합계
			            </if>
			            <if test="cri.productName != null and cri.productName != null">		    
			                AND pi.product_name LIKE '%' || #{cri.productName} || '%'                --제품명
			            </if>
			            <if test="cri.productCode != null and cri.productCode != null">		    
			                AND op.product_code LIKE '%' || #{cri.productCode} || '%'                --제품코드
			            </if>
			            <if test='cri.companyName != null and cri.companyName != ""'>
			                AND ol.company LIKE '%' || #{cri.companyName} || '%'                          --업체명
			            </if>
			            <if test='cri.companyCode != null and cri.companyCode != ""'>
			                AND ol.company_code LIKE '%' || #{cri.companyCode} || '%'                --업체코드
			            </if>
			            <if test='cri.orderCharger != null and cri.orderCharger != ""'>		    
			                AND ol.charger LIKE '%' || #{cri.orderCharger} || '%'                          --주문 담당자
			            </if>
			            <if test="cri.orderDateStart != null and cri.orderDateStart != '' and cri.orderDateEnd != null and cri.orderDateEnd != ''">
			                AND ol.order_date BETWEEN TO_DATE(#{cri.orderDateStart}, 'YYYY-MM-DD') AND TO_DATE(#{cri.orderDateEnd}, 'YYYY-MM-DD')  --주문일 
			            </if>
			            <if test="cri.dedtStart != null and cri.dedtStart != '' and cri.dedtEnd != null and cri.dedtEnd != ''">
			                AND ol.delivery_request_deadline BETWEEN TO_DATE(#{cri.dedtStart}, 'YYYY-MM-DD') AND TO_DATE(#{cri.dedtEnd}, 'YYYY-MM-DD') --납기일
			            </if>
			            <choose>
			                  <when test="cri.orderStatus != null and cri.orderStatus != ''"> 
			                            AND order_status = #{cri.orderStatus}
			                  </when>
			                  <otherwise> 
			                           AND order_status IN ('OR01', 'OR06')
			                  </otherwise>
			            </choose>
	               	</where>                
		    )info
		    WHERE info.rn  <![CDATA[ <= ]]>#{cri.end}) page
		WHERE page.rn  <![CDATA[ >= ]]>#{cri.start}
	</select>
	
	<select id="getCount" resultType="int" parameterType="DeliveryRegistSearchDTO">
			SELECT COUNT(*)
              FROM   order_list ol             
             	<where>	               	
		            <if test='cri.orderCode != null and cri.orderCode != ""'>	    
		                AND ol.product_order_code LIKE '%' || #{cri.orderCode} || '%'    --주문코드
		            </if>
		            <if test="cri.totalAmountStart != null and cri.totalAmountEnd != null">		    
		                AND ol.amount BETWEEN #{cri.totalAmountStart} AND #{cri.totalAmountEnd})              --금액합계
		            </if>
		            <if test="cri.productName != null and cri.productName != null">		    
		                AND pi.product_name LIKE '%' || #{cri.productName} || '%'                --제품명
		            </if>
		            <if test="cri.productCode != null and cri.productCode != null">		    
		                AND op.product_code LIKE '%' || #{cri.productCode} || '%'                --제품코드
		            </if>
		            <if test='cri.companyName != null and cri.companyName != ""'>
		                AND ol.company LIKE '%' || #{cri.companyName} || '%'                          --업체명
		            </if>
		            <if test='cri.companyCode != null and cri.companyCode != ""'>
		                AND ol.company_code LIKE '%' || #{cri.companyCode} || '%'                --업체코드
		            </if>
		            <if test='cri.orderCharger != null and cri.orderCharger != ""'>		    
		                AND ol.charger LIKE '%' || #{cri.orderCharger} || '%'                          --주문 담당자
		            </if>
		            <if test="cri.orderDateStart != null and cri.orderDateStart != '' and cri.orderDateEnd != null and cri.orderDateEnd != ''">
		                AND ol.order_date BETWEEN TO_DATE(#{cri.orderDateStart}, 'YYYY-MM-DD') AND TO_DATE(#{cri.orderDateEnd}, 'YYYY-MM-DD')  --주문일 
		            </if>
		            <if test="cri.dedtStart != null and cri.dedtStart != '' and cri.dedtEnd != null and cri.dedtEnd != ''">
		                AND ol.delivery_request_deadline BETWEEN TO_DATE(#{cri.dedtStart}, 'YYYY-MM-DD') AND TO_DATE(#{cri.dedtEnd}, 'YYYY-MM-DD') --납기일
		            </if>
		            <choose>
		                  <when test="cri.orderStatus != null and cri.orderStatus != ''"> 
		                            AND order_status = #{cri.orderStatus}
		                  </when>
		                  <otherwise> 
		                           AND order_status IN ('OR01', 'OR06')
		                  </otherwise>
		            </choose>
             	</where>                
	</select>
		
	<select id="getOrderInfo" parameterType="String">
		WITH order_info AS (
		    --주문정보
		    SELECT ol.product_order_code AS product_order_code,
		           ol.company_code AS company_code,
		           ol.charger AS charger, 
		           ol.amount AS amount
		    FROM order_list ol
		),
		products AS (
		    --제품정보
		    SELECT op.product_order_code AS product_order_code,
		           op.product_code AS product_code,
		           pi.product_name AS product_name,
		           SUM(op.qy) AS total_qy
		    FROM order_product op JOIN product_info pi 
		                            ON op.product_code = pi.product_code
		    WHERE op.product_order_code = #{product_order_code}
		    GROUP BY op.product_order_code, op.product_code, pi.product_name
		),
		company_info AS (
		    --회사정보
		    SELECT cp.company_code AS company_code,
		           al.address_main || ' ' || al.address_info AS address -- 주소 결합 시 공백 추가
		    FROM company cp 
		    JOIN address_list al ON cp.address_seq = al.address_seq
		)
		-- 주문번호, 주문담당자, 주문수량, 금액합계, 주소, 제품코드, 제품명
		SELECT m.product_order_code AS product_order_code,
		       m.charger AS charger,
		       t.total_qy AS req_qy,
		       m.amount AS amount,
		       s.address AS address,
		       t.product_code AS product_code,
		       t.product_name AS product_name
		FROM order_info m 
		JOIN company_info s ON m.company_code = s.company_code
		JOIN products t ON m.product_order_code = t.product_order_code
		WHERE m.product_order_code = #{product_order_code}
	</select>
	
	<select id="findBySize">
		SELECT product_code,
		       get_comm(product_size) AS product_size,
		       product_size AS size_sort
		FROM   product_option
		WHERE  product_code = #{productCode}
		GROUP BY product_size, product_code
		ORDER BY SUBSTR(size_sort, 3)
	</select>
	
	<!-- 제품 코드 기반 옵션,잔여량 리스트 -->
	<select id="sizeFindByProductCode">
		WITH product_size AS(
                    SELECT  op.product_order_code AS order_code,
                            op.product_code AS product_code ,
                            op.product_color AS product_color,
                            op.product_size AS product_size,
                            (op.qy - NVL(dd.delivery_qy,0)) AS request_qy
					FROM    order_product op LEFT JOIN delivery de
					                                ON (op.product_order_code = de.product_order_code)
					                         LEFT JOIN delivery_details dd
					                                ON (de.delivery_code = dd.delivery_code
					                                    AND op.product_code = dd.delivery_code 
					                                    AND op.product_color = dd.product_color
					                                    AND op.product_size = dd.product_size)
                    WHERE op.product_code = #{productCode}
                    AND   op.product_order_code = #{orderCode})
			SELECT  *
		 	FROM product_size
			pivot( sum(request_qy)
		            FOR product_size IN (

				       <foreach collection="list" item="size" separator=",">
		                '${size.productSize}' AS ${size.productSize}
		               </foreach>

		            )
		)pvt
	</select>
	
</mapper>