<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezotex.delivery.mappers.DriverMapper">
	
	<!-- 배송기사 배송지 리스트 조회 -->
	<select id="deliveryList">
		SELECT *
		FROM(
		    SELECT *
		    FROM (
		        SELECT  ROWNUM AS rn,
		                get_address(de.company_code) AS dedt_address,
		                de.company_name AS company_name,
		                CASE WHEN de.delivery_status = 'DS05' THEN '완료'
		                ELSE '미완료'
		                END AS delivery_status,
		                TO_CHAR(de.dedt, 'yyyy-MM-dd') AS dedt,
		                de.delivery_code AS delivery_code
		        FROM   delivery de
		        WHERE    de.delivery_company_code IS NULL
		        <if test='search.dedtAddress != null and search.dedtAddress != ""'>
					AND 	get_address(de.company_code) LIKE '%' || #{search.dedtAddress} || '%'
					</if>
					<if test='search.companyName != null and search.companyName != ""'>
					AND    de.company_name LIKE '%' || #{search.companyName} || '%'
					</if>
					<choose>
			              <when test="search.deliveryStatus == 'All'"> 
			              		AND de.delivery_status IN ('DS03', 'DS05')
			              </when>
			              <when test="search.deliveryStatus != null and search.deliveryStatus != ''"> 
			                     AND de.delivery_status = #{search.deliveryStatus}
			              </when>
			              <otherwise> 
			                    AND de.delivery_status IN ('DS03')
			              </otherwise>
			        </choose>
		        )info
		    WHERE  info.rn <![CDATA[ <= ]]>#{search.end})page
		WHERE  page.rn <![CDATA[ >= ]]>#{search.start}
	</select>
	
	<!-- 배송기사 배송지 리스트 조회 전체 레코드 수-->
	<select id="getDeliveryListCount">
		SELECT  COUNT(*)
        FROM    delivery de
        WHERE    de.delivery_company_code IS NULL
        <if test='search.dedtAddress != null and search.dedtAddress != ""'>
			AND 	get_address(de.company_code) LIKE '%' || #{search.dedtAddress} || '%'
		</if>
		<if test='search.companyName != null and search.companyName != ""'>
			AND    de.company_name LIKE '%' || #{search.companyName} || '%'
		</if>
		<choose>
              <when test="search.deliveryStatus == 'All'"> 
              		AND de.delivery_status IN ('DS03', 'DS05')
              </when>
              <when test="search.deliveryStatus != null and search.deliveryStatus != ''"> 
                     AND de.delivery_status = #{search.deliveryStatus}
              </when>
              <otherwise> 
                    AND de.delivery_status IN ('DS03')
              </otherwise>
        </choose>
	</select>
	
	<!-- 배송기사 상자 개수 조회 -->
	<select id="boxList">
		SELECT box_size,
		       qy
		FROM   packing
		WHERE  delivery_code = #{deliveryCode}
	</select>
	
	<insert id="insertDeliveryInfo">
		INSERT INTO delivery_schedule(delivery_no, delivery_code, delivery_date, prearnge_time, start_time, compet_time, rgsde, updde, driver_code, 
										driver_name, charger_code, charger_name, delivery_img)
		VALUES (driver_schedule_seq.nextval, #{deliverCode}, sysdate, 'TI01', sysdate, sysdate, sysdate, sysdate, #{chargerCode}, #{chargerName},
				#{chargerCode}, #{chargerName}, #{imgUrl})
	</insert>
	
	<update id="updateDriverInfo">
		UPDATE delivery_schedule
		SET    driver_code = #{info.chargerCode}, driver_name = #{info.chargerName}
		WHERE  delivery_code = #{info.deliveryCode}
	</update>
	
	<update id="updateDeliveryState">
		UPDATE delivery
		SET delivery_status = 'DS05'
		WHERE delivery_code = #{deliveryCode}
	</update>
</mapper>