<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezotex.delivery.mappers.SupplyDeliveryMapper">

	<!-- 발주 요청 검색결과 -->
	<select id="findAll">
		SELECT *
		FROM (
		    SELECT *
		    FROM (
		        SELECT /*+ INDEX_DESC(material_order  PK_MATERIAL_ORDER)*/
		        	   ROWNUM rn,
		               mtril_order_code AS mtrilOrderCode,
		               product_summary('material_order_details', mtril_order_code) AS Summary,
		               charger_name AS orderCharger,
		               rgsde AS orderDate,
		               due_date AS dedt,
		               remark AS remark,
		               get_comm(status) AS orderStatus
		        FROM   material_order 
		       	WHERE  company_code = #{searchDto.targetCompany}
	        	<if test='searchDto.orderCode != null and searchDto.orderCode != ""'>	--주문코드
	        		AND  mtril_order_code LIKE '%' || UPPER(#{searchDto.orderCode}) || '%'
	        	</if>
	        	<if test='searchDto.orderCharger != null and searchDto.orderCharger != ""'>	--발주담당자
	        		AND charger_name LIKE '%' || #{searchDto.orderCharger} || '%'
	        	</if>
	        	<if test='searchDto.productCode != null and searchDto.productCode != ""'>	--제품코드
	        		AND    mtril_order_code IN (SELECT mtril_order_code
	                                   FROM   material_order_details
	                                   WHERE  product_code LIKE '%' || UPPER(#{searchDto.productCode}) || '%')
	        	</if>
	        	<if test='searchDto.productName != null and searchDto.productName != ""'>	--제품명
	        		AND    mtril_order_code IN (SELECT m.mtril_order_code
	                                    FROM   material_order_details m JOIN product_info s
	                                                                      ON (m.product_code = s.product_code)
	                                    WHERE  s.product_name LIKE '%' || #{searchDto.productName} || '%')
	        	</if>
	        	<if test="searchDto.orderDateStart != null and searchDto.orderDateStart != '' and searchDto.orderDateEnd != null and searchDto.orderDateEnd != ''">
	        		AND    rgsde BETWEEN #{searchDto.orderDateStart} AND #{searchDto.orderDateEnd}
	        	</if>
	        	<if test="searchDto.dedtStart != null and searchDto.dedtStart != '' and searchDto.dedtEnd != null and searchDto.dedtEnd != ''">
	        		AND    due_date BETWEEN #{searchDto.dedtStart} AND #{searchDto.dedtEnd}
	        	</if>
       			<choose>
	                  <when test="searchDto.orderStatus != null and searchDto.orderStatus != ''"> 
	                            AND status = #{searchDto.orderStatus}
	                  </when>
	                  <otherwise> 
	                           AND status IN ('RS01', 'RS02')
	                  </otherwise>
	            </choose> 
		        ) info
		    WHERE info.rn <![CDATA[ <= ]]> #{searchDto.end}) page
		WHERE page.rn <![CDATA[ >= ]]> #{searchDto.start}
	</select>
	
	<!-- 검색결과 카운트 -->
	<select id="getCount">
		SELECT COUNT(*)
        FROM   material_order 
       	WHERE    company_code = #{searchDto.targetCompany}
       	<if test='searchDto.orderCode != null and searchDto.orderCode != ""'>	--주문코드
       		AND  mtril_order_code LIKE '%' || UPPER(#{searchDto.orderCode}) || '%'
       	</if>
       	<if test='searchDto.orderCharger != null and searchDto.orderCharger != ""'>	--발주담당자
       		AND charger_name LIKE '%' || #{searchDto.orderCharger} || '%'
       	</if>
       	<if test='searchDto.productCode != null and searchDto.productCode != ""'>	--제품코드
       		AND    mtril_order_code IN (SELECT mtril_order_code
                                  FROM   material_order_details
                                  WHERE  product_code LIKE '%' || UPPER(#{searchDto.productCode}) || '%')
       	</if>
       	<if test='searchDto.productName != null and searchDto.productName != ""'>	--제품명
       		AND    mtril_order_code IN (SELECT m.mtril_order_code
                                   FROM   material_order_details m JOIN product_info s
                                                                     ON (m.product_code = s.product_code)
                                   WHERE  s.product_name LIKE '%' || #{searchDto.productName} || '%')
       	</if>
       	<if test="searchDto.orderDateStart != null and searchDto.orderDateStart != '' and searchDto.orderDateEnd != null and searchDto.orderDateEnd != ''">
       		AND    rgsde BETWEEN #{searchDto.orderDateStart} AND #{searchDto.orderDateEnd}
       	</if>
       	<if test="searchDto.dedtStart != null and searchDto.dedtStart != '' and searchDto.dedtEnd != null and searchDto.dedtEnd != ''">
       		AND    due_date BETWEEN #{searchDto.dedtStart} AND #{searchDto.dedtEnd}
       	</if>
     	<choose>
                 <when test="searchDto.orderStatus != null and searchDto.orderStatus != ''"> 
                           AND status = #{searchDto.orderStatus}
                 </when>
                 <otherwise> 
                          AND status IN ('RS01', 'RS02')
                 </otherwise>
           </choose> 
	</select>
	

	<select id="orderInfo">
		SELECT  md.product_code AS product_code,
		        pi.product_name AS product_name,
		        md.product_color AS product_color,
		        md.order_qy AS req_qy,
                (md.order_qy - COALESCE(dd.delivery_qy, 0)) AS rest_qy, --잔여량 구하기
		        md.amount AS price,	-- 제품 단가 금액 합계
		        md.product_color AS product_color,
		        md.unit_price AS unit_price
		FROM    material_order_details md JOIN product_info pi
		                                    ON (md.product_code = pi.product_code)
                                     LEFT JOIN delivery_details dd
                                            ON (md.mtril_order_code = dd.order_code)
                                            AND (md.product_color = dd.product_color)
		WHERE   md.mtril_order_code = #{orderCode}
		ORDER BY md.product_code
	</select>
	
	<select id="getAddress">
		SELECT address_main || ' ' || al.address_info AS address
		FROM   company cy JOIN address_list al
		                    ON (cy.address_seq = al.address_seq)
		WHERE company_code = #{companyCode}
	</select>
	
	<update id="updateOrderStatus">
		UPDATE material_order
		SET status = #{info.orderStatus}
		WHERE mtril_order_code = #{info.productOrderCode}
	</update>
	
	<!-- 분할출고 수 출력 -->
	<select id="getTime">
		SELECT COUNT(*)+1 AS time
		FROM delivery
		WHERE product_order_code = #{productOrderCode}
	</select>
	
	<select id="getDeliveryCode">
		SELECT COALESCE(
		    (SELECT  CASE WHEN LENGTH('DEV' || TO_CHAR(SYSDATE, 'YYMMDD') || LPAD((TO_NUMBER(SUBSTR(MAX(delivery_code), 10)) + 1), 4, 0)) = 9 THEN null
		             ELSE 'DEV' || TO_CHAR(SYSDATE, 'YYMMDD') || LPAD((TO_NUMBER(SUBSTR(MAX(delivery_code), 10)) + 1), 4, 0)
		             END
		     FROM delivery 
		     WHERE   TO_CHAR(rgsde, 'YY/MM/DD') = (SELECT TO_CHAR(SYSDATE, 'YY/MM/DD') FROM DUAL)), 
		    ('DEV' || TO_CHAR(SYSDATE, 'YYMMDD') || '0001')) AS delivery_code
		FROM DUAL
	</select>
	
	<insert id="insertDeliveryMaster">
		INSERT INTO delivery(delivery_code, company_se, mtril_order_code, company_code, company_name, order_date, dedt, storage_name, dedt_address
							,delivery_status , remark, charger_code, charger_name, rgsde, updde, time, amount, delivery_company_code)
		VALUES (#{info.deliveryCode}, #{info.companySe}, #{info.productOrderCode}, #{info.companyCode}, #{info.companyName}, #{info.orderDate}, #{info.dedt}, #{info.storageName}, #{info.dedtAddress}
				, #{info.deliveryStatus}, #{info.remark}, #{info.chargerCode}, #{info.chargerName}, SYSDATE, SYSDATE, #{info.time}, #{info.amount}, #{info.divyCompanyCode})
	</insert>
	
	<insert id="insertDeliveryDetails">
		INSERT INTO delivery_details(delivery_product_no, delivery_code, product_code, product_size, product_color, product_lot
									 , request_qy, delivery_qy, product_se, order_code, unit_price, price)
		VALUES (delivery_details_seq.NEXTVAL, #{pinfo.deliveryCode}, #{pinfo.productCode}, #{pinfo.productSize}, #{pinfo.productColor}, ' ',
				#{pinfo.reqQy}, #{pinfo.deliveryQy}, 'PT01', #{pinfo.productOrderCode}, #{pinfo.unitPrice}, #{pinfo.price})
	</insert>
	
	<!-- 출고 내역 조회 -->
	<select id="supplyDeliveryList">
		SELECT *
		FROM (
			    SELECT *
			    FROM (
					SELECT  /*+ INDEX_DESC(de PK_DELIVERY)*/
							ROWNUM AS rn,
							de.delivery_code AS delivery_code,
					        de.mtril_order_code AS mtril_order_code,
					        de.order_date AS order_date,
					        de.dedt AS dedt,
					        product_summary('delivery_details', delivery_code) AS summary,
					        de.time AS time,
					        get_comm(delivery_status) AS comm_status,
					        TO_CHAR(de.rgsde, 'yyyy-MM-dd') AS regist_date,
					        mo.charger_code AS order_charger_code,
					        mo.charger_name AS order_charger,
					        de.dedt_address AS dedt_address,
					        de.remark AS remark
					FROM   delivery de JOIN material_order mo
										 ON (de.mtril_order_code = mo.mtril_order_code)
					WHERE  de.delivery_company_code = #{cri.targetCompany}        	
		            <if test='cri.deliveryCode != null and cri.deliveryCode != ""'>	    
		                AND de.delivery_code LIKE '%' || UPPER(#{cri.deliveryCode}) || '%'    --주문코드
		            </if>
		            <if test='cri.orderCode != null and cri.orderCode != ""'>	    
		                AND de.mtril_order_code LIKE '%' || UPPER(#{cri.orderCode}) || '%'    --주문코드
		            </if>
		            <if test='cri.productName != null and cri.productName != ""'>		    
		                AND  de.delivery_code IN (SELECT dd.delivery_code 
                                				  FROM delivery_details dd JOIN product_info pi 
                                                        					 ON (dd.product_code = pi.product_code)
                                				  WHERE pi.product_name LIKE '%' || #{cri.productName} || '%')               --제품명
		            </if>
		            <if test='cri.productCode != null and cri.productCode != ""'>		    
		                AND de.delivery_code IN (SELECT  delivery_code 
                                				 FROM 	  delivery_details
                                				 WHERE   UPPER(product_code) LIKE '%' || UPPER(#{cri.productCode}) || '%')               --제품코드
		            </if>
		            <if test='cri.companyName != null and cri.companyName != ""'>
		                AND de.company_name LIKE '%' || #{cri.companyName} || '%'                          --업체명
		            </if>
		            <if test='cri.companyCode != null and cri.companyCode != ""'>
		                AND de.company_code LIKE '%' || UPPER(#{cri.companyCode}) || '%'                --업체코드
		            </if>
		            <if test='cri.orderChargerCode != null and cri.orderChargerCode != ""'>		    
		                AND mo.charger_code LIKE '%' || #{cri.orderChargerCode} || '%'                          --주문 담당자
		            </if>
		            <if test='cri.orderCharger != null and cri.orderCharger != ""'>		    
		                AND mo.charger_name LIKE '%' || #{cri.orderCharger} || '%'                          --주문 담당자
		            </if>
		            <if test="cri.orderDateStart != null and cri.orderDateStart != '' and cri.orderDateEnd != null and cri.orderDateEnd != ''">
		                AND de.order_date BETWEEN TO_DATE(#{cri.orderDateStart}, 'YYYY-MM-DD') AND TO_DATE(#{cri.orderDateEnd}, 'YYYY-MM-DD')  --주문일 
		            </if>
		            <if test="cri.dedtStart != null and cri.dedtStart != '' and cri.dedtEnd != null and cri.dedtEnd != ''">
		                AND de.dedt BETWEEN TO_DATE(#{cri.dedtStart}, 'YYYY-MM-DD') AND TO_DATE(#{cri.dedtEnd}, 'YYYY-MM-DD') --납기일
		            </if>
		            <choose>
		                  <when test="cri.deliveryStatus != null and cri.deliveryStatus != ''"> 
		                            AND delivery_status = #{cri.deliveryStatus}
		                  </when>
		                  <otherwise> 
		                           AND delivery_status IN ('DS01', 'DS05')
		                  </otherwise>
		            </choose>
		            ORDER BY de.delivery_code DESC
				        ) info
		    WHERE info.rn <![CDATA[ <= ]]> #{cri.end}) page
		WHERE page.rn <![CDATA[ >= ]]> #{cri.start}
	</select>
	
	<!-- 출고 내역 조회 총 레코드 수 -->
	<select id="supplyDeliveryListCount">
		SELECT COUNT(*)
		FROM   delivery de JOIN material_order mo
							 ON (de.mtril_order_code = mo.mtril_order_code)
		WHERE  de.delivery_company_code = #{cri.targetCompany}        	
           <if test='cri.deliveryCode != null and cri.deliveryCode != ""'>	    
               AND de.delivery_code LIKE '%' || UPPER(#{cri.deliveryCode}) || '%'    --주문코드
           </if>
           <if test='cri.orderCode != null and cri.orderCode != ""'>	    
               AND de.mtril_order_code LIKE '%' || UPPER(#{cri.orderCode}) || '%'    --주문코드
           </if>
           <if test='cri.productName != null and cri.productName != ""'>		    
               AND  de.delivery_code IN (SELECT dd.delivery_code 
                             				  FROM delivery_details dd JOIN product_info pi 
                                                     					 ON (dd.product_code = pi.product_code)
                             				  WHERE pi.product_name LIKE '%' || #{cri.productName} || '%')               --제품명
           </if>
           <if test='cri.productCode != null and cri.productCode != ""'>		    
               AND de.delivery_code IN (SELECT  delivery_code 
                             				 FROM 	  delivery_details
                             				 WHERE   UPPER(product_code) LIKE '%' || UPPER(#{cri.productCode}) || '%')               --제품코드
           </if>
           <if test='cri.companyName != null and cri.companyName != ""'>
               AND de.company_name LIKE '%' || #{cri.companyName} || '%'                          --업체명
           </if>
           <if test='cri.companyCode != null and cri.companyCode != ""'>
               AND de.company_code LIKE '%' || UPPER(#{cri.companyCode}) || '%'                --업체코드
           </if>
           <if test='cri.orderChargerCode != null and cri.orderChargerCode != ""'>		    
               AND mo.charger_code LIKE '%' || #{cri.orderChargerCode} || '%'                          --주문 담당자
           </if>
           <if test='cri.orderCharger != null and cri.orderCharger != ""'>		    
               AND mo.charger_name LIKE '%' || #{cri.orderCharger} || '%'                          --주문 담당자
           </if>
           <if test="cri.orderDateStart != null and cri.orderDateStart != '' and cri.orderDateEnd != null and cri.orderDateEnd != ''">
               AND de.order_date BETWEEN TO_DATE(#{cri.orderDateStart}, 'YYYY-MM-DD') AND TO_DATE(#{cri.orderDateEnd}, 'YYYY-MM-DD')  --주문일 
           </if>
           <if test="cri.dedtStart != null and cri.dedtStart != '' and cri.dedtEnd != null and cri.dedtEnd != ''">
               AND de.dedt BETWEEN TO_DATE(#{cri.dedtStart}, 'YYYY-MM-DD') AND TO_DATE(#{cri.dedtEnd}, 'YYYY-MM-DD') --납기일
           </if>
           <choose>
                 <when test="cri.deliveryStatus != null and cri.deliveryStatus != ''"> 
                           AND delivery_status = #{cri.deliveryStatus}
                 </when>
                 <otherwise> 
                          AND delivery_status IN ('DS01', 'DS05')
                 </otherwise>
           </choose>
	</select>
	
	<select id="deliveryInfo">
		SELECT dd.product_code AS product_code,
		       pi.product_name AS product_name,
		       dd.product_color AS product_color,
		       dd.request_qy AS req_qy,
		       dd.delivery_qy AS delivery_qy
		FROM   delivery_details dd JOIN product_info pi
		                             ON dd.product_code = pi.product_code
		WHERE  dd.delivery_code = #{deliveryCode}
		ORDER BY dd.product_code
	</select>
</mapper>