.mag-glass-btn {
	width: 40px;
}

.icon-left {
	position: relative;
	right: 8px;
}

.icon-left-sm {
	position: relative;
	right: 2px;
}

.bg-blue {
	background-color: #dceffa;
}

.pointer {
	cursor: pointer;
}

.wbreak {
	word-break: keep-all;
}

.text-overflow {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input {
	padding: 10px !important;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

select {
	background-color: #fff !important;
	color: black !important;
	appearance: auto !important;
}