<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}" layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>이조텍스SCM</title>
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<style>
.inputbold {
	font-weight: bold;
	color: green;
}
</style>
</head>
<body>
	<h3 class="fs-3 fw-bold mb-3">|반품 등록</h3>

	<!-- 등록 모달 -->
	<div class="modal fade" id="registModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="height: 20px;">
					<h5 class="modal-title" id="exampleModalLabel"
						style="font-size: 15px;">등록 확인</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body"
					style="text-align: center; padding: 44px; padding-bottom: 10px;">
					<div>
						<img src="/images/modal/regist.png" alt="등록확인이미지"
							style="width: 84px; height: 84px;">
					</div>
					<div>
						<p style="margin-top: 12px; font-size: 21px; font-weight: bold;">알림</p>
						<p>내용을 등록하시겠습니까?</p>
					</div>
				</div>
				<div class="modal-footer regist"
					style="display: flex; justify-content: center; border-top: none; padding-bottom: 45px;">
					<!---->
					<button type="button" id="resiBtn"
						class="btn btn-outline-primary checkBtn" data-bs-dismiss="modal">등록</button>
					<button type="button" class="btn btn-secondary denyBtn"
						data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>


	<p>
	<div class="card card-body w-100 bg-secondary">


		<table class="table">
			<tbody>
				<!-- 첫 번째 줄 -->
				<tr>
					<td class="col-auto">
						<div class="d-flex align-items-center">
							<label class="col-form-label me-2" style="width: 80px;">납품코드
							</label> <input type="text" id="deliveryCode"
								class="form-control inputbold w-50" readonly>
							<button type="button" class="btn btn-info" data-bs-toggle="modal"
								data-bs-target="#deliveryViewModal" style="padding: 8px">납품
								내역 조회</button>

							<!-- 				<div class="input-group mb-3">
								<input type="text" class="form-control"
									placeholder="Recipient's username"
									aria-label="Recipient's username"
									aria-describedby="button-addon2">
								<button class="btn btn-outline-secondary" type="button"
									id="button-addon2">Button</button>
							</div> -->
						</div>
					</td>
					<td class="col-auto">
						<div class="d-flex align-items-center">
							<label class="col-form-label me-2" style="width: 80px;">업체코드</label>
							<input type="text" id="companyCode"
								class="form-control inputbold w-50" readonly>
						</div>
					</td>
					<td class="col-auto">
						<div class="d-flex align-items-center">
							<label class="col-form-label me-2" style="width: 80px;">업체명</label>
							<input type="text" id="companyName"
								class="form-control inputbold w-50" readonly>
						</div>
					</td>
					<td class="col-auto">
						<div class="d-flex align-items-center">
							<label class="col-form-label me-2" style="width: 80px;">담당자</label>
							<input type="text" id="requestor"
								class="form-control inputbold w-50" readonly>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="card card-body mt-3">
		<p class="fs-5 fw-bolder mb-3">제품목록</p>
		<div id="deliProductGrid" style="width: 100%;"></div>
		<script th:inline="javascript">
			// 사이즈 정해주기
			const sizeMap = {
				    SI01: 'FREE', SI02: 'XS', SI03: 'S', SI04: 'M', SI05: 'L',
				    SI06: 'XL', SI07: 'XXL', SI25: '25', SI26: '26', SI27: '27',
				    SI28: '28', SI29: '29', SI30: '30', SI31: '31', SI32: '32',
				    SI33: '33', SI34: '34', SI35: '35', SI36: '36', SI37: '37',
				    SI38: '38', SI44: '44', SI55: '55', SI66: '66', SI77: '77',
				    SI88: '88', SI90: '90'
			};
			// Thymeleaf에서 데이터를 JSON으로 변환해서 JavaScript로 전달
			const deliProduct = /*[[${getDeliProduct}]]*/[];
			// 전달된 데이터 확인 (콘솔에 출력)
			console.log(deliProduct);
			// Toast Grid 설정
			// --- 제품 목록 그리드 ---
			const deliProductGrid = new tui.Grid({
				el : document.getElementById('deliProductGrid'), // 그리드를 표시할 div
				scrollX : false, // 가로 스크롤바 비활성화
				scrollY : false, // 세로 스크롤바 비활성화
				bodyHeight : 200,
				data : deliProduct, // 서버에서 전달된 데이터
				columnOptions : {
					resizable : false
				// 컬럼 크기 조절 가능
				},
				rowHeaders : [ 'rowNum' ],
				columns : [
				{
					header : '납품코드',
					name : 'deliveryCode',
					align : 'center',
			        formatter: function({ value }) {
			              return `<strong>${value}</strong>`; // 글자를 굵게 설정
			        }
				},
				{
					header : '제품명',
					name : 'productName',
					align : 'center',
				},
				{
					header : '제품코드',
					name : 'productCode',
					align : 'center',
					hidden : true,
				},
				{
					header : '색상',
					name : 'productColor',
					align : 'center',
				},
				{
					header : '사이즈',
					name : 'productSize',
					align : 'center',
		            formatter: ({ value }) => sizeMap[value] || 'Unknown'
				},
				{
					header : '수량',
					name : 'deliveryQy',
					align : 'right',
			        formatter: function({ value }) {
			            return value ? value.toLocaleString() : '0';
			        }
				},
				{
					header : '단가',
					name : 'unitPrice',
					align : 'right',
			        formatter: function({ value }) {
			            return value ? value.toLocaleString() : '0';
			        },
				},
				],
				pageOptions : {
					useClient : true, // 페이징을 위해 필요
					perPage : 5
				},
				showDummyRows: true	//더미로우 추가
			});
			// 클릭한 행 데이터를 저장할 배열
			
			let lastClicked = null; // 페이지 이동 시에도 이전 선택 기억하기 위함.
			
			// 행 클릭 이벤트
			deliProductGrid.on('click',function (ev){
				deliProductGrid.removeRowClassName(lastClicked, 'bg-blue'); // 이전 선택 행 배경색 삭제
				deliProductGrid.addRowClassName(ev.rowKey, 'bg-blue'); // 선택된 행 배경색 추가
			    lastClicked = ev.rowKey; // 선택된 행 기억
			    
				let selectedProduct = [];
			    const clickedRow = ev.rowKey; // 클릭된 행의 인덱스
			    const clickedData = deliProductGrid.getData()[clickedRow]; // 클릭된 행의 데이터
			    const clickedColumn = ev.columnName;  // 클릭된 열
			    
			    console.log("선택된 제품:", clickedData);
			    
			    console.log(clickedData.productCode);
			    
			        // 데이터 객체를 처리할 제품 목록에 추가
		            const newProduct = {
				        productCode : clickedData.productCode,
				        productName : clickedData.productName,
				        productColor : clickedData.productColor,
				        productSize : clickedData.productSize,
				        unitPrice : clickedData.unitPrice,
				        deliveryQy: clickedData.deliveryQy,
				    };
			        
		        // selectProductGrid의 기존 데이터 가져오기
		        const existingData = selectProductGrid.getData();

			     // 중복 여부 확인
			        const existingIndex = existingData.findIndex(product =>
			            product.productCode === newProduct.productCode &&
			            product.productName === newProduct.productName &&
			            product.productColor === newProduct.productColor &&
			            product.productSize === newProduct.productSize
			        );
	
			        if (existingIndex !== -1) {
			            // 기존 데이터가 있고, 상태가 다르면 교체
			            if (existingData[existingIndex].status !== newProduct.status) {
			                selectProductGrid.removeRow(existingData[existingIndex].rowKey); // 기존 행 삭제
			                selectProductGrid.appendRow(newProduct); // 새 데이터 추가
			            } else {
			                console.log("이미 추가된 제품입니다.");
			            }
			        } else {
			            // 중복이 없으면 추가
			            selectProductGrid.appendRow(newProduct);
			        }
			})
		</script>
	</div>
	<div class="card card-body mt-3">
		<p class="fs-5 fw-bolder mb-3">처리할 제품</p>
		<div id="selectProductGrid" style="width: 100%;"></div>
		<p>
		<p>
		<table class="table mt-3">
			<tr class="d-flex">
				<td class="d-flex align-items-center mr-3"><label
					class="col-form-label mr-3">불량사유</label> <input type="text"
					id="faultyReason" class="form-control"
					style="width: 600px; margin-left: 10px" placeholder="불량사유">
				</td>
				<td class="d-flex align-items-center mr-3">
					<button type="button" id="regibtn"
						class="btn btn-primary registBtn ml-2" onclick="insertReturn()">반품등록
					</button>
				</td>
			</tr>
		</table>
		<script th:inline="javascript">
		// select 커스텀 렌더링
		class CustomSelectBox {
		  constructor(props) {
		    // props: 화면에 표시될 때마다 생성자가 실행되며 넘어오는 객체
		    // props => grid, rowKey, columnInfo, value(데이터)
		    const el = document.createElement('select');
		    el.classList = 'form-control h-100 w-90 text-center';
		    el.id = props.rowKey; // 태그 id에 rowKey 저장       
		    
		    // null 옵션 생성
		    let nullOpt = document.createElement('option');
		    nullOpt.value = null;
		    nullOpt.innerText = '선택';
		    el.append(nullOpt);
		    
		    // 옵션 생성
		    let options = ['반품', '교환', '폐기'];
		    options.forEach((data, idx) => {
	            let opt = document.createElement('option');
	            opt.value = data;
	            opt.innerText = data;
	            el.append(opt);
		    });
		    
		    // tui 그리드 셀 기본 이벤트 방지
		    el.addEventListener('mousedown', (e) => e.stopPropagation());
		    el.addEventListener('click', (e) => e.stopPropagation());
		    
		    // 옵션을 선택했을 때 데이터 반영
		    el.addEventListener('change', (e) => {
		        let rowKey = e.target.id; // 선택한 rowKey
		        let row = selectProductGrid.getRow(rowKey);
		        row.status = e.target.value;
		        selectProductGrid.setRow(rowKey, row);
		    });
		    
		    this.el = el;
		    this.render(props);
		  }

		  getElement() { return this.el; }

		  render(props) {
		    // 화면에 표시될 때마다 선택값 반영
		    let rowKey = this.el.id; // 선택한 rowKey
            let row = selectProductGrid.getRow(rowKey);
		    this.el.value = row.status;
		  }
		}
		
		// 선택 그리드
			const selectProductGrid = new tui.Grid({
				el : document.getElementById('selectProductGrid'), // 그리드를 표시할 div
				scrollX : false, // 가로 스크롤바 비활성화
				scrollY : false, // 세로 스크롤바 비활성화
				data : [], // 서버에서 전달된 데이터
			    bodyHeight: 200, 
				columnOptions : {
					resizable : false
				// 컬럼 크기 조절 가능
				},
				columns : [
				{
					header : '제품코드',
					name : 'productCode',
					align : 'center',
				},
				{
					header : '제품명',
					name : 'productName',
					align : 'center',
			        formatter: function({ value }) {
			            return `<strong>${value}</strong>`; // 글자를 굵게 설정
			        }
				},
				{
					header : '색상',
					name : 'productColor',
					align : 'center',
				},
				{
					header : '사이즈',
					name : 'productSize',
					align : 'center',
					formatter: ({ value }) => sizeMap[value] || 'Unknown',
				},
				{
					header : '수량',
					name : 'deliveryQy',
					align : 'right',
					editor: 'text',
			        formatter: function({ value }) {
			            return value ? value.toLocaleString() : '0';
			        },
				},
				{
					header : '단가',
					name : 'unitPrice',
					align : 'right',
			        formatter: function({ value }) {
			            return value ? value.toLocaleString() : '0';
			        },
				},
			    {
				      header : '처리상태',
				      name : 'status',
				      align : 'center',
				      renderer: { type: CustomSelectBox, options: {}}
			    },
				],
				showDummyRows: true	//더미로우 추가

/* 				pageOptions : {
					useClient : true, // 페이징을 위해 필요
					perPage : 1
				}, */
			});
			
			// 행 클릭
			selectProductGrid.on('click', (event) => {
			    const { rowKey, columnName } = event;

			    // 컬럼명이 'status'이면 편집 모드 시작
			    if (columnName === 'status') {
			    	selectProductGrid.startEditing(rowKey, columnName);
			    }
			});
			
		    // 수량이 0 이하일 경우 입력 제한
		    selectProductGrid.on('editingFinish', function (ev) {
		        const { rowKey, columnName, value } = ev;

		        // 수량이 0 이하인 경우 처리
		        if (columnName === 'deliveryQy' && Number(value) <= 0) {
		        	failToast("수량은 0보다 큰 값이어야 합니다.");
		            selectProductGrid.setValue(rowKey, columnName, 1); // 0 이하의 수량은 1로 강제 변경
		        }
		    });
			
			</script>

	</div>
</body>
<!-- 납품 내역 조회 모달 -->
<div class="modal fade" id="deliveryViewModal" tabindex="-1"
	aria-labelledby="deliveryViewModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 70%; max-width: 1200px;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deliveryViewModalLabel">납품내역</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- 제품 검색창 -->
				<div class="card card-body mt-3 bg-secondary">
					<p class="fs-5 fw-bolder mb-3">검색</p>
					<form id="planForm" class="row justify-content-center">
						<!-- 검색 조건 -->
						<div class="row align-items-center justify-content-center">
							<label for="returnCode" class="col-auto text-end pe-2">납품코드</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm"
									id="searchDeliveryCode">
							</div>

							<label for="deliveryCode" class="col-auto text-end pe-2">업체명</label>
							<div class="col">
								<input type="text" class="form-control form-control-sm"
									id="searchCompanyName">
							</div>

							<label for="startRequestDate" class="col-auto text-end pe-2">납기일</label>
							<div class="col d-flex align-items-center">
								<input type="date" class="form-control form-control-sm me-2"
									id="startDeliveryDate" style="cursor: pointer;"
									onclick="this.showPicker()"> <span class="mx-1">~</span>
								<input type="date" class="form-control form-control-sm ms-2"
									id="endDeliveryDate" style="cursor: pointer;"
									onclick="this.showPicker()">
							</div>
						</div>
					</form>
					<div class="text-center mt-3">
						<button class="btn btn-warning mag-glass-btn"
							onclick="searchReturnList()">
							<i class="fa-solid fa-magnifying-glass icon-left"
								style="color: #ffffff;"></i>
						</button>
						<button class="btn btn-secondary mag-glass-btn"
							onclick="resetCondition()">
							<i class="fa-solid fa-repeat icon-left" style="color: #ffffff;"></i>
						</button>
					</div>
				</div>
				<div class="card card-body mt-3">
					<div class="row">
						<!-- Toast Grid를 표시할 div 추가 -->
						<p class="fs-5 fw-bolder">납품내역 선택 모달</p>
						<!-- 그리드를 표시할 div -->
						<div id="deliveryGrid" style="width: 100%;"></div>
					</div>
				</div>
				<script th:inline="javascript">
					// Thymeleaf에서 getProductList 데이터를 JSON으로 변환해서 JavaScript로 전달
					const deliveryList = /*[[${getDeliveryList}]]*/[];
					// 전달된 데이터 확인 (콘솔에 출력)
					console.log(deliveryList);
					// Toast Grid 설정
					// --- 납품내역 모달 그리드 ---
					const deliveryGrid = new tui.Grid({
						el : document.getElementById('deliveryGrid'), // 그리드를 표시할 div
						scrollX : false, // 가로 스크롤바 비활성화
						scrollY : false, // 세로 스크롤바 비활성화
						bodyHeight : 200,
						data : deliveryList, // 서버에서 전달된 데이터
						columnOptions : {
							resizable : false
						// 컬럼 크기 조절 가능
						},
						rowHeaders : [ 'rowNum' ],
						columns : [ {
							header : '납품코드',
							name : 'deliveryCode',
							align : 'center',
						}, {
							header : '주문코드',
							name : 'productOrderCode',
							align : 'center',
						}, {
							header : '업체명',
							name : 'companyName',
							align : 'center',
						}, {
							header : '납품 상태',
							name : 'deliveryStatus',
							align : 'center',
							formatter : function(value) {
								const status = value.value;
								if (typeof status === 'string') {
									switch (status) {
									case 'DS01':
										return '납품등록';
									case 'DS02':
										return '포장완료';
									case 'DS03':
										return '기사배정';
									case 'DS04':
										return '배송출발';
									case 'DS05':
										return '납품완료';
									case 'DS06':
										return '반품';
									case 'RS01':
										return '대기';
									case 'RS02':
										return '부분출고';
									case 'RS03':
										return '출고완료';
									case 'RS04':
										return '취소';
									default:
										return status;
									}
								}
								return status;
							}
						}, {
							header : '납기일',
							name : 'dedt',
							align : 'center',
						}

						],
						pageOptions : {
							useClient : true, // 페이징을 위해 필요
							perPage : 5
						},
					});
					const modalElement = document
							.getElementById('deliveryViewModal');
					modalElement.addEventListener('show.bs.modal', function() {
						deliveryGrid.refreshLayout(); // 모달이 열리기 전에 그리드 레이아웃 재조정
					});
				</script>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
					data-bs-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>
<script>
	// 페이지 시작 할때 작업
	window.onload = function() {
		// 현재 로그인된 사용자 입력
		document.getElementById('requestor').value = '[[${name}]]';
	};
	
	let clickedRow = []; // 클릭된 행
	let clickedData = [];
	// 납품 내역 선택 모달 행 클릭 이벤트
	deliveryGrid.on('click',function(ev) {
						clickedRow = ev.rowKey; // 클릭된 행
						clickedData = deliveryGrid.getData()[clickedRow]; //클릭된 행의 데이터

						console.log("클릭 이벤트 확인", clickedData);

						// 클릭된 행의 데이터 입력
						document.getElementById('deliveryCode').value = clickedData.deliveryCode;
						document.getElementById('companyCode').value = clickedData.companyCode;
						document.getElementById('companyName').value = clickedData.companyName;

						$('#deliveryViewModal').modal('hide');
						
						fetch(`/returns/returnsProduct?deliveryCode=${clickedData.deliveryCode}`)
							.then(response => response.json())
							.then(data => {
								console.log("코드 데이터 확인",data);
								deliProductGrid.resetData(data);
							});
					});
	
	// 납품 등록된 수량보다 적게 입력할때 1으로 초기화
	selectProductGrid.on('afterChange', function (ev) {
	    ev.changes.forEach(change => {
	        if (change.columnName === 'deliveryQy') {
	            validateQuantity(change.rowKey, change.value);
	        }
	    });
	});

	function validateQuantity(rowKey, newValue) {
	    const selectRow = selectProductGrid.getRow(rowKey); // 변경된 행 가져오기
	    const deliData = deliProductGrid.getData(); // 원본 데이터 가져오기
	
	    const productCode = selectRow.productCode;
	    const productColor = selectRow.productColor;
	    const productSize = selectRow.productSize;
	
	    // deliProductGrid에서 제품코드, 색상, 사이즈가 모두 일치하는 데이터 찾기
	    const matchingDeliRow = deliData.find(row => 
	        row.productCode === productCode &&
	        row.productColor === productColor &&
	        row.productSize === productSize
	    );
	
	    if (!matchingDeliRow) {
	    	failToast('일치하는 데이터가 없습니다.');
	        selectProductGrid.setValue(rowKey, 'deliveryQy', 0); // 잘못된 입력 초기화
	        return;
	    }
	
	    const maxQy = matchingDeliRow.deliveryQy;
	
	    if (Number(newValue) > Number(maxQy)) {
	    	failToast(`${maxQy}을 초과할 수 없습니다.`);
	        selectProductGrid.setValue(rowKey, 'deliveryQy', maxQy); // 최대 수량으로 조정
	    }
	}
	
	// 등록버튼 모달 띄워주기
	function insertReturn(returnCode){
	    // deliProductGrid 데이터 가져오기
	    const deliProductData = deliProductGrid.getData();
	    if (deliProductData.length === 0) {
	    	failToast("납품 내역 조회하여 납품건을 선택해주세요.");
	        return;
	    }

	    // selectProductGrid 데이터 가져오기
	    let rows = selectProductGrid.getData(); // 그리드 데이터 가져오기
	    
	    for (let i = 0; i < rows.length; i++) {
	        const row = rows[i];
	        if (!row.deliveryQy || row.deliveryQy === '') {
	            // 수량이 없으면 경고 처리
	            failToast('수량을 입력해주세요.');
	            return false;
	        }
	    }
	    
	    // 수량이 0 인지 체크
	    for (let i = 0; i < rows.length; i++) {
	        const row = rows[i];
	        // 수량이 없거나 0 이하일 경우 경고 처리
	        if (!row.deliveryQy || row.deliveryQy <= 0) {
	        	failToast('수량은 1 이상이어야 합니다.'); // 수량이 0 이하일 경우 경고
	            return false;
	        }
	    }
	    
	    // 처리상태가 모두 비어있는지 확인
	    const allStatusEmpty = rows.every(row => !row.status || row.status.trim() === '');
	    if (allStatusEmpty) {
	    	failToast("처리상태를 선택해주세요.");
	        return;
	    }
		
	    // 모두 통과하면 등록 모달 띄워주기
		let resiModal = new bootstrap.Modal(document.getElementById('registModal'));
			resiModal.show();
		}
	
	resiBtn.addEventListener("click" , function () {
		console.log("등록 버튼 클릭 이벤트");
		
	    // selectProductGrid의 데이터 가져오기
	    const gridData = selectProductGrid.getData();

/* 	    // 수량 검증: 0 이하인 항목이 있는지 확인
	    const hasInvalidQuantity = gridData.some(row => row.deliveryQy <= 0);

	    if (hasInvalidQuantity) {
	        alert("수량이 0 이하인 제품이 포함되어 있어 등록할 수 없습니다.");
	        return;
	    } */
		
		
		// 반품 등록 헤더 데이터
		const returnData = {
				// 반품 코드 시퀀스로 등록
				deliveryCode : clickedData.deliveryCode, // 납품코드
				companyCode : document.getElementById("companyCode").value, // 업체코드
				companyName : document.getElementById("companyName").value, // 업체명
				requestor : document.getElementById("requestor").value, // 요청자
				// 요청일 sysdate로 등록
		};
		console.log(selectProductGrid);
		
		// selectProductGrid의 데이터 가져오기
		const selectedProducts = selectProductGrid.getData();
		
		// 오늘 날짜 가져오기
		const today = new Date();
		
		// 요청일
		const requestDate = today.toISOString().split('T')[0];
		
		// 반품일 (오늘 날짜 + 7일)
		const returnDate = new Date();
		returnDate.setDate(today.getDate() + 7);
		const formattedReturnDate = returnDate.toISOString().split('T')[0];
		
		
		const statusMap = {
			    "반품": "ER03",
			    "교환": "ER02",
			    "폐기": "ER01"
		};
		
		// 반품 등록 제품 데이터에 selectProductGrid 데이터 넣기
		const returnProductData = selectedProducts.map(row => ({
			
		    productCode: row.productCode,  // 제품 코드
		    productName: row.productName,  // 제품명
		    productColor: row.productColor,  // 색상
		    productSize: row.productSize,  // 사이즈
		    faultyReason: document.getElementById("faultyReason").value, // 불량 사유
		    qy: row.deliveryQy,  // 수량
		    requestor: document.getElementById("requestor").value,  // 요청자
		    requestDate: requestDate,
		    returnDate: formattedReturnDate,
		    processingStatus: statusMap[row.status] || row.status,  // 상태값 변환
		    unitPrice: row.unitPrice  // 단가
		}))
		.filter(item => item.processingStatus && item.processingStatus.trim() !== '');
		
/* 	    // processingStatus가 모두 비어있는 경우
	    const allProcessingStatusEmpty = returnProductData.every(item => !item.processingStatus || item.processingStatus.trim() === '');
	    if (allProcessingStatusEmpty) {
	        alert("처리상태를 선택해주세요.");
	        return;  // 처리가 완료되지 않도록 중지
	    } */
		
		console.log("returnData",returnData);
		console.log("returnProductData",returnProductData);
		
		// 등록 실행 fetch
		fetch(`/returns/insertReturn`, {
			method : 'POST',
			headers : {
				...headers,
	            "Content-Type": "application/json"
			},
			body : JSON.stringify(returnData), // 반품 등록 헤더 데이터 추가
		})
		.then(rep => rep.json())
		.then(result => {
			// 반품코드 넘겨주기
			for(let i=0 ; i<returnProductData.length ; i++){
				returnProductData[i].returnCode = result.returnCode;
			}
			
			console.log("result찍기",result);
			console.log("리턴코드 넘어오는지",result.returnCode);
			console.log("returnProductData 출력",returnProductData);
			// 반품 헤더 등록 성공시 반품 제품 등록 실행
			fetch(`/returns/insertProductReturn`,{
				method : 'POST',
				headers : {
					...headers,
		            "Content-Type": "application/json"
				},
				body: JSON.stringify(returnProductData),
			})
			.then(rep => rep.json())
			.then(data => {
				console.log("결과 출력 : ",data);
			    if (data !== true) {
			        throw new Error("반품 등록 실패");
			    }

			    console.log("반품 등록 성공:", data);

			    // 성공 시 페이지 리로드
 			        setTimeout(function() {
				        location.reload();  // 페이지 새로 고침
				    }, 1200);  // 1000ms = 1초
			})
		})
		.catch(error =>{
			console.error("반품 등록 오류:",error);
		});
	})
	
		// 검색 함수
		function searchReturnList() {
	        const deliveryCode = document.querySelector('#searchDeliveryCode').value;
	        const companyName = document.querySelector('#searchCompanyName').value;
	        const startDeliveryDate = document.querySelector('#startDeliveryDate').value;
	        const endDeliveryDate = document.querySelector('#endDeliveryDate').value;
	        
	        const filteredData = deliveryList.filter(item => {
	            return (!deliveryCode || item.deliveryCode.includes(deliveryCode)) &&
	                   (!companyName || item.companyName.includes(companyName)) &&
	                   (!startDeliveryDate || item.dedt >= startDeliveryDate) &&
	                   (!endDeliveryDate || item.dedt <= endDeliveryDate);
	        });
	
		    // 필터링된 데이터를 다시 설정
		    deliveryGrid.resetData(filteredData);
		}

		// 검색 엔터 이벤트 추가
		document.querySelectorAll(".card-body input").forEach((ele) => {
		    ele.addEventListener('keydown', (event) => {				
		        if (event.keyCode === 13) {
		        	searchReturnList();
		        }
		    });
		});

		// 검색 조건 초기화 함수
		function resetCondition() {
		    document.querySelectorAll('#planForm input').forEach((e) => {
		        e.value = null;
		    });
		    searchReturnList();
		}
	
	
</script>

<style>
.modal {
	display: block !important; /* Bootstrap 기본 동작 우회 */
	visibility: hidden;
}

.modal.show {
	visibility: visible;
}

#status {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	appearance: none !important;
}

input[readonly] {
	background-color: white !important; /* 배경색을 흰색으로 변경 */
}

.tui-grid-layer-state {
	z-index: 0;
}
</style>
</html>