<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>이조텍스SCM</title>
<!-- plugins:css -->
<link rel="stylesheet" href="/vendors/feather/feather.css">
<link rel="stylesheet"
	href="/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="/vendors/typicons/typicons.css">
<link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">
<link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- Plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="/css/vertical-layout-light/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="/images/logo-ezotex-mini.png" />
<script src="/js/toastUi.js"></script>
<link rel="stylesheet" href="/css/toastUi.css">
<link rel="stylesheet" href="/css/spinner.css">
<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=5d8b239663f7722671879ad54af566c0&libraries=services,clusterer"></script>
</head>

<body>
  	<div class="loading-wrap">
    	<div class="loading-spinner"></div>
	    <p id="loadingMessage"></p>
    </div>
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper">
			<div class="content-wrapper d-flex align-items-center auth px-0">
				<div class="row w-100 mx-0">
					<div class="col-lg-7 mx-auto" style="height: auto;">
						<div class="auth-form-light text-left py-5 px-4 px-sm-5">
							<div class="brand-logo">
								<img src="/images/logo-ezotex.png" alt="logo">
							</div>
							<h3 class="fs-3 fw-bold">| 공급업체 회원가입</h3>
							<form class="pt-3" style="text-align: center;" action="/login/company_submit" method="post" 
							      enctype="multipart/form-data" onsubmit="return submit_check()">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
								<div>
									<div class="form-group" style="width: 35%; display: inline-block; margin: 10px;">
										<img id="preview" style="width: 90%" />
										<input type="file" onchange="readURL(this);" style="margin: 10px" id="company_img" name="companyImgFile">
										<div style="text-align: left;">
											<a style="color: red;"> * </a><a>업체명</a>
										</div>
										<div class="form-group">
											<input type="text" class="form-control form-control-lg" id="company_name" name="companyName">
										</div>
										<div style="text-align: left;">
											<a style="color: red;"> * </a><a>사업자 등록 번호</a>
										</div>
										<div class="form-group">
											<input type="text" class="form-control form-control-lg" id="company_number" name="companyNumber" placeholder="-를 포함하여 입력하세요">
										</div>
									</div>
									<div class="form-group" style="width: 55%; display: inline-block; margin: 10px;">
										<div style="text-align: left;">
											<a style="color: red;"> * </a><a>아이디</a>
										</div>
										<div class="form-group">
											<input type="text" class="form-control form-control-lg" oninput="id_unique()" id="company_id" name="companyId">
											<a style="color: red; display: none" id="id_fail"> 이미 존재하는 아이디입니다. </a>
											<a style="color: green; display: none" id="id_success"> 이 아이디는 사용가능합니다. </a>
										</div>
										<div style="text-align: left;">
											<a style="color: red;"> * </a><a>비밀번호</a>
										</div>
										<div class="form-group">
											<input type="password" class="form-control form-control-lg" oninput="password_match()" id="company_password" name="companyPassword">
										</div>
										<div style="text-align: left;">
											<a style="color: red;"> * </a><a>비밀번호 확인</a>
										</div>
										<div class="form-group">
											<input type="password" class="form-control form-control-lg" oninput="password_match()" id="company_password_repeat">
											<a style="color: red; display: none" id="password_fail"> 비밀번호가 다릅니다. </a>
											<a style="color: green; display: none" id="password_success"> 비밀번호가 같습니다. </a>
										</div>
										<div style="text-align: left;">
											<div style="width: 47%; display: inline-block;">
												<div style="text-align: left;">
													<a style="color: red;"> * </a><a>대표자</a>
												</div>
												<div class="form-group">
													<input type="text" class="form-control form-control-lg" id="company_exponent" name="companyExponent">
												</div>
											</div>
											<div style="width: 47%; float: right;">
												<div style="text-align: left;">
													<a style="color: red;"> * </a><a>담당자</a>
												</div>
												<div class="form-group">
													<input type="text" class="form-control form-control-lg" id="compnay_charger" name="companyCharger">
												</div>
											</div>
										</div>
										<div style="text-align: left;">
											<a style="color: red;"> * </a><a>전화번호</a>
										</div>
										<div class="form-group">
											<input type="text" class="form-control form-control-lg" id="company_phone" name="companyPhone" placeholder="-를 포함하여 입력하세요">
										</div>
										<div style="text-align: left;">
											<a style="color: red;"> * </a><a>이메일</a>
										</div>
										<div class="form-group">
											<input type="email" class="form-control form-control-lg" id="company_email" name="companyEmail" placeholder="비밀번호 찾기에 사용합니다">
										</div>
									</div>
									<div class="form-group" style="width: 35%; display: inline-block; margin: 10px;">
									</div>
									<div class="form-group" style="width: 55%; display: inline-block; margin: 10px;">
										<div style="text-align: left;">
											<div style="text-align: left;">
												<a style="color: red;"> * </a><a>주소</a>
											</div>
											<div style="width: 47%; display: inline-block;">
												<div class="form-group">
													<input type="text" class="form-control form-control-lg" id="addressNumber" name="addressNumber" placeholder="우편번호">
												</div>
											</div>
											<div style="width: 47%; float: right;">
												<div class="form-group">
													<input type="button" class="btn btn-secondary" onclick="execDaumPostcode()" value="우편번호 찾기">
												</div>
											</div>
											<div style="width: 47%; display: inline-block;">
												<div class="form-group">
													<input type="text" class="form-control form-control-lg" id="addressMain" name="addressMain" placeholder="도로명주소">
												</div>
											</div>
											<div style="width: 47%; float: right;">
												<div class="form-group">
													<input type="text" class="form-control form-control-lg" id="jibunAddress" name="jibunAddress" placeholder="지번주소">
												</div>
											</div>
											<div style="width: 47%; display: inline-block;">
												<div class="form-group">
													<input type="text" class="form-control form-control-lg" id="addressInfo" name="addressInfo" placeholder="상세주소">
												</div>
											</div>
											<div style="width: 47%; float: right;">
												<div class="form-group">
													<input type="text" class="form-control form-control-lg" id=addressReference name="addressReference" placeholder="참고항목">
												</div>
											</div>
										</div>
										<span id="guide" style="color: #999; display: none"></span>
									</div>
									<div class="mt-3" style="text-align: center;">
										<button class="btn btn-primary" style="margin: 10px; float: none;">등록</button>
										<a class="btn btn-secondary" href="/login/main" style="margin: 10px; float: none;">취소</a>
									</div>
								</div>
								
								<input type="hidden" id="distance" name="distance">
								<input type="hidden" id="requireTime" name="requireTime">
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- content-wrapper ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<div id="toastContainer" class="toast-container"></div>
	<!-- plugins:js -->
	<script src="/vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page -->
	<script src="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	<!-- End plugin js for this page -->
	<!-- inject:js -->
	<script src="/js/template/off-canvas.js"></script>
	<script src="/js/template/hoverable-collapse.js"></script>
	<script src="/js/template/template.js"></script>
	<script src="/js/template/settings.js"></script>
	<script src="/js/template/todolist.js"></script>
	<!-- endinject -->
	<script>
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();
				reader.onload = function(e) {
					document.getElementById('preview').src = e.target.result;
				};
				reader.readAsDataURL(input.files[0]);
			} else {
				document.getElementById('preview').src = "";
			}
		}
	</script>
	<script
		src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		function execDaumPostcode() {
			new daum.Postcode(
				{
					oncomplete : function(data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var roadAddr = data.roadAddress; // 도로명 주소 변수
					var extraRoadAddr = ''; // 참고 항목 변수

					// 법정동명이 있을 경우 추가한다. (법정리는 제외)
					// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
						extraRoadAddr += data.bname;
					}
					// 건물명이 있고, 공동주택일 경우 추가한다.
					if (data.buildingName !== '' && data.apartment === 'Y') {
						extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					}
					// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					if (extraRoadAddr !== '') {
						extraRoadAddr = ' (' + extraRoadAddr + ')';
					}

					// 우편번호와 주소 정보를 해당 필드에 넣는다.
					document.getElementById('addressNumber').value = data.zonecode;
					document.getElementById("addressMain").value = roadAddr;
					document.getElementById("jibunAddress").value = data.jibunAddress;

					// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
					if (roadAddr !== '') {
						document.getElementById("addressReference").value = extraRoadAddr;
					} else {
						document.getElementById("addressReference").value = '';
					}

					var guideTextBox = document.getElementById("guide");
					// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
					if (data.autoRoadAddress) {
						var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
						guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
						guideTextBox.style.display = 'block';

					} else if (data.autoJibunAddress) {
						var expJibunAddr = data.autoJibunAddress;
						guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
						guideTextBox.style.display = 'block';
					} else {
						guideTextBox.innerHTML = '';
						guideTextBox.style.display = 'none';
					}
					
					// 추가로 작성한 코드
					
					const url = "https://dapi.kakao.com/v2/local/search/address.json?query=" + roadAddr;
					console.log(roadAddr);
					
					fetch(url, {
				        method: 'GET',
				        headers: {
				            'Authorization': 'KakaoAK fca29dbe643742d008430793552d3b39'
				            //...headers
				        }
				    })
				    .then(response => response.json())
				    .then(data => {
				        if (data.documents.length > 0) {
				            const latitude = data.documents[0].y; // 위도
				            const longitude = data.documents[0].x; // 경도
				            
				            
				            fetch("https://apis-navi.kakaomobility.com/v1/directions?origin=128.593296913547,35.8690730613163&destination=" + longitude + "," + latitude + "", 
				            {
				            	method: 'GET',
						        headers: {
						            'Authorization': 'KakaoAK fca29dbe643742d008430793552d3b39'
						        }
				            })
				            .then(response => response.json())
				    		.then(data => {
				    			console.log(data)
				    			console.log(data.routes[0].summary.distance)
				    			document.querySelector("#distance").value = parseInt(data.routes[0].summary.distance)
				    			document.querySelector("#requireTime").value = (data.routes[0].summary.distance / 300)
				    		})
				    		
				        } else {
				            console.log('주소를 찾을 수 없습니다.');
				        }
				    })
				    .catch(error => {
				        console.error('API 호출 실패:', error);
				    });
					
				}
			}).open();
		}
	</script>
	<script>
		let id_check = 0;
		let pw_check = 0;
		function password_match() {
			let password1 = document.querySelector("#company_password").value;
			let password2 = document.querySelector("#company_password_repeat").value;
			let password_fail = document.querySelector("#password_fail")
			let password_success = document.querySelector("#password_success")
			if (password2.length == 0) {
				password_fail.style.display = "none"
				password_success.style.display = "none"
				pw_check = 1;
			} else if (password1 != password2) {
				password_fail.style.display = "block"
				password_success.style.display = "none"
				pw_check = 1;
			} else {
				password_fail.style.display = "none"
				password_success.style.display = "block"
				pw_check = 0;
			}
		}
		
		function id_unique() {
			let id = document.querySelector("#company_id").value;
			let result = 0
			fetch('/login/searchId?id=' + id)
			.then((response) => response.json())
			.then((data) => {
				result = data
				if (id.length == 0) {
					id_fail.style.display = "none"
					id_success.style.display = "none"
					id_check = 1;
				} else if (result == 0) {
					id_fail.style.display = "none"
					id_success.style.display = "block"
					id_check = 0;
				} else {
					id_fail.style.display = "block"
					id_success.style.display = "none"
					id_check = 1;
				}
			})
		}
		
		function submit_check() {
			let check = 0;
			if (document.querySelector("#company_id").value == 0) {
				failToast("아이디를 입력해주세요.");
			} else if (document.querySelector("#company_password").value == 0) {
				failToast("비밀번호를 입력해주세요.");
			} else if (document.querySelector("#company_password_repeat").value == 0) {
				failToast("패스워드 확인을 입력하세요");
			} else if (document.querySelector("#company_exponent").value == 0) {
				failToast("대표자를 입력해주세요.");
			} else if (document.querySelector("#compnay_charger").value == 0) {
				failToast("담당자를 입력해주세요.");
			} else if (document.querySelector("#company_img").value == 0) {
				failToast("사진을 등록해주세요.");
			} else if (document.querySelector("#company_name").value == 0) {
				failToast("부서를 선택해주세요.");
			} else if (document.querySelector("#company_number").value == 0) {
				failToast("직급을 선택해주세요.");
			} else if (document.querySelector("#company_phone").value == 0) {
				failToast("전화번호를 입력해주세요.");
			} else if (phone_check(document.querySelector("#company_phone").value)) {
				failToast("전화번호 양식이 다릅니다 (XXX-XXXX-XXXX)");
			} else if (document.querySelector("#company_email").value == 0) {
				failToast("이메일을 입력해주세요.");
			} else if (document.querySelector("#addressNumber").value == 0) {
				failToast("우편번호를 입력해주세요.");
			} else if (document.querySelector("#addressMain").value == 0) {
				failToast("도로명주소를 입력해주세요.");
			} else if (document.querySelector("#addressInfo").value == 0) {
				failToast("상세주소를 입력해주세요.");
			} else if (document.querySelector("#addressReference").value == 0) {
				failToast("참고항목을 입력해주세요.");
			} else if (pw_check == 1) {
				failToast("비밀번호가 일치하지 않습니다.");
			} else if (id_check == 1) {
				failToast("이미 사용 중인 아이디입니다. 다른 아이디를 입력해주세요.");
			} else {
				simulateLoading()
				return true;
			}
			return false;
		}
		
		function phone_check(num) {			
			if (num.slice(3, 4) == "-" && num.slice(8, 9) == "-" && num.slice(9).length == 4) {
				let test = num.slice(0, 3) + num.slice(4, 8) + num.slice(9)
				return isNaN(test)
			} else if (num.slice(3, 4) == "-" && num.slice(7, 8) == "-" && num.slice(8).length == 4) {
				let test = num.slice(0, 3) + num.slice(4, 7) + num.slice(8)
				return isNaN(test)
			} else {
				return true
			}
		}
		
		function simulateLoading() {
		    console.log('작동됨');
		    var loadingSpinner = document.querySelector(".loading-wrap");
		    var loadingMessage = document.getElementById("loadingMessage");

		    // 로딩 시작
		    loadingSpinner.style.display = "flex";
		    loadingMessage.style.color = "white";

		    // 1초 뒤에 로딩 완료
		    setTimeout(function () {
		    loadingSpinner.style.display = "none";
		    }, 5000);
		}
	</script>
</body>

</html>
