<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezotex.returns.mappers.ReturnsMapper">
	<select id="getDeliveryList">
		SELECT
		D.DELIVERY_CODE,
		MAX(D.COMPANY_SE) AS
		COMPANY_SE,
		MAX(D.PRODUCT_ORDER_CODE) AS PRODUCT_ORDER_CODE,
		MAX(D.MTRIL_ORDER_CODE) AS MTRIL_ORDER_CODE,
		MAX(D.COMPANY_CODE) AS
		COMPANY_CODE,
		MAX(D.COMPANY_NAME) AS COMPANY_NAME,
		MAX(D.ORDER_DATE) AS
		ORDER_DATE,
		MAX(D.DEDT) AS DEDT,
		MAX(D.STORAGE_NAME) AS STORAGE_NAME,
		MAX(D.DEDT_ADDRESS) AS DEDT_ADDRESS,
		MAX(D.DELIVERY_STATUS) AS
		DELIVERY_STATUS,
		MAX(D.REMARK) AS REMARK,
		MAX(D.CHARGER_CODE) AS
		CHARGER_CODE,
		MAX(D.CHARGER_NAME) AS CHARGER_NAME,
		MAX(D.RGSDE) AS
		RGSDE,
		MAX(D.UPDDE) AS UPDDE,
		MAX(D.TIME) AS TIME,
		SUM(DD.DELIVERY_QY) AS
		TOTAL_DELIVERY_QY,
		SUM(DD.PRICE) AS TOTAL_PRICE,
		MAX(P.PRODUCT_NAME) AS
		PRODUCT_NAME,
		MAX(P.PRODUCT_TYPE) AS PRODUCT_TYPE
		FROM DELIVERY D
		JOIN
		DELIVERY_DETAILS DD
		ON D.DELIVERY_CODE = DD.DELIVERY_CODE
		JOIN
		PRODUCT_INFO P
		ON DD.PRODUCT_CODE = P.PRODUCT_CODE
		WHERE P.PRODUCT_TYPE
		= 'PT02'
		GROUP BY D.DELIVERY_CODE
		ORDER BY D.DELIVERY_CODE DESC
	</select>
	<select id="getDeliProduct"
		resultType="DeliveryDetailsReturnsDTO">
		SELECT P.PRODUCT_NAME ,
		D.PRODUCT_COLOR ,
		D.PRODUCT_SIZE ,
		MAX(P.PRODUCT_TYPE) AS PRODUCT_TYPE,
		MAX(P.VL) AS VL,
		MAX(P.IMG) AS IMG,
		MAX(P.UNIT_NAME) AS UNIT_NAME,
		MAX(D.DELIVERY_PRODUCT_NO) AS DELIVERY_PRODUCT_NO,
		MAX(D.DELIVERY_CODE) AS DELIVERY_CODE,
		MAX(D.PRODUCT_CODE) AS PRODUCT_CODE,
		MAX(D.PRODUCT_LOT) AS PRODUCT_LOT,
		MAX(D.REQUEST_QY) AS REQUEST_QY,
		MAX(D.DELIVERY_QY) AS DELIVERY_QY,
		MAX(D.UNIT_PRICE) AS UNIT_PRICE,
		MAX(D.PRODUCT_SE) AS PRODUCT_SE,
		MAX(D.ORDER_CODE) AS ORDER_CODE,
		MAX(D.PRICE) AS PRICE
		FROM DELIVERY_DETAILS D JOIN PRODUCT_INFO P
		ON
		D.PRODUCT_CODE =
		P.PRODUCT_CODE
		WHERE D.DELIVERY_CODE = #{deliveryCode}
		AND
		P.PRODUCT_TYPE = 'PT02'
		GROUP BY
		P.PRODUCT_NAME,D.PRODUCT_COLOR,D.PRODUCT_SIZE
	</select>
</mapper>