<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezotex.standard.mappers.ProductMapper">
	
	<select id="listLclas">
		SELECT DISTINCT(lclas)
		FROM   product_category c JOIN product_info p 
		  ON   p.product_code = c.product_code 
		 AND   p.product_type = #{productType}
	</select>
	
	<select id="listSclasByLclas">
		SELECT DISTINCT(sclas)
		FROM   product_category
		WHERE  lclas = #{lclas}
	</select>
	
</mapper>