<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>이조텍스SCM</title>
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<style>
		#container {
			height: 1000px;
		}
		.order-info{
			flex-grow: 0 !important;
			margin-top: 0;
			margin-left: 30px;
		}
		.read-bar div:nth-of-type(1) {
			margin-left: 40px;
		}
		.read-bar div {
			margin-top: 10px;
		}
		.read-bar input[type=text] {
			width: 180px !important;
		}
		.read-bar input[type=text]:nth-of-type(1) {
			margin-right: 30px;
		}
		.read-bar span::nth-of-type(2) {
			margin-left: 20px;
		}
		.btn-secondary {
			background-color: #b1b1b1;
		}
		.info-section>div{
			width: 600px;
		}
		.completeBtn-section {
			width: 807px;
			display: flex;
			justify-content: center;
		}
		.completeBtn-section button {
			margin: 10px;
		}
		.dash {
			line-height: 1.9;
			margin-left: 2px;
			margin-right: 2px;
		}
		/*여기까지 거의 공용*/
		.read-bar {
			width: 807px;
			height: 130px;
			margin-bottom: 20px !important;
		}
		.info-unit span{
			width: 100px;
		}
		.read-memo {
			width: 500px;
			height: 100px;
		}
		.memo-span {
			padding-left: 10px;
			margin-right: 20px;
		}
		.order-info b {
			margin-bottom: 20px;
		}
		.summary-info {
			margin-top: 30px;
		}
		.packing-info {
			border: 1px solid #eeeeee;
			border-radius: 13px;
			flex-grow: 0!important
		}
		.storage {
			border-top-left-radius: 13px;
    		border-top-right-radius: 13px;
			border-bottom: 1px solid #eeeeee;
		}
		.packing-table table tr{
			background-color: #f9f9f9 !important;
		}
		.packing-table table td{
			border: 1px solid #eeeeee !important;
		}
		.bg-custom-gray {
			background-color: #f9f9f9 !important;
			text-align: center;
		}
	</style>
</head>
<body>
	<h3 class="fs-3 fw-bold">| 포장등록</h3>
	<div id="container row" style="display: flex;">
		<div class="col-6">			
			<div class="p-3 mb-2 bg-secondary text-dark card search-bar">
				<div>
					<div class="row search-bar">
						 <p class="fs-5 fw-bolder mb-3">검색</p>	
				         <label for="companyCode" class="col-4 col-sm-2 col-lg-2 d-flex mb-2 align-items-center justify-content-center wbreak">제품코드</label>
				         <div class="col-8 col-sm-4 col-lg-3 d-flex align-items-center mb-2">
				           <input type="text" class="form-control search-product-code">
				         </div>
				         <label for="amountMin" class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center text-center wbreak">발주일</label>
	                     <div class="col-8 col-sm-10 col-lg-5 d-flex align-items-center justify-content-start mb-2 pe-0 ps-lg-4">
	                       <input type="date" class="form-control search-date-start">-
	                       <input type="date" class="form-control search-date-end">
	                     </div>	
	                     <label for="companyCode" class="col-4 col-sm-2 col-lg-2 d-flex mb-2 align-items-center justify-content-center wbreak">제품명</label>
				         <div class="col-8 col-sm-4 col-lg-3 d-flex align-items-center mb-2">
				           <input type="text" class="form-control search-product-name">
				         </div>
				         <label for="amountMin" class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center text-center wbreak">납기일</label>
	                     <div class="col-8 col-sm-10 col-lg-5 d-flex align-items-center justify-content-start mb-2 pe-0 ps-lg-4">
	                       <input type="date" class="form-control search-dedt-start">-
	                       <input type="date" class="form-control search-dedt-end">
	                     </div>	
				         <label for="companyCode" class="col-4 col-sm-2 col-lg-2 d-flex mb-2 align-items-center justify-content-center wbreak">담당자코드</label>
				         <div class="col-8 col-sm-4 col-lg-3 d-flex align-items-center mb-2">
				           <input type="text" class="form-control search-delivery-chargerCode">
				         </div>	
				         <label for="companyCode" class="col-4 col-sm-2 col-lg-1 d-flex mb-2 align-items-center justify-content-center wbreak">납품코드</label>
				         <div class="col-8 col-sm-10 col-lg-5 d-flex align-items-center justify-content-start mb-2 pe-0 ps-lg-4">
				           <input type="text" class="form-control search-delivery-code">
				         </div>	
				         <label for="companyCode" class="col-4 col-sm-2 col-lg-2 d-flex mb-2 align-items-center justify-content-center wbreak">담당자</label>
				         <div class="col-8 col-sm-4 col-lg-3 d-flex align-items-center mb-2">
				           <input type="text" class="form-control search-delivery-charger">
				         </div>	
				         <div class="col-8 col-sm-2 col-lg-6 d-flex mb-2 align-items-center justify-content-end wbreak p-0">
					        <button type="button" onclick="searchOrderList()" class="btn btn-warning mag-glass-btn ml-4 ms-3 me-2"><i class="fa-solid fa-magnifying-glass icon-left" style="color: #ffffff;"></i></button>
				            <button type="reset" onclick="resetCondition()" class="btn btn-secondary mag-glass-btn"><i class="fa-solid fa-repeat icon-left" style="color: #ffffff;"></i></button>
				         </div>
					</div>
				</div>
			</div>
			<div class="card card-body mt-3 order-list">
				<p class="fs-5 fw-bolder mb-3">목록</p>
				<!-- 검색결과 목록 -->
				<div id="deliveryListGrid"></div>
			</div>
		</div>
		
		
		<div class="col-6 mw-100 card card-body order-info">		
			<p class="fs-5 fw-bolder mb-3">제품 목록</p>
			<!-- 제품 리스트 -->
			<div id="productListGrid"></div>
			<!-- 제품 상세 수량 피벗 -->
			<div id="productDetails"></div>
			<!-- 출고 로트 -->
			<div id="productLot"></div>
			
			<p class="fs-5 fw-bolder mb-3">포장 정보</p>
			<div class="packing-info">
				<div class="storage">
				    <div class="d-flex align-items-center bg-secondary p-2 gap-2 w-100">	
				        <label for="amountMin" class='d-block'>출고창고</label>			
				        <select class="form-control w-auto">
				            <option value=""></option>
				        </select>				
				        
				        <div class="d-flex align-items-center ms-auto gap-2">
				            <label for="amountMin" class="wbreak">작성자 :</label>
				            <input type="text" class="form-control form-control-sm chargerName w-25 text-center" style="width: 100px !important" readOnly>
				        </div>
				    </div>
				</div>

				
				<table class="table packing-table">
					<tbody>
						<tr class="bg-custom-gray">
							<td>상자사이즈</td>
							<td>대</td>
							<td>중</td>
							<td>소</td>
							<td>합계</td>
						</tr>
						<tr class="boxQy">
							<td>출고수량</td>
							<td><input type="number" class="form-control big-box"></td>
							<td><input type="number" class="form-control middle-box"></td>
							<td><input type="number" class="form-control small-box"></td>
							<td><input type="number" class="form-control boxQySum" readOnly></td>
						</tr>
						
					</tbody>
				</table>
			</div>
			
			<div class="completeBtn-section">
				<!-- 배송 번호 -->
				<input type="hidden" class="deliveryCode">
				<button type="button" class="btn btn-primary openIsRegist" data-bs-toggle="modal">
		    		등록
		  		</button>
				<button class="btn btn-secondary resetBtn">초기화</button>
				
			</div>
		</div>
	</div>
	
		<!-- 등록 확인 모달 -->
	<div class="modal fade" id="registModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="height: 20px;">
					<h5 class="modal-title" id="exampleModalLabel"
						style="font-size: 15px;">등록 확인</h5>
				</div>
				<div class="modal-body"
					style="text-align: center; padding: 44px; padding-bottom: 10px;">
					<div>
						<img src="/images/modal/regist.png" alt="등록확인이미지"
							style="width: 84px; height: 84px;">
					</div>
					<div>
						<p style="margin-top: 12px; font-size: 21px; font-weight: bold;">알림</p>
						<p>내용을 등록하시겠습니까?</p>
					</div>
				</div>
				<div class="modal-footer regist"
					style="display: flex; justify-content: center; border-top: none; padding-bottom: 45px;">
					<!-- -->
					<button type="button"
						class="btn btn-primary packingRegistBtn"
						data-bs-dismiss="modal">등록</button>
					<button type="button" class="btn btn-secondary denyBtn"
						data-bs-dismiss="modal">취소</button>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		function numberFormat(value){ 
			
			if(value == 0) {
				return value;
			} else if(value == null || value == '') {
				return null;
			} else {
				return Number(value).toLocaleString();
			}
	
		};
		
		
		addEventListener("DOMContentLoaded", () => {
			setTimeout(() => {
				//바로넣으니 undifined로 나와서 살짝 지연해서 입력.
				document.querySelector(".chargerName").value = session_user_name;
			}, "300");
			
		});
	
		//상자 정보 객체
		let boxInfo = null;
		
		fetch(`/delivery/packingSTDInfo`)
		.then(rep => rep.json())
		.then(res => { 
			console.log(res);
			let html = ''
			for(let i=0; i<res.storage.length; i++) {
				html += '<option value="' + res.storage[i] +'">'+ res.storage[i] +'</option>';
			}
			document.querySelector(".storage select").innerHTML = html;
			
			//박스 정보
			boxInfo = res.box;
		})
		
			    //출고목록 검색 함수
        function searchOrderList() {
        	deliveryListGrid.readData(1, {
        		deliveryCode: document.querySelector('.search-delivery-code').value,
        		deliveryCharger: document.querySelector('.search-delivery-charger').value,
        		deliveryChargerCode: document.querySelector('.search-delivery-chargerCode').value,
        		orderDateStart: document.querySelector('.search-date-start').value,
        		orderDateEnd: document.querySelector('.search-date-end').value,
        		dedtStart: document.querySelector('.search-dedt-start').value,
        		dedtEnd: document.querySelector('.search-dedt-end').value,
        		productCode: document.querySelector('.search-product-code').value,
        		productName: document.querySelector('.search-product-name').value,
        		deliveryStatus: 'DS01'
        	}, false);	//안에 값 넣으면 됨 파라미터 세개 (1:몊번째 페이지 불러올 것인가, 2:검색조건, 3:true=기존데이터 초기화)
        }
		
		
		//검색 엔터 이벤트
		document.querySelectorAll(".search-bar input").forEach((ele) => {
			ele.addEventListener('keydown', (ele) => {				
				if (window.event.keyCode == 13) {
					searchOrderList();
			    }
			})
		})
		
        //검색 조건 삭제
        function resetCondition() {
    		document.querySelectorAll('.search-bar input').forEach((e) => {
    			e.value = null;
    		})
    		searchOrderList()
        }
		
		//출고 목록
		const dataSource = {
		  	      api: {
		  	          readData: { url: '/delivery/getPackingList' , method: 'GET' },
		  	        },
		  	      contentType: 'application/json',
		  	    };  

        const deliveryListGrid = new Grid({
            el: document.getElementById('deliveryListGrid'),
            rowHeaders: ['rowNum'],
            pageOptions: {
                useClient: false,    //데이터를 한번에 다 가져옴. 나중에 false로 할 예정
                perPage: 15
            },
            bodyHeight: 619,
            columnOptions: {
  	          resizable: true
  	      	},
			scrollY: true,
			scrollX: false,
            columns: [
				{ header: "납품코드", name: "deliveryCode", sortable: true, align: 'center', minWidth: 110},
				{ header: "업체코드", name: "companyCode", sortable: true, align: 'center', minWidth: 80},
				{ header: "업체명", name: "company", sortable: true, align: 'left', minWidth: 117,
                	renderer: {
			            styles: {
			              fontWeight: 'bold'
			            }
			          }},
				{ header: "요약", name: "summary", align: 'left', minWidth: 167, ellipsis:true},			
				{ header: "등록일", name: "registDate", sortable: true, align: 'center', minWidth: 80},
				{ header: "납기일", name: "dedt", sortable: true, align: 'center', minWidth: 80},
				{ header: "비고", name: "remark", hidden: true},
				{ header: "출고담당자", name: "deliveryChargerCode", hidden: true},
				{ header: "출고담당자코드", name: "deliveryCharger", hidden: true},
				
            ],
            data: dataSource,
			showDummyRows: true	//더미로우 추가
        });
		
		//제품 목록
		const productListGrid = new Grid({
			el: document.getElementById('productListGrid'),
			bodyHeight: 150,
			scrollY: true,
			scrollX: true,
			rowHeaders: ['rowNum'],
			columns: [
				{ header: "출고번호", name: "deliveryCode", hidden: true},
				{ header: "제품코드", name: "productCode", align: 'center'},
				{ header: "제품명", name: "productName", align: 'left'},
				{ header: "출고량합계", name: "qySum", align: 'center', formatter: row => numberFormat(row.value)},
				{ header: "부피", name: "vl", hidden: true},
			]
		});
		
		//제품 출고 상세
		const productDetails = new Grid({
			el: document.getElementById('productDetails'),
			scrollY: true,
		    scrollX: true,
		    bodyHeight: 200,
		    header: {
		        	height: 70,
		            complexColumns: [
		              {
		                header: 'S',
		                name: 'stest',
		                childNames: ['sizeS', 's']
		              },
		              {
			             header: 'M',
			             name: 'mtest',
			             childNames: ['sizeM', 'm']
			          },
			          {
				         header: 'L',
				         name: 'ltest',
				         childNames: ['sizeL', 'l']
				      },
				      {
					      header: 'XL',
					      name: 'xltest',
					      childNames: ['sizeXl', 'xl']
					  }
		             ]},
		        columns: [
		            { header: "색상/사이즈", name: "productColor", align: "center", width:80 },
		            { header: "출고수량", name: "sizeS", align: "center", editor: "text"},
		            { header: "출고수량", name: "sizeM", align: "center", editor: "text"},
		            { header: "출고수량", name: "sizeL", align: "center", editor: "text"},
		            { header: "출고수량", name: "sizeXl", align: "center", editor: "text"},
		        ],
			  columnOptions: {
			        frozenCount: 1,
			        frozenBorderWidth: 1,
			        minWidth: 100
			      }
		  	  });  
		
		//출고 로트 수량
		const productLot = new Grid({
			el: document.getElementById('productLot'),
			bodyHeight: 100,
			scrollY: true,
			scrollX: true,
			columns: [
				{ header: "로트", name: "productLot", align: "center"},
				{ header: "출고수량", name: "deliveryQy", align: "center", formatter: row => numberFormat(row.value)}
			]
		});
		
		

	    
        //출고건 선택 저장 변수
		let lastClicked = null;
        
        //제품 부피 총합 변수
	    let allProductVlSum = 0;
	    
	  	//박스 수량
		let lBox = 0;
		let mBox = 0;
		let sBox = 0;
		let totalBoxQy = 0;
		
        deliveryListGrid.on('focusChange', ev => {
			deliveryListGrid.removeRowClassName(lastClicked, 'bg-blue'); // 이전 선택 행 배경색 삭제
			deliveryListGrid.addRowClassName(ev.rowKey, 'bg-blue'); // 선택된 행 배경색 추가
			lastClicked = ev.rowKey; // 선택된 행 기억
			
			//그리드 초기화
			productDetails.clear();
			productLot.clear();
			
			//상자 수량 기본값
			document.querySelector(".big-box").value = 0;
			document.querySelector(".middle-box").value = 0;
			document.querySelector(".small-box").value = 0;
			
			//선택행 데이터
			let data = deliveryListGrid.getRow(ev.rowKey);
			console.log('출고건 선택:', data);
			
			//배송번호
			document.querySelector(".deliveryCode").value = data.deliveryCode;			
			
			fetch(`/delivery/deliveryProductList?deliveryCode=${data.deliveryCode}`)
    		.then(rep => rep.json())
    		.then(res => { 
    			console.log('출고건 선택 통신 결과: ', res);
    			productListGrid.resetData(res);
    			
    			//부피 총 합을 구할 변수
    			let vlSum = 0;
    			//부피 총합 구하기
    			for(let i=0; i<res.length; i++) {
    				vlSum += res[i].vl * res[i].qySum;
    			}
    			
    			//처음 값이 부피의 총 합이 할당됨 안바뀌는 값
    			allProductVlSum = vlSum;

    			console.log('vlSum', vlSum);
    			
    			/*
   					원래 있던 자리.
   				*/
   				
   				for(let i=0; i<boxInfo.length; i++) {
   					if(vlSum == 0) countinue; //박스 수량이 딱 떨어질 경우 넘어감
   					switch(i) {
						case 0 : 
								 lBox = Math.floor(vlSum / boxInfo[i].boxVl);
								 document.querySelector(".big-box").value = lBox;
								 vlSum = allProductVlSum % boxInfo[i].boxVl;
								 console.log('i는 0', vlSum);
							break;
						case 1 : 
								 mBox = Math.floor(vlSum / boxInfo[i].boxVl);
								 document.querySelector(".middle-box").value = mBox;
								 vlSum = (allProductVlSum / boxInfo[i-1].boxVl) % boxInfo[i].boxVl;
								 console.log('i는 0', vlSum);
							break;
						case 2 : 
								 sBox = Math.ceil(vlSum / boxInfo[i].boxVl);
								 document.querySelector(".small-box").value = sBox;
								 vlSum = ((allProductVlSum / boxInfo[i-2].boxVl) / boxInfo[i-1].boxVl) % boxInfo[i].boxVl;
								 console.log('i는 0', vlSum);
								break;
				        default:
				            break;	
					}
					
				}
   				
   				lBox = document.querySelector(".big-box").value;
   				mBox = document.querySelector(".middle-box").value;
   				sBox = document.querySelector(".small-box").value;
   				
   				//박스 수량 업데이트
   				document.querySelector(".boxQySum").value = Number(document.querySelector(".big-box").value) + Number(document.querySelector(".middle-box").value) + Number(document.querySelector(".small-box").value);
  				
    		})
        })
        
        //제품 선택 저장 변수
        let lastClickedProduct = null;
        //deliveryProductDetails
        productListGrid.on('focusChange', ev => {
        	productListGrid.removeRowClassName(lastClickedProduct, 'bg-blue'); // 이전 선택 행 배경색 삭제
        	productListGrid.addRowClassName(ev.rowKey, 'bg-blue'); // 선택된 행 배경색 추가
        	lastClickedProduct = ev.rowKey; // 선택된 행 기억
			let data = productListGrid.getRow(ev.rowKey);
			console.log('제품 선택:', data);
			//deliveryCode, productCode
			
			fetch(`/delivery/deliveryProductDetails?deliveryCode=${data.deliveryCode}&productCode=${data.productCode}`)
    			.then(rep => rep.json())
    			.then(res => { 
    				console.log('제품 사이즈 가져오기 통신 결과: ', res);
    				//사이즈 정보 담을 배열
    	            let products = [];
    	    		//사이즈 컬럼(그리드 헤더 - 제일 위)
    	    		let size = [];
    	            //색상, 사이즈 컬럼
    				let color = [{ header: "색상/사이즈", name: "PRODUCT_COLOR", align: "center", minWidth: 80 }];
    	            
    	            let deliveryDetails = res;
    	            for(let i=0; i<deliveryDetails.optionList.length; i++) {
    	            	let sizeCode = deliveryDetails.optionList[i].showSize;
    	            	
    	            	size.push({
    		                header: sizeCode,
    		                name: 'DE' + sizeCode,
    		                minWidth: 150
    		             })
    		             
    		             color.push({ header: sizeCode, name: 'DE'+sizeCode, align: "right", minWidth: 60, formatter:(row)=>numberFormat(row.value)})
    	            }
    	            //이 작업없으면 중복해서 계속 들어감. 한번만 들어가도록 하기
    	            for(let i=0; i<deliveryDetails.qyList.length; i++) {    
    	            	//선택한 제품코드와 객체 배열 안에 있는 제품 코드가 같으면 배열에 넣고, 화면에 출력함.
    	            	if(data.productCode == deliveryDetails.qyList[i].PRODUCT_CODE) {	
    	            		//서버에서 가져온 데이터 + 제품 이름 같이 넣었음.
    						products.push({...deliveryDetails.qyList[i], productName : data.productName, deliveryCode: data.deliveryCode});
    						
    	            	}
    	            }
    				
    				productDetails.setColumns(color);
    				productDetails.resetData(products);
    			})
			
        })
        
        //제품 상세 선택 저장 변수
        let lastClickedProductDetail = null;
        productDetails.on('focusChange', ev => {
        	productDetails.removeRowClassName(lastClickedProductDetail, 'bg-blue'); // 이전 선택 행 배경색 삭제
        	productDetails.addRowClassName(ev.rowKey, 'bg-blue'); // 선택된 행 배경색 추가
        	lastClickedProductDetail = ev.rowKey; // 선택된 행 기억
			let data = productDetails.getRow(ev.rowKey);
			console.log('제품 상세 선택:', data);
			console.log("선택한 컬럼(검색할 사이즈)",ev.columnName);
			
			//사용자가 선택한 사이즈
			let targetSize = getSizeCommonCode(ev.columnName.replace("DE", ""));
			
			//출고번호(data.deliveryCode), 제품코드(data.PRODUCT_CODE), 색상(data.PRODUCT_COLOR), 사이즈(ev.columnName)
			
			
			fetch(`/delivery/deliveryLot?deliveryCode=${data.deliveryCode}&productCode=${data.PRODUCT_CODE}&productColor=${data.PRODUCT_COLOR}&productSize=${targetSize}`)
    			.then(rep => rep.json())
    			.then(res => {
    				console.log(res);
    				productLot.resetData(res);
    			})
			
        })
        
        document.querySelectorAll(".boxQy input").forEach(ele => 
        	ele.addEventListener("change", (event) => {
        		console.log('작동');
        		//상자 총 합계 화면에 출력
   				document.querySelector(".boxQySum").value = Number(document.querySelector(".big-box").value) + Number(document.querySelector(".middle-box").value) + Number(document.querySelector(".small-box").value);
        	})
        );
		
		//서버로 보내기
		document.querySelector('.openIsRegist').addEventListener("click", () => {
			let registModal = new bootstrap.Modal(document.getElementById("registModal"));
    		registModal.show();

		})
		
		document.querySelector('.packingRegistBtn').addEventListener('click', () => {
			//상자 정보 객체
			let boxQyArr = [{size: "대", qy: Number(lBox)}, 
				 {size: "중", qy: Number(mBox)}, 
				 {size: "소", qy: Number(sBox)}];
			
			//서버로 보낼 객체 배열
			let sendArr = [];
			
			//객체 배열 만들기
			for(let i=0; i<3; i++) {
				if(boxQyArr[i] != 0) {					
					sendArr.push({boxSize: boxQyArr[i].size, 
								  deliveryCode: document.querySelector(".deliveryCode").value,
								  boxQy : boxQyArr[i].qy,
								  storageName : document.querySelector(".storage select").value,
								  chargerName : session_user_name,
								  chargerCode : session_user_code
									  });
				}
			}	
			
			console.log("서버 보내기 전 배열", sendArr);

			loading(400);
			//포장등록
			const response = fetch('/delivery/packingInsert', {
                method: 'post',
                headers: {
                    "Content-Type": "application/json",
                    ...headers
                },
                body: JSON.stringify(sendArr)
            })
            .then(res => res.json())
            .then(result => {
            	console.log('서버 통신결과:', result);
            	if(result.result == 'success') {
						successToast("작업이 완료되었습니다.");
            		}
            	})
		}) 
        
		//입력값 초기화
        document.querySelector('.resetBtn').addEventListener("click", () => {
        	
        	console.log('리셋버튼 작동');
        	
        	document.querySelector(".big-box").value = Number(lBox);
        	document.querySelector(".middle-box").value = Number(mBox);
        	document.querySelector(".small-box").value = Number(sBox);
        	document.querySelector(".boxQySum").value = (Number(lBox) + Number(mBox) + Number(sBox));
        })
	</script>
</body>
</html>