<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content">
	<head>
		<meta charset="UTF-8">
		<title>이조텍스SCM</title>
	</head>
	<body>
		<h3 class="fs-3 fw-bold">| 자재명세서 관리</h3>
		<div class="row">
			<div class="col">
				<div class="card card-body mt-3">
					<p class="fs-5 fw-bolder mb-3">제품 목록</p>
					<div id="grid"></div>
				</div>
			</div>
			<div class="col">
				<div class="card card-body mt-3">
					aaaa
				</div>
			</div>
			
		</div>
	</body>
	
	<script>
		// tui grid 출력
		const data = {
			api: {
				readData: {url: 'http://localhost/supply/bomList', method: 'GET'} // RestController에서 json 데이터 읽어올 수 있음.
			},
			contentType : 'application/json' // 데이터 전달 시 인코딩 필요
		};
	  console.log(data);
		const grid = new Grid({
	    el: document.getElementById('grid'), // 해당 위치에 그리드 출력
	    data: data, // data 안에 pagination, contents 객체 필요.
	    columns: [
        { header: 'No', name: 'rno' },
        { header: '대분류', name: 'lclas' },
        { header: '소분류', name: 'sclas' },
        { header: '제품코드', name: 'productCode' },
        { header: '제품명', name: 'productName' },
        { header: '상태', name: 'status' },
        { header: '', name: '' },
	    ],
	    pageOptions: {
        useClient: true, // 페이징을 위해 필요
        perPage: 10
      }
		});
	</script>
</html>