<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content">
	<head>
		<meta charset="UTF-8">
		<title>이조텍스SCM</title>
	</head>
	<body>
		<h3 class="fs-3 fw-bold">| 자재명세서 관리</h3>
		<div class="row">
			<div class="col">
				<div class="card card-body mt-3">
					<p class="fs-5 fw-bolder mb-4">제품 목록</p>
					<div class="row me-2">
						<label class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">대분류</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<select class="form-control" id="lclas" name="lclas"></select>
						</div>
						<label class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">소분류</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<select class="form-control" id="sclas" name="sclas"></select>
						</div>
						<label for="productCode" class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">제품코드</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<input type="text" class="form-control" id="productCode" name="productCode" placeholder="찾기">
						</div>
						<label for="productName" class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">제품명</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<input type="text" class="form-control" id="productName" name="productName">
						</div>
					</div>
					<div class="d-flex justify-content-center mt-2 mb-4">
						<button class="btn btn-secondary mag-glass-btn btn-sm me-2"><i class="fa-solid fa-magnifying-glass icon-left-sm" style="color: #646464;"></i></button>
						<button class="btn btn-warning mag-glass-btn btn-sm"><i class="fa-solid fa-repeat icon-left-sm" style="color: #ffffff;"></i></button>
					</div>
					<div id="grid"></div>
				</div>
			</div>
			<div class="col">
				<div class="card card-body mt-3">
					aaaa
				</div>
			</div>
			
		</div>
	</body>
	
	<script>
		// tui grid 출력
		const data = {
			api: {
				readData: {url: 'http://localhost/supply/bomList', method: 'GET'} // RestController에서 json 데이터 읽어올 수 있음.
			},
			contentType : 'application/json' // 데이터 전달 시 인코딩 필요
		};
	  	
		const grid = new Grid({
		    el: document.getElementById('grid'), // 해당 위치에 그리드 출력
		    data: data, // data 안에 pagination, contents 객체 필요.
		    columns: [
		        { header: '제품코드', name: 'PRODUCT_CODE', width: 100, sortable: true },
		        { header: '제품명', name: 'PRODUCT_NAME', whiteSpace: 'pre-line', sortable: true },
		        { header: '상태', name: 'STATUS', width: 100, sortable: true, align: 'center',
		          renderer: {
	        	    styles: {
	        	      fontWeight: 'bold',
	        	      color: props => props.value == '완료' ? 'gray' : 'orange'
	        	    }
		          }
		        }
		    ],
		    pageOptions: {
		        useClient: true, // 페이징을 위해 필요
		        perPage: 10
	      	},
	      	scrollX: false, // 가로 스크롤
	      	scrollY: false, // 세로 스크롤
	      	summary: {
	      		height: 40,
                position: 'bottom', // or 'top'
                columnContent: {
                	PRODUCT_CODE: { // 컬럼명
                        template: (valueMap) => {
                            return `총 ${valueMap.cnt}건`
                        }
                    }
                }
            },
		});
		
		// 선택된 행 정보 가져오기
		grid.on('focusChange', ev => {
			console.log(ev);
			console.log(grid.getRow(ev.rowKey));
			let prdCode = grid.getValue(ev.rowKey, 'productCode');
			grid.addRowClassName(ev.rowKey, 'bg-blue');
			grid.removeRowClassName(ev.prevRowKey, 'bg-blue');
		});
	</script>
</html>