<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content">
	<head>
		<meta charset="UTF-8">
		<title>이조텍스SCM</title>
	</head>
	<body>
		<h3 class="fs-3 fw-bold">| 자재명세서 관리</h3>
		<div class="row">
			<div class="col">
				<div class="card card-body mt-3">
					<p class="fs-5 fw-bolder">제품 목록</p>
					<table class="table mt-3">
						<thead class="table-light text-center">
							<tr>
								<th>No</th>
								<th>대분류</th>
								<th>필드3</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>...</td>
								<td>...</td>
								<td>...</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col">
				<div class="card card-body mt-3">
					aaaa
				</div>
			</div>
			
		</div>
	</body>
</html>