<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content">
	<head>
		<meta charset="UTF-8">
		<title>이조텍스SCM</title>
	</head>
	<body>
		<h3 class="fs-3 fw-bold">| 자재명세서 관리</h3>
		<div class="row">
			<div class="col">
				<form class="card card-body mt-3" th:fragment="productList">
					<p class="fs-5 fw-bolder mb-4">제품 목록</p>
					
					<!-- 제품 검색 조건 -->
					<div class="row me-2">
						<label for="lclas" class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">대분류</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<select class="form-control" id="lclas" name="lclas">
								<option value="null">전체</option>
								<option th:each="lclas : ${prdLclasList}" th:value="${lclas}">[[ ${lclas} ]]</option>
							</select>
						</div>
						<label for="sclas" class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">소분류</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<select class="form-control" id="sclas" name="sclas">
								<option value="null">전체</option>
							</select>
						</div>
						
						<label for="productCode" class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">제품코드</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<input type="text" class="form-control" id="productCode" name="productCode" placeholder="찾기" value="">
						</div>
						<label for="productName" class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">제품명</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<input type="text" class="form-control" id="productName" name="productName">
						</div>
					</div>
					
					<div class="d-flex justify-content-center mt-2 mb-4">
						<button type="button" id="prdSearchBtn" class="btn btn-secondary mag-glass-btn me-2"><i class="fa-solid fa-magnifying-glass icon-left" style="color: #646464;"></i></button>
						<button type="reset" class="btn btn-warning mag-glass-btn"><i class="fa-solid fa-repeat icon-left" style="color: #ffffff;"></i></button>
					</div>
					
					<div id="prdGrid"></div>
				</form>
			</div>
			
			<div class="col">
				<div class="card card-body mt-3">
					
					<!-- 제품 상세 정보 및 BOM 정보 -->
					<div class="d-flex align-items-top">
							<p class="fs-5 fw-bolder mb-4 me-3">선택한 제품</p>
							<label style="font-size: 10pt" for="remember">입력항목 기억하기</label><input type="checkbox" id="remember" class="ms-1 mb-4">
					</div>
					<div class="row">
						<label class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">제품코드</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<input type="text" class="form-control" id="selectedPrdCode" readonly>
						</div>
						<label class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">제품명</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<input type="text" class="form-control" id="selectedPrdName" readonly>
						</div>
						
						<label for="color" class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">색상</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<select class="form-control" id="color" name="color">
								<option value="null">전체</option>
							</select>
						</div>
						<label for="size" class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">사이즈</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<select class="form-control" id="size" name="size">
								<option value="null">전체</option>
							</select>
						</div>
					</div>
						
					<hr>
					<!-- BOM 선택 -->
					<p class="fs-5 fw-bolder mb-4">자재 목록</p>
					<form class="row">
						<label for="mtr-lclas" class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">대분류</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<select class="form-control" id="mtr-lclas" name="mtr-lclas">
								<option value="null">전체</option>
								<option th:each="lclas : ${mtrLclasList}" th:value="${lclas}">[[ ${lclas} ]]</option>
							</select>
						</div>
						<label for="mtr-sclas" class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">소분류</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<select class="form-control" id="mtr-sclas" name="mtr-sclas">
								<option value="null">전체</option>
							</select>
						</div>
						
						<label for="mtrilCode" class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">자재코드</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<input type="text" class="form-control" id="mtrilCode" name="mtrilCode">
						</div>
						<label for="mtrilName" class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">자재명</label>
						<div class="col-8 col-lg-4 d-flex mb-2">
							<input type="text" class="form-control" id="mtrilName" name="mtrilName">
						</div>
						
						<div class="d-flex justify-content-center mt-2 mb-4">
							<button type="button" id="mtrSearchBtn" class="btn btn-secondary mag-glass-btn btn-sm me-2"><i class="fa-solid fa-magnifying-glass icon-left-sm" style="color: #646464;"></i></button>
							<button type="reset" class="btn btn-warning mag-glass-btn btn-sm"><i class="fa-solid fa-repeat icon-left-sm" style="color: #ffffff;"></i></button>
						</div>
					</form>
					
					<div id="mtrGrid"></div>
						
					<hr style="height: 0.1px">
					<div class="row">
						<div class="col">
							<!-- 해당 제품의 BOM에 등록할 자재 -->
							<p class="fs-5 fw-bolder mb-4">선택한 자재</p>
							<div id="selectedMtrGrid"></div>
							
							<div class="row mt-3">
								<label for="chargerName" class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">담당자</label>
								<div class="col-8 col-lg-4 d-flex mb-2">
									<input type="text" class="form-control" id="chargerName" readonly>
								</div>
								<label for="rgsde" class="col-4 col-lg-2 d-flex mb-2 justify-content-center wbreak">최종등록일</label>
								<div class="col-8 col-lg-4 d-flex mb-2">
									<input type="text" class="form-control" id="rgsde" readonly>
								</div>
							</div>
							<div class="text-end">
								<button id="insertBtn" class="btn btn-primary">등록</button>
								<button class="btn btn-secondary m-2">초기화</button>
								<button class="btn btn-dark btn-sm">EXCEL 내보내기</button><!-- 아직 미구현 -->
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</body>
	
	<script src="/js/supply/BomManagement.js"></script>
</html>