<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content">
	<head>
		<meta charset="UTF-8">
		<title>이조텍스SCM</title>
		<style>
      .modal {
        display: block !important; /* Bootstrap 기본 동작 우회 (모달에서 데이터 안 보이는 현상) */
        visibility: hidden;
      }
      
      .modal.show {
        visibility: visible;
      }
      
      td.tui-grid-cell-summary[data-column-name="orderQy"],
      td.tui-grid-cell-summary[data-column-name="amount"] {
        text-align: right;
      }
    </style>
	</head>
	<body>
	  <div class="d-flex justify-content-between">
		<h3 class="fs-3 fw-bold m-0">| 발주내역 조회</h3>
		<button id="xlsx" class="btn btn-dark btn-sm">EXCEL 내보내기</button>
	  </div>
	  <!-- 타임리프 fragment 사용하여 html, js 통째로 복사 -->
	  <div th:replace="~{supply/materialOrderPlanList :: materialOrderPlanList(th)}"></div>
	  <script>
	    // 타임리프로 가져온 페이지에서 스크립트까지 오버라이딩하여 재사용
	    
	    /******************** Tui Grid ********************/ 
	    // 발주내역 그리드
	    planGrid = new Grid({
		    el: document.getElementById('planGrid'), // 해당 위치에 그리드 출력
		    data: { api: { readData: { url: '/mtr/orderList', method: 'GET' }, initialRequest: false } },
		    columns: [
		        { header: '발주코드', name: 'mtrilOrderCode', width: 120 },
		        { header: '업체코드', name: 'companyCode' },
		        { header: '업체명', name: 'companyName', width: 150 },
		        { header: '납기일', name: 'dueDate', formatter: (row) => dateFormatter(row.value) },
		        { header: '요약', name: 'summary', width: 150 },
		        { header: '발주량', name: 'orderQy', align: 'right',
		            formatter: (row) => numberFormatter(row.value) }, // 천단위 콤마 포맷 적용
	            { header: '발주금액', name: 'amount', align: 'right',
	                    formatter: (row) => numberFormatter(row.value) }, // 천단위 콤마 포맷 적용
		        { header: '비고', name: 'remark', whiteSpace: 'pre-line', width: 150 },
		        { header: '담당자', name: 'chargerName' },
		        { header: '등록일', name: 'rgsde', formatter: (row) => dateFormatter(row.value) },
		        { header: '상태', name: 'status', align: 'center',
		          renderer: {
		            styles: {
		              fontWeight: 'bold',
		              color: props => {
		            	  switch(props.value){
		            	     case '대기': return '#aaa';
		            	     case '출고완료': return '#4b96e6';
		            	     case '취소': return 'red';
		            	  }
		              }
		            }
		          }
		         },
		        { header: '', name: '', className: 'plan', renderer: { type: CustomBtnRender, options: {}}, width: 100, align: 'center' }
		    ],
		    rowHeaders: ['rowNum'],
		    showDummyRows: true,
		    bodyHeight: 400,
		    pageOptions: {
		        useClient: true, // 페이징을 위해 필요
		        perPage: 10
		    },
		    scrollX: false, // 가로 스크롤
		    scrollY: false, // 세로 스크롤
		    summary: {
		       height: 30,
		       position: 'bottom', // or 'top'
		       columnContent: {
		    	   mtrilOrderCode: { // 컬럼명
		               template: (valueMap) => {
		                   return `총 ${valueMap.cnt}건`
		               }
		           }
		       }
		   }
		});
	    
	    // 발주서 상세조회 그리드
	    planDetailGrid = new Grid({
	        el: document.getElementById('planDetailGrid'), // 해당 위치에 그리드 출력
	        data: [],
	        columns: [
	            { header: '자재코드', name: 'productCode', sortable: true },
	            { header: '자재명', name: 'productName', sortable: true },
	            { header: '색상', name: 'productColor', sortable: true, 
	            	formatter: (row) => row.value == 'null' ? '' : row.value },
	            { header: '발주량', name: 'orderQy', sortable: true, align: 'right', 
	            	formatter: (row) => numberFormatter(row.value) },
	            { header: '단위', name: 'unitName', sortable: true },
	            { header: '단가', name: 'unitPrice', sortable: true, align: 'right',
                    formatter: (row) => numberFormatter(row.value) },
	            { header: '금액', name: 'amount', sortable: true, align: 'right',
                    formatter: (row) => numberFormatter(row.value) },
	        ],
	        rowHeaders: ['rowNum'],
	        scrollX: false, // 가로 스크롤
	        scrollY: true, // 세로 스크롤
	        bodyHeight: 200,
	        summary: {
	             height: 30,
	             position: 'bottom', // or 'top'
	             columnContent: {
	                  productCode: { // 컬럼명
	                       template: (valueMap) => {
	                           return `총 ${numberFormatter(valueMap.cnt)}건`
	                       }
	                  },
	                  orderQy: { // 컬럼명
	                      template: (valueMap) => {
	                          return `합계: ${numberFormatter(valueMap.sum)}`
	                      }
	                 },
	                 amount: { // 컬럼명
	                     template: (valueMap) => {
	                         return `총 ${numberFormatter(valueMap.sum)}원`
	                     }
	                }
	             }
	        }
	    });
	    
	    /******************** Tui Grid 출력 ********************/
	    // 검색 적용
	    document.getElementById('orderSearchBtn').removeEventListener('click', orderSearch);
		document.getElementById('orderSearchBtn').addEventListener('click', () => {
		    let checkedStatus = document.querySelectorAll('input[name="status"]:checked');
		    checkedStatus = Array.from(checkedStatus).map(ele => ele.value); // 가상의 노드들을 복사하여 배열처리
		    
		    let dto = {
		        companyCode: compCodeBox.value,
		        companyName: compNameBox.value,
		        productCode: mtrCodeBox.value,
		        productName: mtrNameBox.value,
		        mtrilOrderCode: document.getElementById('orderPlanCode').value,
		        remark: document.getElementById('scRemark').value,
		        status: checkedStatus,
		        qyMin: document.getElementById('qyMin').value,
		        qyMax: document.getElementById('qyMax').value,
		        amountMin: document.getElementById('amountMin').value,
                amountMax: document.getElementById('amountMax').value,
		        dueMin: document.getElementById('dueMin').value,
		        dueMax: document.getElementById('dueMax').value,
		        rgsdeMin: document.getElementById('rgsdeMin').value,
		        rgsdeMax: document.getElementById('rgsdeMax').value,
		        chargerName: document.getElementById('scChargerName').value,        
		    };
		    loadPlanList(dto, '/mtr/orderList');
		});
		
		// 선택한 발주서의 상세내역 조회
		function loadPlanDetail(mtrilOrderCode){
		  fetch(`/mtr/orderInfo/${mtrilOrderCode}`)
		  .then(response => response.json())
		  .then(result => {
		    let data = result;
		    console.log('상세내역', data);
		    planDetailGrid.resetData(data);
		    
		    planDetailDiv.style.display = '';
		    $('#myModal').modal('show');
		    planDetailGrid.refreshLayout(); 
		  });
		}
		
		// 발주취소버튼 동작 (상태가 RS01='대기'인 발주서에만 표시)	
		document.addEventListener('DOMContentLoaded', () => {
			createModal({ 
		      type: 'delete',
		      header: '취소 확인',
		      content: '해당 발주내역을 취소하시겠습니까?',
		    	buttonText: '확인',
		      confirm: () => {
		    	  fetch('/mtr/mtrOrder', {
	    	        method: 'PUT',
	    	        headers: {...headers, 'Content-Type': 'application/json'},
	    	        body: JSON.stringify({mtrilOrderCode: selected.mtrilOrderCode, status: 'RS04'})
	    	    })
	    	    .then(response => response.json())
	    	    .then(result => {
	    	        if(result == true){
	    	        	successToast('발주내역이 취소되었습니다.');
	    	        	selected.status = '취소';
	    	        	planGrid.setRow(selected.rowKey, selected);
	    	        	cancelBtn.style.display = 'none';
	    	        }
	    	        else failToast('알 수 없는 오류로 실패했습니다.');
	    	    });
		      }
		  }); 
		});
		
		cancelBtn.addEventListener('click', () => {
			$('#simpleModal').modal('show');
		});
		
	  </script>
	  
	</body>
	
</html>