<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezotex.order.mappers.OrderMapper">
	<select id="getOrderList">
		SELECT *
		FROM ORDER_LIST
		order by PRODUCT_ORDER_CODE
	</select>

	<select id="getProductList">
		SELECT *
		FROM PRODUCT_INFO
		WHERE PRODUCT_TYPE != 'PT01'
		order by product_code
	</select>
	<select id="getCompanyList">
		SELECT *
		FROM COMPANY
	</select>

	<select id="getProductOption">
		SELECT product_color
		FROM PRODUCT_OPTION
		WHERE
		product_code = #{productCode}
		GROUP BY product_color
	</select>
	<select id="getOrderCode">
		SELECT COALESCE(
		(SELECT CASE WHEN LENGTH('POD' ||
		TO_CHAR(SYSDATE, 'YYMMDD') ||
		LPAD((TO_NUMBER(SUBSTR(MAX(PRODUCT_ORDER_CODE), 10)) + 1), 4, 0)) = 9
		THEN null
		ELSE 'POD' || TO_CHAR(SYSDATE, 'YYMMDD') ||
		LPAD((TO_NUMBER(SUBSTR(MAX(PRODUCT_ORDER_CODE), 10)) + 1), 4, 0)
		END
		FROM ORDER_LIST
		WHERE TO_CHAR(ORDER_DATE, 'YY/MM/DD') = (SELECT
		TO_CHAR(SYSDATE,
		'YY/MM/DD') FROM DUAL)),
		('POD' || TO_CHAR(SYSDATE,
		'YYMMDD') || '0001')) AS product_order_code
		FROM DUAL
	</select>
	<insert id="insertOrder" parameterType="OrderDTO">
		<selectKey resultType="String" keyProperty="productOrderCode" order="BEFORE">
			SELECT COALESCE(
			(SELECT CASE WHEN LENGTH('POD' || TO_CHAR(SYSDATE, 'YYMMDD') ||
			LPAD((TO_NUMBER(SUBSTR(MAX(PRODUCT_ORDER_CODE), 10)) + 1), 4, 0)) = 9
			THEN null
			ELSE 'POD' || TO_CHAR(SYSDATE, 'YYMMDD') ||
			LPAD((TO_NUMBER(SUBSTR(MAX(PRODUCT_ORDER_CODE), 10)) + 1), 4, 0)
			END
			FROM ORDER_LIST
			WHERE TO_CHAR(ORDER_DATE, 'YY/MM/DD') = (SELECT TO_CHAR(SYSDATE,
			'YY/MM/DD') FROM DUAL)),
			('POD' || TO_CHAR(SYSDATE, 'YYMMDD') || '0001')) AS product_order_code
			FROM DUAL
		</selectKey>
		INSERT INTO ORDER_LIST
		(
		product_order_code,
		company,
		company_representative,
		company_tel,
		charger,
		delivery_request_deadline,
		order_status,
		company_code,
		order_date,
		emp_code,
		remarks,
		amount
		)
		VALUES(
		#{productOrderCode},
		#{company},
		#{companyRepresentative},
		#{companyTel},
		#{charger},
		#{deliveryRequestDeadline},
		#{orderStatus},
		#{companyCode},
		sysdate,
		#{empCode},
		#{remarks},
		#{amount}
		)
	</insert>
	<insert id="insertProductOrder" parameterType="OrderDTO">
		INSERT INTO
		ORDER_PRODUCT
		(
		order_detail_code,
		product_order_code,
		product_code,
		product_color,
		product_size,
		qy,
		unit_price
		)
		VALUES
		(
		ORDER_DETAIL_SEQ.NEXTVAL,
		#{productOrderCode},
		#{productCode},
		#{productColor},
		#{sizeCode},
		#{quantity},
		#{unitPrice}
		)
	</insert>
	<!-- 주문코드 받아서 제품목록 조회 -->
 	<select id="getOrderProduct">
		select *
		from order_product
		where product_order_code = #{productOrderCode}
	</select>
</mapper>