<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezotex.delivery.mappers.DeliveryMapper">


	<select id="findAll" resultType="ProductDeliveryDTO">
		SELECT  m.product_order_code,
		        s.delivery_code,
		        m.company_code,
		        m.company,
		        (SELECT s.product_name
		         FROM ( SELECT product_code 
		                FROM order_product ) m JOIN product_info s
		                                         ON ( m.product_code = s.product_code)
		        WHERE ROWNUM = 1) || ' 외 '  ||
		        (SELECT count(*)
		         FROM   order_product
		         WHERE  product_order_code = m.product_order_code) || '건' AS summary,
		        get_comm(m.order_status) order_status,
		        s.charger_name,
		        m.order_date,
		        m.delivery_request_deadline
		FROM    order_list m  LEFT JOIN delivery s
		                             ON (m.product_order_code = s.product_order_code)
		                           JOIN order_product t
		                             ON (m.product_order_code = t.product_order_code)
		                           JOIN product_info f
		                             ON (t.product_code = f.product_code)
		                           JOIN emp e
		                             ON (m.emp_code = e.emp_code)
		                             OR (s.charger_code = e.emp_code)
		WHERE   m.product_order_code LIKE '%' || NVL(null, m.product_order_code) || '%'
		AND     (s.delivery_code LIKE '%' || NVL(null, s.delivery_code) || '%' OR s.delivery_code IS NULL)
		AND     (t.product_code LIKE '%' || NVL(null, t.product_code) || '%' OR t.product_code IS NULL)
		AND     (f.product_name LIKE '%' || NVL(null, f.product_name) || '%')
		AND     e.emp_name LIKE '%' || NVL(null, e.emp_name) || '%' 
		AND     e.emp_name LIKE '%' || NVL(null, e.emp_name) || '%' 
		AND     m.order_status IN ( NVL(null, m.order_status) ) 
		AND     m.order_date BETWEEN NVL(null, m.order_date) AND NVL(null, m.order_date)
		AND     m.delivery_request_deadline BETWEEN NVL(null, m.delivery_request_deadline) AND NVL(null, m.delivery_request_deadline) 
		AND     m.company_code LIKE '%' || NVL(null, m.company_code) || '%' 
		AND     m.company LIKE '%' || NVL(null, m.company) || '%' 
		AND     m.amount BETWEEN NVL(null, 0) AND NVL(null, 999999999999) 
		group by m.product_order_code, s.delivery_code, m.company_code, m.company, get_comm(m.order_status), 
		s.charger_name, m.order_date, m.delivery_request_deadline
	</select>

</mapper>