<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezotex.delivery.mappers.DeliveryMapper">


	<select id="findAll" resultType="ProductDeliveryDTO" parameterType="DeliveryOrderListSearchDTO">
		WITH order_data AS (
		    SELECT /*+ INDEX_DESC(m PK_ORDER_LIST) */
		           ROWNUM rn,
		           m.product_order_code,
		           m.company_code,
		           m.company,
		           product_summary('order_product', product_order_code) AS summary,
		           m.order_status,
		           m.charger,
		           m.order_date,
		           m.delivery_request_deadline,
		           m.amount
		    FROM order_list m
		)
		, delivery_data AS (
		    SELECT s.product_order_code,
		           s.delivery_code AS delivery_code,
		           s.charger_name AS charger_name
		    FROM delivery s 
		)
		SELECT *
		FROM(
		    SELECT ROWNUM rn,
		           od.product_order_code,
		           NVL(dd.delivery_code, '미배정') AS delivery_code,
		           od.company_code,
		           od.company,
		           od.summary,
		           get_comm(od.order_status) AS order_status,
		           NVL(dd.charger_name, '미배정') AS charger_name,
		           od.order_date,
		           od.delivery_request_deadline AS dedt
		    FROM order_data od LEFT JOIN delivery_data dd 
		                              ON od.product_order_code = dd.product_order_code
		    WHERE NOT EXISTS (SELECT delivery_code FROM packing)
		    AND ROWNUM <![CDATA[ <= ]]>#{cri.end}
		      <if test='cri.orderCode != null and cri.orderCode != ""'>AND od.product_order_code LIKE '%' || #{cri.orderCode} || '%'</if>
		      <if test="cri.totalAmountStart != null and cri.totalAmountEnd != null">
		      	AND od.amount BETWEEN #{cri.totalAmountStart} AND #{cri.totalAmountEnd})
		      </if>
		      <if test='cri.deliveryCode != null and cri.deliveryCode != ""'>AND (dd.delivery_code LIKE '%' || #{cri.deliveryCode} || '%' OR dd.delivery_code IS NULL)</if>
		      <if test='cri.deliveryCharger != null and cri.deliveryCharger != ""'>AND (dd.charger_name LIKE '%' || #{cri.deliveryCharger} || '%' )</if>
		      <if test='cri.companyCode != null and cri.companyCode != ""'>AND od.company_code LIKE '%' || #{cri.companyCode} || '%'</if>
		      <if test='cri.companyName != null and cri.companyName != ""'>AND od.company LIKE '%' || #{cri.companyName} || '%'</if>
		      <if test='cri.status != null and cri.status != ""'>AND od.order_status = #{cri.status}</if>
		      <if test="cri.orderDateStart != null and cri.orderDateStart != '' and cri.orderDateEnd != null and cri.orderDateEnd != ''">
		      	AND od.order_date BETWEEN TO_DATE(#{cri.orderDateStart}) AND TO_DATE(#{cri.orderDateEnd})
		      </if>
		      <if test="cri.dedtStart != null and cri.dedtStart != '' and cri.dedtEnd != null and cri.dedtEnd != ''">
		      	AND od.delivery_request_deadline BETWEEN TO_DATE(#{cri.dedtStart}) AND TO_DATE(#{cri.dedtEnd})
		      </if>
		    	ORDER BY od.product_order_code DESC)rw
        WHERE rw.rn <![CDATA[ >= ]]>#{cri.start}
		    	
	</select>
	
	<select id="getCount" resultType="int" parameterType="DeliveryOrderListSearchDTO">
		WITH order_data AS (
		    SELECT /*+ INDEX_DESC(m PK_ORDER_LIST) */
		           ROWNUM rn,
		           m.product_order_code,
		           m.company_code,
		           m.company,
		           product_summary('order_product', product_order_code) AS summary,
		           m.order_status,
		           m.charger,
		           m.order_date,
		           m.delivery_request_deadline,
		           m.amount
		    FROM order_list m
		)
		, delivery_data AS (
		    SELECT s.product_order_code,
		           s.delivery_code AS delivery_code,
		           s.charger_name AS charger_name
		    FROM delivery s 
		)
	    SELECT count(*)
		    FROM order_data od LEFT JOIN delivery_data dd 
		                              ON od.product_order_code = dd.product_order_code
		    WHERE NOT EXISTS (SELECT delivery_code FROM packing)
		      <if test='cri.orderCode != null and cri.orderCode != ""'>AND od.product_order_code LIKE '%' || #{cri.orderCode} || '%'</if>
		      <if test="cri.totalAmountStart != null and cri.totalAmountEnd != null">
		      	AND od.amount BETWEEN #{cri.totalAmountStart} AND #{cri.totalAmountEnd})
		      </if>
		      <if test='cri.deliveryCode != null and cri.deliveryCode != ""'>AND (dd.delivery_code LIKE '%' || #{cri.deliveryCode} || '%' OR dd.delivery_code IS NULL)</if>
		      <if test='cri.deliveryCharger != null and cri.deliveryCharger != ""'>AND (dd.charger_name LIKE '%' || #{cri.deliveryCharger} || '%' )</if>
		      <if test='cri.companyCode != null and cri.companyCode != ""'>AND od.company_code LIKE '%' || #{cri.companyCode} || '%'</if>
		      <if test='cri.companyName != null and cri.companyName != ""'>AND od.company LIKE '%' || #{cri.companyName} || '%'</if>
		      <if test='cri.status != null and cri.status != ""'>AND od.order_status = #{cri.status}</if>
		      <if test="cri.orderDateStart != null and cri.orderDateStart != '' and cri.orderDateEnd != null and cri.orderDateEnd != ''">
		      	AND od.order_date BETWEEN TO_DATE(#{cri.orderDateStart}) AND TO_DATE(#{cri.orderDateEnd})
		      </if>
		      <if test="cri.dedtStart != null and cri.dedtStart != '' and cri.dedtEnd != null and cri.dedtEnd != ''">
		      	AND od.delivery_request_deadline BETWEEN TO_DATE(#{cri.dedtStart}) AND TO_DATE(#{cri.dedtEnd})
		      </if>
		    	ORDER BY od.product_order_code DESC
	</select>
</mapper>