<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezotex.standard.mappers.StandardMapper">
<select id="EmpLoginInfo" resultType="EmpLoginInfoDTO">
select emp_code, 
       emp_id,
       emp_password,
       emp_name,
       emp_email, 
       dept_no, 
       position_no,
       emp_img
from emp
join dept
on emp.dept_code = dept.dept_code
join position
on emp.position_code = position.position_code
where emp_id = #{emp_id}
</select>

</mapper>