<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin2</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/vendors/typicons/typicons.css">
  <link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/js/template/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/logo-ezotex-mini.png">
  
  <!-- 아래부터 직접 추가 -->
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
  <!-- SheetJS(v0.17.1) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
  <!-- Toast UI Pagination - 그리드보다 먼저 import 되어야 함. -->
  <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
  <script src="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.js"></script>
  <!-- Toast UI DatePicker - 그리드보다 먼저 import 되어야 함. -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tui-date-picker/4.3.3/tui-date-picker.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tui-date-picker/4.3.3/tui-date-picker.min.js"></script>
  <!-- Toast UI Grid -->
  <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
  <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
  <script> // Toast UI Grid 테마 공통 적용
  		var Grid = tui.Grid;
			Grid.applyTheme('clean', {
				cell : {
					normal: {
						showHorizontalBorder: true,
						showVerticalBorder: true
					},
					summary: {
						background: '#f9f9f9'
					},
					editable: {
						background: '#e8feff'
					},
					disabled: {
						text: '#000'
					}
				}
			}); 
			const token = document.querySelector("meta[name='_csrf']").getAttribute("content");
			const tokenHeader = document.querySelector("meta[name='_csrf_header']").getAttribute("content")
			const headers={}
			headers[tokenHeader] = token;
  </script>
  
  <!-- comm.css, comm.js (공통 커스텀 css, js) -->
  <link rel="stylesheet" href="/css/comm.css">
  <script src="/js/comm.js"></script>
  <!-- modal, toast 알림창, spinner... -->
  <script src="/js/modal.js"></script>
  <script src="/js/toastUi.js"></script>
  <link rel="stylesheet" href="/css/toastUi.css">
  <link rel="stylesheet" href="/css/spinner.css">
  <script src="/js/spinner.js"></script>
	
</head>
<body>
	<script>
	  let session_user_code;
	  let session_user_id;
	  let session_user_name;
	  let session_user_email;
	  let session_user_img;
	  
	  function logout() {
		  let f = document.createElement('form');
		  f.setAttribute('method', 'post');
		  f.setAttribute('action', '/logout');
		  let i = document.createElement("input");
		  i.setAttribute('name', "_csrf");
		  i.setAttribute('value', token);
		  f.appendChild(i);
		  document.body.appendChild(f);
		  f.submit();
	  }
	  
	  fetch('http://localhost:80/login/userInfo')
	  .then((response) => response.json())
	  .then((data) => {
		  session_user_code = data.code;
		  session_user_id = data.id;
		  session_user_name = data.name;
		  session_user_email = data.email;
		  session_user_img = data.img;
		  document.querySelector("#Thumbnail_user_name").innerText = session_user_name;
		  document.querySelector("#Thumbnail_user_email").innerText = session_user_email;
		  
		  // fetch 이후에 접근해야 할 수 있는 커스텀이벤트 생성
		  const loginEvent = new Event('login');
		  document.dispatchEvent(loginEvent); // 이벤트 호출
	  })
  </script>
  <!-- Spinner 스피너 출력(최상단) -->
  <div class="loading-wrap">
     <div class="loading-spinner"></div>
     <p id="loadingMessage"></p>
  </div>
  
  <div class="container-scroller"> 
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
        <div class="me-3">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
        </div>
        <div>
          <a class="navbar-brand brand-logo" href="/">
            <img src="/images/logo-ezotex.png" alt="logo" />
          </a>
          <a class="navbar-brand brand-logo-mini" href="/">
            <img src="/images/logo-ezotex-mini.png" alt="logo" />
          </a>
        </div>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-top"> 
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
              <i class="icon-mail icon-lg"></i>
            </a>
          </li>
          <li class="nav-item dropdown"> 
            <a class="nav-link count-indicator" id="countDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="icon-bell"></i>
            </a>
          </li>
          <li class="nav-item dropdown d-none d-lg-block user-dropdown">
            <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="img-xs rounded-circle" th:src="|/img/${session.img}|"  alt="Profile image" id="Thumbnail_user_main_img"> </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <div class="dropdown-header text-center">
                <img class="img-s rounded-circle" th:src="'/img/'+${session.img}|" alt="Profile image" id="Thumbnail_user_img" style="width: 200px; height: 200px">
                <p class="mb-1 mt-3 font-weight-semibold" id="Thumbnail_user_name"></p>
                <p class="fw-light text-muted mb-0" id="Thumbnail_user_email"></p>
              </div>
              <a class="dropdown-item" href="javascript:logout();"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <!--
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border me-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border me-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      -->
      
      <!-- LAYOUT SIDEBAR -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
      	<div th:insert="layouts/sidebar :: sidebar"></div>
      </nav>
      
      <div class="main-panel">
        
        <!-- LAYOUT CONTENT -->
        <div class="p-3">
	       	<div layout:fragment="content"></div>
	       	<div id="toastContainer" class="toast-container"></div>
        </div>
        
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"><b class="text-primary">EzoTex</b> Supply Chain Management System</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2025. <b>EzoTex.</b> All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  
  <!-- 기본 modal -->
  <div class="modal fade" id="simpleModal" tabindex="-1" aria-labelledby="exampleModalLabel"></div>

  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/vendors/chart.js/Chart.min.js"></script>
  <script src="/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/vendors/progressbar.js/progressbar.min.js"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/js/template/off-canvas.js"></script>
  <script src="/js/template/hoverable-collapse.js"></script>
  <script src="/js/template/template.js"></script>
  <script src="/js/template/settings.js"></script>
  <script src="/js/template/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/js/template/dashboard.js"></script>
  <script src="/js/template/Chart.roundedBarCharts.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
