<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content">
	<head>
		<meta charset="UTF-8">
		<title>이조텍스SCM</title>
	</head>
	<body>
		<h3 class="fs-3 fw-bold">| Ezo<span class="text-primary">Tex</span> Main</h3>
		이조텍스를 이용해주셔서 감사합니다.
		<div class="card card-body mt-3">
			<p class="fs-5 fw-bolder">공지사항</p>
			<table class="table mt-3">
				<thead class="table-light text-center">
					<tr>
						<th class="w-75">제목</th>
						<th>등록일</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>사이드메뉴에서 토스트UI 샘플 페이지 참고하세요.</td>
						<td class="text-center">2025-02-10</td>
					</tr>
					<tr>
						<td>사이드메뉴 파일은 templates/layouts/sidebar.html 입니다.</td>
						<td class="text-center">2025-02-10</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>