<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezotex.supply.mappers.BomMapper">

	<select id="listBom" resultType="BomDTO">
		SELECT *
		FROM   bom
	</select>
	
	<select id="infoBom" resultType="BomDTO" parameterType="String">
		SELECT d.bom_detail_code,
		       d.bom_code,
		       d.mtril_code,
		       d.require_qy
		FROM   bom_details d JOIN bom b ON d.bom_code = b.bom_code
		WHERE  b.bom_code = #{bomCode}
	</select>

	<!-- BOM을 등록할 전체 제품 목록과 등록상태 -->
	<select id="listBomProduct" resultType="map" parameterType="ProductDTO">
		SELECT p.product_code,
		       p.product_name,
		       c.lclas,
			     c.sclas,
		       CASE WHEN p.product_code IN (SELECT o.product_code -- BOM 없는 옵션이 하나라도 있는 경우
		                                    FROM   product_option o LEFT JOIN bom b ON o.product_code = b.product_code 
		                                                                  AND o.product_color = b.product_color 
		                                                                  AND o.product_size = b.product_size
		                                    WHERE  b.bom_code IS NULL)
		              OR p.product_code NOT IN (SELECT product_code -- BOM이 하나도 등록되지 않은 경우
		                                        FROM   BOM)
		            THEN '등록필요' ELSE '완료' END status
		FROM   product_info p LEFT JOIN product_category c ON p.product_code = c.product_code
		WHERE  p.product_type = 'PT02' 
		<if test='productCode != null and productCode != ""'> AND p.product_code LIKE '%' || #{productCode} || '%' </if> 
		<if test='productName != null and productName != ""'> AND p.product_name LIKE '%' || #{productName} || '%'	</if> 
		<if test='lclas != null and lclas != "null"'> AND c.lclas = #{lclas}	</if> 
		<if test='sclas != null and sclas != "null"'> AND c.sclas = #{sclas}	</if> 
		ORDER  BY product_code DESC
	</select>
	
	<!-- 해당 제품의 상세 정보 / 아직 미구현 -->
	<select id="infoBomProduct" resultType="ProductDTO">
		SELECT p.product_code,
		       p.product_name,
		       c.lclas,
		       c.sclas,
		       o.option_code,
		       o.product_color, -- 옵션 함수 필요
		       o.product_size
		FROM   product_info p LEFT JOIN product_category c ON p.product_code = c.product_code
		                      LEFT JOIN product_option o ON p.product_code = o.product_code
		WHERE  product_type = 'PT02'
	</select>
	
	<!-- 제품 목록 전체 개수 -->
	<select id="countBomProduct" parameterType="ProductDTO">
		SELECT COUNT(*)
		FROM   product_info p LEFT JOIN product_category c ON p.product_code = c.product_code
		                      LEFT JOIN product_option o ON p.product_code = o.product_code
		WHERE  product_type = 'PT02' 
		<if test='productCode != null and productCode != ""'> AND p.product_code LIKE '%' || #{productCode} || '%' </if> 
		<if test='productName != null and productName != ""'> AND p.product_name LIKE '%' || #{productName} || '%'	</if> 
		<if test='lclas != null and lclas != "null"'> AND c.lclas = #{lclas}	</if> 
		<if test='sclas != null and sclas != "null"'> AND c.sclas = #{sclas}	</if> 
	</select>

</mapper>