<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezotex.supply.mappers.BomMapper">

	<select id="listBom" resultType="BomDTO">
		SELECT *
		FROM   bom
	</select>
	
	<select id="infoBom" resultType="BomDTO" parameterType="String">
		SELECT d.bom_detail_code,
		       d.bom_code,
		       d.mtril_code,
		       d.require_qy
		FROM   bom_details d JOIN bom b ON d.bom_code = b.bom_code
		WHERE  b.bom_code = #{bomCode}
	</select>

</mapper>