<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezotex.supply.mappers.MaterialOrderMapper">

	<!-- 업체 목록 -->
	<select id="listCompanyByProduct" resultType="CompanyDTO" parameterType="map">
		SELECT DISTINCT(c.company_code),
		       c.company_exponent, 
		       c.company_charger, 
		       c.company_phone, 
		       c.company_name,
		       '(' || a.address_number || ')' ||  a.address_main || ' ' || a.address_info || a.address_reference addressInfo
		FROM  company c JOIN address_list a ON c.address_seq = a.address_seq
		               JOIN material_of_company m ON m.company_code = c.company_code
		               LEFT JOIN product_option o ON o.option_code = m.option_code
		WHERE c.section = 'CP01'
		  AND  m.discontinued = 'YN02'
		<if test='companyCode != null and companyCode != "null" and companyCode != ""'> AND UPPER(c.company_code) LIKE '%' || UPPER(#{companyCode}) || '%' </if> 
		<if test='companyName != null and companyName != "null" and companyName != ""'> AND UPPER(c.company_name) LIKE '%' || UPPER(#{companyName}) || '%' </if> 
		<if test='address != null and address != "null" and address != ""'> 
			AND '(' || a.address_number || ')' ||  a.address_main || ' ' || a.address_info || a.address_reference LIKE '%' || #{address} || '%'
		</if> 
		<if test='productCode != null and productCode != "null" and productCode != ""'> AND m.product_code = #{productCode} </if> 
		<if test='productColor != null and productColor != "null" and productColor != ""'> AND o.product_color = #{productColor} </if>
		ORDER  BY company_code DESC
	</select>
	
	<!-- 업체 조회 개수 -->
	<select id="countCompanyByProduct" parameterType="map">
		SELECT COUNT(DISTINCT(c.company_code))
		FROM company c JOIN address_list a ON c.address_seq = a.address_seq
		               JOIN material_of_company m ON m.company_code = c.company_code
		               LEFT JOIN product_option o ON o.option_code = m.option_code
		WHERE c.section = 'CP01'
		  AND  m.discontinued = 'YN02'
		<if test='companyCode != null and companyCode != "null" and companyCode != ""'> AND UPPER(c.company_code) LIKE '%' || UPPER(#{companyCode}) || '%' </if> 
		<if test='companyName != null and companyName != "null" and companyName != ""'> AND UPPER(c.company_name) LIKE '%' || UPPER(#{companyName}) || '%' </if> 
		<if test='address != null and address != "null" and address != ""'> 
			AND '(' || a.address_number || ')' ||  a.address_main || ' ' || a.address_info || a.address_reference LIKE '%' || #{address} || '%'
		</if> 
		<if test='productCode != null and productCode != "null" and productCode != ""'> AND m.product_code = #{productCode} </if> 
		<if test='productColor != null and productColor != "null" and productColor != ""'> AND o.product_color = #{productColor} </if>
	</select>
	
	<!-- 자재 목록과 기본 정보 -->
	<select id="listProductByCompany" resultType="map" parameterType="map">
		SELECT DISTINCT(p.product_code),
		       p.product_name,
		       get_comm(p.unit_name) unit_name,
		       p.unit_price
		FROM   product_info p LEFT JOIN  product_category c ON p.product_code = c.product_code
		                      JOIN material_of_company m ON p.product_code = m.product_code
		WHERE  p.product_type = 'PT01'
		  AND  m.discontinued = 'YN02'
		<if test='lclas != null and lclas != "null" and lclas != "null"'> AND c.lclas = #{lclas}	</if> 
		<if test='sclas != null and sclas != "null" and sclas != "null"'> AND c.sclas = #{sclas}	</if> 
		<if test='productCode != null and productCode != "null" and productCode != ""'> AND UPPER(p.product_code) LIKE '%' || UPPER(#{productCode}) || '%' </if> 
		<if test='productName != null and productName != "null" and productName != ""'> AND UPPER(p.product_name) LIKE '%' || UPPER(#{productName}) || '%' </if> 
		<if test='companyCode != null and companyCode != "null" and companyCode != ""'> AND m.company_code = #{companyCode} </if>
		ORDER  BY product_code DESC
	</select>
	
	<!-- 자재 조회 개수 -->
	<select id="countProductByCompany" parameterType="map">
		SELECT COUNT(DISTINCT(p.product_code))
		FROM   product_info p LEFT JOIN  product_category c ON p.product_code = c.product_code
		                      JOIN material_of_company m ON p.product_code = m.product_code
		WHERE  p.product_type = 'PT01'
		  AND  m.discontinued = 'YN02'
		<if test='lclas != null and lclas != "null" and lclas != "null"'> AND c.lclas = #{lclas}	</if> 
		<if test='sclas != null and sclas != "null" and sclas != "null"'> AND c.sclas = #{sclas}	</if> 
		<if test='productCode != null and productCode != "null" and productCode != ""'> AND UPPER(p.product_code) LIKE '%' || UPPER(#{productCode}) || '%' </if> 
		<if test='productName != null and productName != "null" and productName != ""'> AND UPPER(p.product_name) LIKE '%' || UPPER(#{productName}) || '%' </if> 
		<if test='companyCode != null and companyCode != "null" and companyCode != ""'> AND m.company_code = #{companyCode} </if>
	</select>
	
    <!-- 해당 업체/자재 옵션 및 정보 조회 -->
    <select id="listColorInfoByCompany" resultType="map" parameterType="String">
        SELECT DISTINCT(o.product_color),
               o.unit_price,
               NVL(( SELECT SUM(i.inventory_qy) -- 현재고량
                       FROM inventory i
                      WHERE i.product_code = o.product_code
                        AND i.product_color = o.product_color ), 0) inventory_qy,
               NVL(( SELECT SUM(mod.order_qy) -- 아직 처리되지 않은 기발주량 합계
		               FROM material_order_details mod JOIN material_order mo ON mod.mtril_order_code = mo.mtril_order_code
		              WHERE mo.status IN ('RS01', 'RS02') -- 발주상태: 대기 혹은 부분출고
		                AND mod.product_code = o.product_code
		                AND mod.product_color = o.product_color ), 0) storing_qy,
		       (SELECT ROUND(AVG(duration))
		        FROM   (SELECT (TRUNC(TO_DATE( (SELECT MAX(updde)
		                                        FROM   delivery
		                                        WHERE  mtril_order_code = mo.mtril_order_code) ))
		                        - TRUNC(rgsde)) duration,
		                       mo.mtril_order_code,
		                       d.product_code,
		                       d.product_color,
		                       mo.company_code
		                FROM   material_order mo JOIN material_order_details d ON mo.mtril_order_code = d.mtril_order_code
		                WHERE  mo.status = 'RS03') -- 발주에서 출고완료 상태까지의 평균값 산출 (7일 범위 이내에서 계산))
		        WHERE duration <![CDATA[<=]]> 7
		          AND product_code = o.product_code
		          AND product_color = o.product_color
		          AND company_code = m.company_code) duration
        FROM   product_option o JOIN material_of_company m ON o.option_code = m.option_code
        WHERE  o.product_code = #{productCode}
          AND  o.discontinued = 'YN02'
        <if test='companyCode != null and companyCode != ""'> 
          AND  m.company_code = #{companyCode} 
          AND  m.discontinued = 'YN02'        
        </if>
        ORDER  BY product_color
    </select>
    
    <!-- 해당 업체/자재의 옵션이 없을 경우 조회 (자재 조회 listProductByCompany에서 한번에 조회하려니 속도가 지나치게 느림.) -->
    <select id="infoMtrByCompany" resultType="map" parameterType="String">
        SELECT inventory_qy, storing_qy, duration FROM (
        SELECT DISTINCT(p.product_code), 
               rownum rn,
               NVL(( SELECT SUM(i.inventory_qy) -- 현재고량
                       FROM inventory i
                      WHERE i.product_code = p.product_code ), 0) inventory_qy,
               NVL(( SELECT SUM(mod.order_qy) -- 아직 처리되지 않은 기발주량 합계
                       FROM material_order_details mod JOIN material_order mo ON mod.mtril_order_code = mo.mtril_order_code
                      WHERE mo.status IN ('RS01', 'RS02') -- 발주상태: 대기 혹은 부분출고
                        AND mod.product_code = p.product_code ), 0) storing_qy,
               (SELECT ROUND(AVG(duration))
                FROM   (SELECT (TRUNC(TO_DATE( (SELECT MAX(updde)
                                                FROM   delivery
                                                WHERE  mtril_order_code = mo.mtril_order_code) ))
                                - TRUNC(rgsde)) duration,
                               mo.mtril_order_code,
                               d.product_code,
                               d.product_color,
                               mo.company_code
                        FROM   material_order mo JOIN material_order_details d ON mo.mtril_order_code = d.mtril_order_code
                        WHERE  mo.status = 'RS03') -- 발주에서 출고완료 상태까지의 평균값 산출 (7일 범위 이내에서 계산))
                WHERE duration <![CDATA[<=]]> 7
                  AND product_code = p.product_code
                  <if test='companyCode != null and companyCode != ""'> AND company_code = m.company_code</if>) duration
        FROM   product_info p JOIN material_of_company m ON p.product_code = m.product_code
        WHERE  p.product_code = #{productCode}
        <if test='companyCode != null and companyCode != ""'> 
          AND  m.company_code = #{companyCode} 
          AND  m.discontinued = 'YN02'        
        </if>
        ORDER  BY duration NULLS LAST ) WHERE rn = 1
    </select>
	
	<!-- 발주계획서(헤더) 조회 -->
	<select id="listOrderPlan" resultType="MaterialOrderPlanDTO" parameterType="map">
		SELECT * FROM
		    (SELECT DISTINCT(p.mtril_order_plan_code),
		            p.due_date,
		            product_summary('material_order_plan_details', p.mtril_order_plan_code) summary,
		            (SELECT SUM(order_qy) 
		             FROM   material_order_plan_details
		             WHERE  mtril_order_plan_code = p.mtril_order_plan_code) order_qy,
		            p.remark,
		            p.charger_name,
                    p.rgsde,
                    p.update_date,
		            get_comm(p.status) status
		     FROM   material_order_plan p JOIN material_order_plan_details d ON p.mtril_order_plan_code = d.mtril_order_plan_code
		    <where>
		      <if test='status != null'> AND p.status IN ( <foreach collection="status" item="st" separator=", "> #{st} </foreach> ) </if>
		      <if test='productCode != null and productCode != ""'> AND UPPER(d.product_code) LIKE '%' ||  UPPER(#{productCode}) || '%' </if>
              <if test='productName != null and productName != ""'> AND UPPER(get_prd_name(d.product_code)) LIKE '%' || UPPER(#{productName}) || '%' </if>
              <if test='companyCode != null and companyCode != ""'> AND UPPER(d.company_code) LIKE '%' || UPPER(#{companyCode}) || '%' </if>
              <if test='companyName != null and companyName != ""'> AND UPPER(d.company_name) LIKE '%' || UPPER(#{companyName}) || '%' </if>
		    </where> ) -- 서브쿼리 형태로 alias 사용 가능
		<where> 
		  <if test='mtrilOrderPlanCode != null and mtrilOrderPlanCode != ""'> AND UPPER(mtril_order_plan_code) LIKE '%' || UPPER(#{mtrilOrderPlanCode}) || '%' </if>
		  <if test='dueMin != null and dueMin != ""'> AND  TO_CHAR(due_date, 'yyyy-mm-dd') >= #{dueMin} </if> 
	      <if test='dueMax != null and dueMax != ""'> AND  TO_CHAR(due_date, 'yyyy-mm-dd') <![CDATA[<= #{dueMax}]]> </if> 
	      
	      <if test='qyMin != null and qyMin != ""'> AND  order_qy >= #{qyMin} </if> 
	      <if test='qyMax != null and qyMax != ""'> AND  order_qy <![CDATA[<= #{qyMax}]]> </if> 
	      <if test='remark != null and remark != ""'> AND UPPER(remark) LIKE '%' || UPPER(#{remark}) || '%' </if> 
	      <if test='chargerName != null and chargerName != ""'> AND UPPER(charger_name) LIKE '%' || UPPER(#{chargerName}) || '%' </if> 
	      
	      <if test='rgsdeMin != null and rgsdeMin != ""'> AND  TO_CHAR(rgsde, 'yyyy-mm-dd') >= #{rgsdeMin} </if> 
	      <if test='rgsdeMax != null and rgsdeMax != ""'> AND  TO_CHAR(rgsde, 'yyyy-mm-dd') <![CDATA[<= #{rgsdeMax}]]> </if> 
		</where>
			ORDER  BY mtril_order_plan_code DESC
	  </select>
	  
	  <!-- 발주계획서(헤더) 개수 -->
	  <select id="countOrderPlan" parameterType="map">
	    SELECT COUNT(*) FROM
	        (SELECT DISTINCT(p.mtril_order_plan_code),
	                p.due_date,
	                (SELECT SUM(order_qy) 
	                 FROM   material_order_plan_details
	                 WHERE  mtril_order_plan_code = p.mtril_order_plan_code) order_qy,
	                p.remark,
	                p.charger_name,
	                p.rgsde,
	                p.update_date,
	                get_comm(p.status) status
	         FROM   material_order_plan p JOIN material_order_plan_details d ON p.mtril_order_plan_code = d.mtril_order_plan_code
	        <where>
	          <if test='status != null'> AND p.status IN ( <foreach collection="status" item="st" separator=", "> #{st} </foreach> ) </if>
	          <if test='productCode != null and productCode != ""'> AND UPPER(d.product_code) LIKE '%' ||  UPPER(#{productCode}) || '%' </if>
              <if test='productName != null and productName != ""'> AND UPPER(get_prd_name(d.product_code)) LIKE '%' || UPPER(#{productName}) || '%' </if>
              <if test='companyCode != null and companyCode != ""'> AND UPPER(d.company_code) LIKE '%' || UPPER(#{companyCode}) || '%' </if>
              <if test='companyName != null and companyName != ""'> AND UPPER(d.company_name) LIKE '%' || UPPER(#{companyName}) || '%' </if>
	        </where> ) -- 바깥에서 검색하여 alias 이용 가능
	    <where> 
	      <if test='mtrilOrderPlanCode != null and mtrilOrderPlanCode != ""'> AND UPPER(mtril_order_plan_code) LIKE '%' || UPPER(#{mtrilOrderPlanCode}) || '%' </if>
	      <if test='dueMin != null and dueMin != ""'> AND  TO_CHAR(due_date, 'yyyy-mm-dd') >= #{dueMin} </if> 
	      <if test='dueMax != null and dueMax != ""'> AND  TO_CHAR(due_date, 'yyyy-mm-dd') <![CDATA[<= #{dueMax}]]> </if> 
	      
	      <if test='qyMin != null and qyMin != ""'> AND  order_qy >= #{qyMin} </if> 
	      <if test='qyMax != null and qyMax != ""'> AND  order_qy <![CDATA[<= #{qyMax}]]> </if> 
	      <if test='remark != null and remark != ""'> AND UPPER(remark) LIKE '%' || UPPER(#{remark}) || '%' </if> 
	      <if test='chargerName != null and chargerName != ""'> AND UPPER(charger_name) LIKE '%' || UPPER(#{chargerName}) || '%' </if> 
	      
	      <if test='rgsdeMin != null and rgsdeMin != ""'> AND  TO_CHAR(rgsde, 'yyyy-mm-dd') >= #{rgsdeMin} </if> 
	      <if test='rgsdeMax != null and rgsdeMax != ""'> AND  TO_CHAR(rgsde, 'yyyy-mm-dd') <![CDATA[<= #{rgsdeMax}]]> </if> 
	    </where>
    </select>
  
    <!-- 발주계획서(디테일) 조회 -->
    <select id="infoOrderPlan" resultType="MaterialOrderPlanDTO" parameterType="String">
        SELECT d.mtril_order_plan_code,
		       d.company_code,
		       d.company_name,
		       d.product_code,
		       p.product_name,
		       d.order_qy,
		       d.product_color,
		       get_comm(p.unit_name) unit_name,
		       NVL(o.unit_price, p.unit_price) unit_price
		FROM   material_order_plan_details d JOIN product_info p   ON d.product_code = p.product_code
		                                LEFT JOIN product_option o ON d.product_code = o.product_code
		                                                          AND d.product_color = o.product_color
		WHERE  d.mtril_order_plan_code = #{mtrilOrderPlanCode}
    </select>
    
    <!-- 발주서(헤더) 조회 -->
    <select id="listOrder" resultType="MaterialOrderDTO" parameterType="MaterialOrderDTO">
        SELECT * FROM (
			SELECT o.mtril_order_code,
			       o.company_code,
			       o.company_name,
			       product_summary('material_order_details', o.mtril_order_code) summary,
			       o.due_date,
			       SUM(d.order_qy) order_qy,
			       SUM(d.amount) amount,
			       o.charger_name,
			       o.remark,
			       o.rgsde,
			       o.update_date,
			       get_comm(o.status) status
			FROM   material_order o JOIN material_order_details d ON o.mtril_order_code = d.mtril_order_code
			<where>
              <if test='status != null'> AND o.status IN ( <foreach collection="status" item="st" separator=", "> #{st} </foreach> ) </if>
              <if test='productCode != null and productCode != ""'> AND UPPER(d.product_code) LIKE '%' ||  UPPER(#{productCode}) || '%' </if>
              <if test='productName != null and productName != ""'> AND UPPER(get_prd_name(d.product_code)) LIKE '%' || UPPER(#{productName}) || '%' </if>
              <if test='companyCode != null and companyCode != ""'> AND UPPER(o.company_code) LIKE '%' || UPPER(#{companyCode}) || '%' </if>
              <if test='companyName != null and companyName != ""'> AND UPPER(o.company_name) LIKE '%' || UPPER(#{companyName}) || '%' </if>
            </where> 
			GROUP  BY o.mtril_order_code, o.company_code, o.company_name, o.due_date, o.charger_name, o.remark, o.rgsde, o.update_date, o.status
		    ) -- 바깥에서 검색하여 alias 이용 가능
		<where> 
          <if test='mtrilOrderCode != null and mtrilOrderCode != ""'> AND UPPER(mtril_order_code) LIKE '%' || UPPER(#{mtrilOrderCode}) || '%' </if>
          <if test='dueMin != null and dueMin != ""'> AND  TO_CHAR(due_date, 'yyyy-mm-dd') >= #{dueMin} </if> 
          <if test='dueMax != null and dueMax != ""'> AND  TO_CHAR(due_date, 'yyyy-mm-dd') <![CDATA[<= #{dueMax}]]> </if> 
          
          <if test='qyMin != null and qyMin != ""'> AND  order_qy >= #{qyMin} </if> 
          <if test='qyMax != null and qyMax != ""'> AND  order_qy <![CDATA[<= #{qyMax}]]> </if> 
          <if test='amountMin != null and amountMin != ""'> AND  amount >= #{amountMin} </if> 
          <if test='amountMax != null and amountMax != ""'> AND  amount <![CDATA[<= #{amountMax}]]> </if> 
          <if test='remark != null and remark != ""'> AND UPPER(remark) LIKE '%' || UPPER(#{remark}) || '%' </if> 
          <if test='chargerName != null and chargerName != ""'> AND UPPER(charger_name) LIKE '%' || UPPER(#{chargerName}) || '%' </if> 
          
          <if test='rgsdeMin != null and rgsdeMin != ""'> AND  TO_CHAR(rgsde, 'yyyy-mm-dd') >= #{rgsdeMin} </if> 
          <if test='rgsdeMax != null and rgsdeMax != ""'> AND  TO_CHAR(rgsde, 'yyyy-mm-dd') <![CDATA[<= #{rgsdeMax}]]> </if> 
        </where>
       ORDER  BY mtril_order_code DESC
    </select>
    
    <!-- 발주서(디테일) 조회 -->
    <select id="infoOrder" resultType="MaterialOrderDTO" parameterType="String">
        SELECT product_code, 
               get_prd_name(d.product_code) product_name,
		       product_color, 
		       order_qy,
		       get_comm((SELECT unit_name 
		                 FROM product_info 
		                 WHERE product_code = d.product_code)) unit_name,
		       unit_price, 
		       amount 
		FROM   material_order_details d
		WHERE  mtril_order_code = #{mtrilOrderCode}
    </select>
	
	<!-- 발주서 등록(헤더) -->
	<insert id="insertMaterialOrder" parameterType="MaterialOrderDTO">
		INSERT INTO material_order (mtril_order_code, company_code, company_name, due_date, charger_code, charger_name, remark)
		VALUES ((SELECT COALESCE( (SELECT  CASE WHEN LENGTH('MOD' || TO_CHAR(SYSDATE, 'YYMMDD') || LPAD((TO_NUMBER(SUBSTR(MAX(mtril_order_code), 10)) + 1), 4, 0)) = 9 THEN null
								           ELSE 'MOD' || TO_CHAR(SYSDATE, 'YYMMDD') || LPAD((TO_NUMBER(SUBSTR(MAX(mtril_order_code), 10)) + 1), 4, 0)
								           END
						 FROM    material_order 
					   WHERE   TO_CHAR(rgsde, 'YY/MM/DD') = (SELECT TO_CHAR(SYSDATE, 'YY/MM/DD') FROM DUAL)), 
					   ('MOD' || TO_CHAR(SYSDATE, 'YYMMDD') || '0001')) AS mtril_order_code
				     FROM DUAL), -- 현재 날짜로 번호 부여
		         #{companyCode}, #{companyName}, #{dueDate}, #{chargerCode}, #{chargerName}, #{remark})
	</insert>
	
	<!-- 발주서 등록(디테일) -->
	<insert id="insertMaterialOrderDetail" parameterType="MaterialOrderDTO">
		INSERT INTO material_order_details (mtril_order_detail_code, mtril_order_code, product_code, order_qy, amount, product_color, unit_price)
		VALUES ((SELECT NVL(MAX(mtril_order_detail_code), 0) + 1 FROM material_order_details), -- 다음 번호 조회
		        (SELECT MAX(mtril_order_code) FROM material_order), #{productCode}, #{orderQy}, #{amount}, #{productColor}, #{unitPrice})
	</insert>
	
	
  <!-- 발주계획 등록(헤더) -->
  <insert id="insertMaterialOrderPlan" parameterType="MaterialOrderPlanDTO">
    INSERT INTO material_order_plan (mtril_order_plan_code, due_date, charger_code, charger_name, remark)
    VALUES ((SELECT COALESCE( (SELECT  CASE WHEN LENGTH('MOP' || TO_CHAR(SYSDATE, 'YYMMDD') || LPAD((TO_NUMBER(SUBSTR(MAX(mtril_order_plan_code), 10)) + 1), 4, 0)) = 9 THEN null
                           ELSE 'MOP' || TO_CHAR(SYSDATE, 'YYMMDD') || LPAD((TO_NUMBER(SUBSTR(MAX(mtril_order_plan_code), 10)) + 1), 4, 0)
                           END
             FROM    material_order_plan 
             WHERE   TO_CHAR(rgsde, 'YY/MM/DD') = (SELECT TO_CHAR(SYSDATE, 'YY/MM/DD') FROM DUAL)), 
             ('MOP' || TO_CHAR(SYSDATE, 'YYMMDD') || '0001')) AS mtril_order_plan_code
             FROM DUAL), -- 현재 날짜로 번호 부여
             #{dueDate}, #{chargerCode}, #{chargerName}, #{remark})
  </insert>
  
  <!-- 발주계획 등록(디테일) -->
  <insert id="insertMaterialOrderPlanDetail" parameterType="MaterialOrderPlanDTO">
    INSERT INTO material_order_plan_details (mtril_order_plan_detail_code, mtril_order_plan_code, company_code, company_name, product_code, order_qy, product_color)
    VALUES ((SELECT NVL(MAX(mtril_order_plan_detail_code), 0) + 1 FROM material_order_plan_details), -- 다음 번호 조회
            (SELECT MAX(mtril_order_plan_code) FROM material_order_plan), 
            #{companyCode}, #{companyName}, #{productCode}, #{orderQy}, #{productColor})
  </insert>
  
  <!-- 발주서 수정 -->
  <update id="updateOrder" parameterType="MaterialOrderDTO">
    UPDATE material_order
    <trim prefix="SET" suffixOverrides=",">
      update_date = SYSDATE,
      <if test="dueDate != null">due_date = #{dueDate},</if>
      <if test="remark != null">remark = #{remark},</if>
      <if test="status != null">status = #{status},</if>
   </trim>
    WHERE mtril_order_code = #{mtrilOrderCode}
  </update>
  
  <update id="updateOrderDetail" parameterType="MaterialOrderDTO">
    UPDATE material_order_details
    SET    order_qy = #{orderQy}
    WHERE  mtril_order_code = #{mtrilOrderCode}
      AND  product_code = #{productCode}
      AND  <choose>
              <when test='productColor == "null"'>product_color IS NULL</when>
              <otherwise>product_color = #{productColor}</otherwise>
           </choose>
  </update>
  
  <!-- 발주계획서 수정 -->
  <update id="updatePlan" parameterType="MaterialOrderPlanDTO">
    UPDATE material_order_plan
    <trim prefix="SET" suffixOverrides=",">
      update_date = SYSDATE,
      <if test='dueDate != null'>due_date = #{dueDate},</if>
      <if test="remark != null">remark = #{remark},</if>
      <if test="status != null">status = #{status},</if>
   </trim>
   WHERE mtril_order_plan_code = #{mtrilOrderPlanCode}
  </update>
  
  <update id="updatePlanDetail" parameterType="MaterialOrderPlanDTO">
    UPDATE material_order_plan_details
    SET    order_qy = #{orderQy}
    WHERE  mtril_order_plan_code = #{mtrilOrderPlanCode}
      AND  product_code = #{productCode}
      AND  <choose>
              <when test='productColor == "null"'>product_color IS NULL</when>
              <otherwise>product_color = #{productColor}</otherwise>
           </choose>
  </update>
	
</mapper>